body {
 
    text-decoration: none;
    width: 100%;
    height: 100%;
    min-width: 990px;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#bym-wrapper {
	#max-width: 1600px;
	width:100%;
	height: auto;
	text-align: center;
	margin:0;
	padding:0;

}

#bym-header {
	max-width: 1600px;
	width:100%;
	background: url('images/bym-space.jpg') no-repeat bottom center;
	height:500px;
	display: inline-block;
	text-align: center;
	
}

#bym-social {
	#background: #fff url("images/social_line.gif") no-repeat center top;
	height: 80px;
}

#bym-social #bym-logo {
	width:23%;
	text-align: left;
	min-width: 325px;
	float: left;
	padding-left: 160px;
	padding-top: 10px;
}

#bym-buttons {
	padding: 30px 10px 30px 10px;
	width: 200px;
	float: right;
	padding-right:155px;
}
#bym-buttons img {
	padding: 0px 10px 0px 0px;
}

#bym-content {
	max-width:1090px;
	min-width:1090px;
	width:100%;
	text-align: center;
	display: inline-block;
	background: #fff url('images/backmons.jpg') no-repeat bottom center;
}

#bym-content-m9 {
	max-width:1090px;
	min-width:1090px;
	width:100%;
	text-align: center;
	display: inline-block;
	background: #fff url('images/monback9.jpg') no-repeat bottom center;

}
.bym-all_year {
	height: 500px;
	text-align: center;
	display: inline-block;
	padding-top: 60px;
}


.bym-all_year .bym-mounth {
	float: left;

}
.bym-all_year .bym-mounth .bym-name {

	color:#c4f0ff;
	font-size: 26px;
}

.bym-all_year .bym-digit {
	font-size: 162px;
	color:#c4f0ff;
	display: block;
	margin-top: -40px;
}

.bym-all_year .bym-description .bym-title {
	color:#33ccff;
	font-size: 30px;
	font-weight: bold;
}

.bym-all_year .bym-description {
	width: 355px;
	padding-left: 20px;
	float: left;margin-top: -13px;
	text-align: left;
}

.bym-all_year .bym-description img {
	padding: 0;
	margin: 0;

}

.bym-all_year .bym-description .bym-text {
	font-size: 16px;
	padding-top: 25px;
	color: #d4fafd;
	line-height: 22px;

}
.bym-all_year  img{
	margin-top: 10px;
	padding-left: 60px;
}

#bym-mon{
	max-width:1090px;
	width:100%;
	height: 958px;
	text-align: center;
	display: inline-block;
	
}

#bym-mon1 {
	color: #cc33ff;
	font-size: 21px;
	text-align: left;
	padding-top: 57px;
	width: 440px;
	float: left;
	padding-left: 40px;
	height:365px;
}

#bym-mon1-img {
	width: 420px;
	float: left;
	padding-left: 100px;
	padding-top: 81px;
}

#bym-mon1 ul li {
	font-size: 16px;
	color: #333333;
	line-height: 18px;
	list-style-image: url('images/blue-arrow.png');
	padding-top: 10px;
	list-style-position: outside;
	margin-left: 20px;

}

#bym-mon1 ul li ul li {
	font-size: 16px;
	color: #333333;
	line-height: 18px;
	list-style-image: url('images/grey-arrow.png');
	margin-left: 20px;
}

#bym-mon2 {
	color: #cc33ff;
	font-size: 21px;
	text-align: left;
	padding-top: 250px;
	width: 440px;
	float: left;
	padding-left: 84px;
}

#bym-mon2-m9 {
	text-align: left;
	padding-top: 250px;
	width: 440px;
	float: left;
	padding-left: 0px;
}

#bym-mon2-m9 p {
	font-size: 24px;
	padding-top: 30px;
}
#bym-mon2-m9 h2 {
	color: #cc33ff;
	font-size: 48px;
	line-height: 18px;
}

#bym-mon2-m9-img {
	width: 400px;
	float: left;
	padding-left: 106px;
	padding-top: 177px;
}

#bym-mon2-img {
	width: 420px;
	float: left;
	padding-left: 46px;
	padding-top: 172px;
}


#bym-mon2 ul li {
	font-size: 16px;
	color: #333333;
	line-height: 18px;
	list-style-image: url('images/blue-arrow.png');
	padding-top: 10px;
	list-style-position: outside;
	margin-left: 20px;

}

#bym-mon2 ul li ul li {
	font-size: 16px;
	color: #333333;
	line-height: 18px;
	list-style-image: url('images/grey-arrow.png');
	margin-left: 20px;
}

#bym-mon2 ul li ul li ul li{
	font-size: 16px;
	color: #333333;
	line-height: 18px;
	list-style-image: url('images/grey-arrow-13.png');
	margin-left: 20px;
}

#bym-reg{
	width:100%;
	height: 160px;
	text-align: center;
	display: inline-block;
	background: #fff url('images/backreg.jpg') no-repeat top center;
}

#bym-reg .pic {
	padding-top: 35px;
	padding-right: 25px;
	/*padding-left: 10px;*/
	text-align: center;
	display: inline-block;
}

#bym-reg-bot{
	width:100%;
	height: 215px;
	text-align: center;
	display: inline-block;
	background: #fff url('images/backreg-1.jpg') no-repeat top center;
}

#bym-reg-bot .pic {
	padding: 90px 25px 0 0;
	text-align: center;
	display: inline-block;
}

#bym-footer {
	text-align: center;
	display: inline-block;
}

#bym-footer img {
	float:left;
	padding-top: 40px;
}

.bym-about {
	width:450px;
	text-align: left;
	float: left;
	padding-left: 20px;
	padding-top: 40px;
}


.bym-about_name {
	font-size: 24px;
	font-weight: bold;
	color: #ff9900;
}
.bym-about_autor {
	color: #999999;
	font-size: 16px;
	padding-bottom: 10px;
}

.bym-about_desc p {
	font-size: 16px;
	padding-top: 10px;
}

.bym-vk {
	float:left;
	padding-top: 30px;
}

.bym-footer_info {
	margin-top: 45px;
	background: #fff url('images/backfoot.png') no-repeat top center;
	color:#999999;
}

.bym-copy {
	font-family: arial;
	font-size: 13px;
	text-align: center;
	padding-top: 40px;
	color:#999999;
}

.bym-site{
	padding-top: 10px;
	padding-bottom: 30px;
}

.bym-site a {
	font-family: arial;
	font-size: 13px;
	color:#999999;
	text-decoration: none;
}

.bym-bottom_menu  {
	padding-top: 10px;
	

}
.bym-bottom_menu a {
	font-family: arial;
	font-size: 13px;
	color: #33ccff;
	text-decoration: none;

}

.whatsay  {
	width: 850px;
	padding-top: 55px;
	text-align:center;
	display:inline-block;
}

.whatsay div {
	font-size: 32px;
	float: left;
	padding-left: 9px;
	padding-right: 9px;
	line-height: 36px; 
}

.price-top {
	/*clear: both;*/
	float: left;
	font-size: 60px;
	color: #cc33ff;
	margin-left: 290px;
	margin-top: 60px;
}

.price-bot {
	font-size: 60px;  
	color: #cc33ff;
	width: 500px;
	text-align: left;
	display: inline-block;
}

#bym-comment {
	max-width:1090px;
	min-width:1090px;
	width:100%;
	text-align: center;
	display: inline-block;
}

.comment {
	background: url('images/formuls.png') no-repeat bottom center;
	margin-top: 40px;
}
.comment div {
	float: left;
}

.comment div img {
	float: left;
	padding-left: 130px;
}
.comment_text {
	text-align: left;
	width: 620px;
	padding-left: 20px;
	line-height: 20px;
}

.comment_text .comment_title {
	color: #1EAAD9;
	font-size: 22px;
	padding-bottom: 20px;
	line-height: 26px;
}

.comment_text p {
	font-size: 15px;
	margin-top: 10px;
}

.comment_text .autor {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 7px;
	padding-bottom: 28px;
	color: #666;
}

.no_image {
	width: 258px;
	height: 20px;
}