/*--------------------------------------------------------------------------------------*/
/* start reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; } textarea { overflow: auto; } body { line-height: 1; } ol,ul { list-style: none; } blockquote,q { quotes: none; } blockquote:before,blockquote:after,q:before,q:after { content: none; } table{ border-collapse: collapse; border-spacing: 0; } img { vertical-align: top; } :focus { outline: none; } h1,h2,h3,h4,h5,h6 { font-weight: normal; line-height: normal; } ::-moz-focus-inner { border: 0; }
.clear_auto { clear: both; display: block; height: 0; line-height: 0; font-size: 0; margin: 0; padding: 0; border: 0; } ::-ms-clear { display: none; }
/* end reset css */
