/* 
-html5 tags like header, footer is working in ie8 and lower
-float: left and right clears automatically
-inline-block is working in internet explorer 7
-internet explorer body class:
.ie7 .class { color: red; } 
.ie8lte .class { color: red; } 
.ie8 .class { color: red; } 
*/
@font-face {
    font-family: 'avantgardectt_r';
    src: url('../fonts/avantgardectt_r.eot');
    src: url('../fonts/avantgardectt_r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardectt_r.woff') format('woff'),
         url('../fonts/avantgardectt_r.ttf') format('truetype'),
         url('../fonts/avantgardectt_r.svg#avantgardectt_r') format('svg');
    font-weight: normal;
    font-style: normal;
	}


	
/* start reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; } textarea { overflow: auto; } body { line-height: 1; } ol,ul { list-style: none; } blockquote,q { quotes: none; } blockquote:before,blockquote:after,q:before,q:after { content: none; } table{ border-collapse: collapse; border-spacing: 0; } img { vertical-align: top; } :focus { outline: none; } h1,h2,h3,h4,h5,h6 { font-weight: normal; line-height: normal; } ::-moz-focus-inner { border: 0; }
.clear_auto { clear: both; display: block; height: 0; line-height: 0; font-size: 0; margin: 0; padding: 0; border: 0; } ::-ms-clear { display: none; }
/* end reset css */

body { font-family: arial; min-width: 1000px; font-size: 14px; color: #333; background:none;}

a { color: #333; }

p {
	line-height: 19px;
	font-family: arial;
	font-size:16px;
	}

a:hover { text-decoration: none; }

h5 {color: #4D4D4D;font-size: 21px;line-height: 30px;padding-top: 20px;text-transform: uppercase;font-family: Times New Roman;font-weight: bold; text-align:left;}

.header {background: #ffffff;}

.header > .inner { width: 1000px; margin: 0 auto; height: 75px; padding: 1px 0 0 0; }

.border { display: block; height: 1px; background: #dedede; }

.logo { float: left; }

.menu { float: right; margin: 18px 0 0 0; }

.menu a { float: left; margin: 0 0 0 7px; }

.menu img { display: block; }

.main > .inner { width: 880px; margin: 0 auto; }

.menu2 { margin: 36px 0 0 0; }

.menu2 .i { float: left; text-decoration: none; color: #fff; background: #1852ad; line-height: 32px; width: 291px; text-align: center; margin: 0 0 0 1px; font-size: 11px; border-radius: 13px 13px 0 0;  padding: 0; box-shadow: inset 0 -1px 5px rgba(0,0,0,0.2); text-transform:uppercase;}

.menu2 .i:first-child { margin-left: 2px; }

.menu2 .i.tworow { line-height: 12px; padding-top: 4px; padding-bottom: 4px; text-transform: uppercase; font-size: 11px; }

.menu2 .i.active { padding-top: 2px; padding-bottom: 2px; margin-top: -4px; cursor: default; }

.menu2 .i.tworow.active { padding-top: 6px; padding-bottom: 6px; line-height: 12px;}

.menu2 .i1 { background: #1852ad; }

.menu2 .i2 { background: #f7cd25; }

.menu2 .i3 { background: #d00303; }

.menu2 .i4 { background: #A844B6; }

.menu2 .i5 { background: #376D9C; }

.menu2 .i6 { background: #d00303; }

.menu2 .i7 { background: #666666; }

.block .title { line-height: 51px; background: #d00303; text-align: center; font-size: 18px; color: #fff;  text-transform: uppercase; position: relative; z-index: 2; zoom: 1; }

.block .title .custom { font-size: 22px; }

.block .body { position: relative; z-index: 1; }

.block2 { padding: 1px 0 0 0; }

.block3 { float: left; margin: 23px 0 -20px 0;width:450px; }

.block3 .i { float: left; margin: 0 0 0 8px; }

.block3 .i:first-child { margin-left: 0; }

.block3 .text { clear: both; text-align: center; text-transform: uppercase; font-size: 14px; color: #53b7e7; line-height: 24px; }

/*.block3 .text:first-letter { font-size: 20px; } */

.block4 { float: right; margin: 20px 0 0 0; }

.block4 .i { float: left; }

.block4 .i.map { margin: 0 0 0 25px; box-shadow: 0 0 5px rgba(0,0,0,0.4); } 

.border2 { display: block; height: 1px; background: #ccc; margin: 3px 0 0 0; }

.block5 { text-align: center; color: #333333; line-height: 49px; font-size: 14px; }
.block5 img {margin:20px 30px;}

.border3 { display: block; height: 1px; background: #ccc; }

.block6 { padding: 1px 0 1px 0; zoom: 1; }

.block6 .i { float: left; width: 390px; line-height: 46px; padding: 0 0 0 50px; }

.block6 .i1 { background: url(../img/a1.png) no-repeat 17px center; }

.block6 .i2 { width: 389px; border-left: 1px solid #ccc; background: url(../img/a2.png) no-repeat 17px center; }

.block7 { padding: 1px 0 0 0; }

.block7 .img { float: left; width: 539px; }

.block7 .facebook { float: left; width: 325px; margin: 53px 0 0 14px; }

.block8 { margin: 45px 0 0 0; }

.block8 .left { float: left; width: 400px; min-height: 100px; }

.block8 .right { float: right; width: 400px; min-height: 100px; }

.block8 .text { float: left; width: 880px; min-height: 100px; font-size: 16px; line-height: 24px; }

.block14 {margin: 15px 0;}

.block14 .text2 { float: left; font-size: 16px; line-height: 24px; }

.text2 {font-size: 16px; line-height: 24px; }

.border4 { display: block; height: 1px; background: #ccc; margin: 20px 0 0 0; }

.block9 { margin: 30px 0 0 0; }

.block9 .title { font-size: 32px; line-height: 36px; font-family: trebuchet ms;  padding: 0 0 0 138px; }

.block10 { width: 620px; margin: 0 auto; margin: 0 0 0 158px; }

.block10 .i { border-bottom: 1px solid #ccc; padding: 1px 0 30px 0; }

.block10 .name { font-size: 13px; line-height: 17px; margin: 25px 0 0 0; color: #515151; }

.block10 .name .figure { font-family: georgia; font-size: 16px; }

.block10 .name .custom { font-style: italic; }

.block10 .date { color: #888888; font-size: 13px; line-height: 17px; margin: 5px 0 0 0; }

.block10 .date .customize { color: #888888; text-decoration: none; margin: 0 0 0 10px; }


.block10 .picture { float: left; padding: 5px; background: #fff; border: 1px solid #e4e4e4; position: relative; z-index: 2; }

.block10 .comment { margin: 12px 0 0 40px; }

.block10 .text { background: #f6f6f6; border-radius: 7px; line-height: 20px; padding: 20px 20px 25px 30px; text-align: justify; float: left; width: 430px; margin: 0 0 0 -11px; position: relative; z-index: 1; min-height: 70px; font-size: 13px; }

.border5 { display: block; height: 1px; background: #ccc; margin: 30px 0 0 0; }

.block11 { background: #f6f6f6; margin: 20px 0 0 148px; position: relative; width: 600px; padding: 20px 20px 0 20px; }

.block11 .dot { position: absolute; top: 0; }

.block11 .dot1 { left: 0; width: 4px; height: 4px; background: #92BFD3; }

.block11 .dot2 { right: 0; width: 4px; height: 4px; background: #92BFD3; }

.block11 .title2 { font-size: 20px; }

.block11 .shadow { margin: 10px 0 0 -20px; }

.block11 .ite { color: #999999; border: 3px solid #E8E8E8; box-shadow: 2px 2px 2px #C9C9C9 inset; display: block; height: 33px; line-height: 33px; margin: 5px 0; padding: 0 0 0 10px;
width: 230px; border-radius: 6px 6px 6px 6px; font-style: italic; }

::-webkit-input-placeholder { color: #999999 !important; }

:-moz-placeholder { color: #999999 !important; }

:-ms-input-placeholder { color: #999999 !important; }

.placeholder { color: #999999 !important; }

.block11 .ita { color: #000; width: 514px; min-width: 514px; max-width: 514px; border: 3px solid #E8E8E8; box-shadow: 2px 2px 2px #C9C9C9 inset; padding: 5px 0 0 10px; border-radius: 6px 6px 6px 6px; font-style: italic; height: 160px; min-height: 160px; }

.block11 .submit { width: 530px; }

.block11 .isu { background: url(../img/a4.png); height: 37px; width: 181px;
cursor: pointer; border: none; padding: 0; margin: 20px 0 30px 0; float: right; }

.border6 { display: block; height: 1px; background: #ccc; }

.footer { margin: 14px 0 0 0; text-align: center; line-height: normal; color: #444444; padding: 0 0 40px 0; font-size: 11px; }

.footer .text { margin: 25px 0 0 0; }

.menu3 { margin: 10px 0 0 0; }

.menu3 a { color: #444444; text-decoration: none; text-transform: uppercase; }

.menu3 a:hover { text-decoration: underline; }

#social-button2{
width: 580px !important;
padding: 0 !important;
margin: 0 !important;}

.tableheader {
	text-transform:uppercase;
	font-size:24px;
	font-family:'avantgardectt_r';
	text-decoration:overline;
	color:#1AA6E8;
	font-weight: bold;
	}
	
.row1 {
		padding-right:40px;
		}

.row1 p {
	color:#1AA6E8;
	font-size:1,5em;
	font-family:'avantgardegothicc-book';
	font-weight: bold;
	text-align:left;
	}

table {
	font-family: arial;
	font-size:16px;
	}

td {
	padding:5px 5px 15px 5px;
		}
	
table li {	
	background:url(../img/list1.jpg) no-repeat left top;
	padding: 0px 0px 10px 30px;
	line-height:1.2;
	}
	
.text p{
	text-align:justify;
	font-family:Arial;
	line-height: 19px;
	padding-bottom:10px;
	}
	
.text {
	margin:0px auto;
	}
	
.text2 {font-size: 16px; line-height: 24px; }


.ptsans {
	font-family: 'PT Sans', sans-serif;
}

.avangardec {
	 font-family:'avantgardectt_r';
}

.sin {
	color:#0c6ec4;
}

.text_tr {
	text-transform:uppercase;
}

.fs48 {
	font-size:48px;
}

.fs24 {
	font-size:24px;
}

.fs30 {
	font-size:30px;
}

.fs36 {
	font-size:36px;
}

.fs18 {
	font-size:18px;
}

.fs_it {
	font-style:italic;;
}



.about {
	background:#f9f8f8;
	text-align:justify;
	margin-top:30px;
	padding:15px;
		border-radius: 10px;
		font-size:14px;
}

.about p {
	margin-bottom:15px;
}

.about h3 {
	margin-top:5px;
	margin-bottom:10px;
	    font-family: 'avantgardectt_r';
}

.about img {
	float:left;
}

.otz_tit {
	margin-top:30px;
	margin-bottom:40px;
}

.otz {
	background:#fff;
	border-radius: 10px;
	margin-bottom:20px;
	padding:15px;
	font-style:italic;
	font-size:14px;
	border:1px solid #ddd;
	
}

.otz p {
	margin-bottom:10px;
	text-decoration:none !important;
}
.otz img {
	float:left;
	margin-right:15px;
}

#first {
	display:none;
}
