/**
 *	Content
 *	
 *	Normalize
 *	Font-face
 *	Main
 *	Header
 *	Content
 *	Footer
 */


/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 *	Font Face
 */
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/asd.otf'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/myriad.woff'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/MyriadPro-Regular.eot'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/MyriadPro-Regular.svg'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/MyriadPro-Regular.ttf'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url("fonts/Gothic.eot"); /* Для поддержки браузера IE6+ */
    src: url("fonts/Gothic.eot?#iefix") format("embedded-opentype"), /* Хак корректного отображения шрифта в IE8 */
         url("fonts/Gothic.woff") format("woff"), /* Для современных браузеров */
         url("fonts/Gothic.ttf") format("truetype"),
         url("fonts/Gothic.svg#JournalRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*
*/
html, body {height: 100%;
font-family: "Myriad Pro";}

#wrapper {
	min-height: 100%;
}

#content {
	overflow: hidden;
	padding-bottom: 100px;
}  /* must be same height as the footer */

ul{
	list-style-image: url('image/icon-list-arrow.png');
}
 ul li{
	padding-left: 10px;
	margin-top: 20px;
	font-size: 25px;
}

footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

header{
	height: 100px;
	background: #fff;
}

footer{
	height: 100px;
}
.layout{
	width: 940px;
	margin:0 auto;
}
.wrap{
	padding: 0 0px;
}
#logo{
	float: left;
	margin: 20px 0px;
}
#social_links {
	float: right;
}
#social_links ul{
	margin: 0px;
	padding: 0px;
}
#social_links ul li{
	list-style: none;
	display: block;
	float: left;
	margin:30px 5px;
}
#social_links ul li a{
	display: block;
	width: 38px;
	height: 38px;
	background: #fff

}
#social_links .social-vkontakte{
	background: url('image/social_vkontakte.png')
}
#social_links .social-facebook{
	background: url('image/social_facebook.png')
}
#social_links .social-twitter{
	background: url('image/social_twitter.png')
}
#social_links .social-youtube{
	background: url('image/social_youtube.png')
}
#social_links .social-google{
	background: url('image/social_google.png')
}


#menu{
	margin:0 auto;
	width: 760px;
	height: 40px;
}
#menu ul{
	margin: 0px;
}
#menu ul li{
	list-style: none;
	width: 215px;
	height: 40px;
	padding: 12px;
	margin: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	background: #ececec;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#menu ul li.active{
	background: #cf005c;
	color:#fff;
}
#main_banner .heading{
	clear: both;

}
#main_banner .heading .text-1{
	color: #fb8055;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
	letter-spacing: 2px;
	margin: 20px 0px 0px 0px ;
	text-align: center;
	clear: both;	
}
#main_banner .heading .text-2{
	color: #cf005c;
	font-size: 52px;
	text-align: center;
	margin-top: 10px;
}
#main_banner .heading .text-3{
	color: #cf005c;
	margin-top: 5px;
	font-size: 21px;
	text-align: center;
	font-family: 'Myriad Pro'
}

/* main_banner */
#main_banner{
	background: url('image/block-trening.png') no-repeat scroll center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 580px;;
}
.block-traning{
	background: url('image/bg-block-traning.png') repeat-x;
	width: 100%;
	position: relative;
    top: 232px;
}
.block-traning-top{
	text-align: center;
}
.text-name-trening{
	color: #494948;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 15px;
	display: block;
	letter-spacing: 15px;
}
.block-traning-center{
	text-align: center;
	
}
.block-traning-center .money{
	color: #a4345f;
	font-size: 85px;
	font-weight: bold;
	text-align: center;
	display: block;
}
.block-traning-center .mutual-love {
	color: #a4345f;
	font-size: 30px;
}
.block-traning-bottom{
	display: block;
}
.start{
	background: url('image/block-image-start.png') repeat-x;
	height: 104px;
	font-size: 30px;
	color: #fff;
	padding-left: 45px;
    padding-top: 15px;
	width: 426px;
	float: left;
}
.need-this-training{
	background: url('image/block-need-this-training.png') repeat-x;
	height: 102px;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding-left: 43px;
    padding-top: 30px;
	width: 426px;
	float: left;
	color: #fff;
	text-decoration: none;
	display: block;	
	text-transform: uppercase;
}
.need-this-training span{
	color: #fff;
	text-decoration: none;
}
/* main_banner end */

/* block_these_problems */
#block_these_problems{
	background: url('image/bg-block-these-problems.png') repeat;
}
.one-of-those-problems{
	text-align: center;
}
.one-of-those-problems > span{
	color: #333333;
    display: block;
    font-family: "Century Gothic";
    font-size: 30px;
    padding-top: 100px;
}
.one-of-those-problems ul{
	display: inline-block;
	margin-top: 55px;
	margin-bottom: 0px;
	padding-left: 0px;
}
.one-of-those-problems ul li{
	display: inline-block;
    margin: 0 40px;
    vertical-align: top;
	margin-bottom: 60px;
	color: #333333;
	font-size: 19px;
	font-weight: 500;
}
.one-of-those-problems ul li img{
	display: inline-block;
    text-align: center;
	margin-bottom: 25px;
}
.one-of-those-problems ul li span{
	width: 190px;
	display: block;
    text-align: center;
}
.text-capable-of-more{
	color: #333333;
    display: block;
    font-family: "Century Gothic";
    font-size: 35px;
	text-align: center;
	margin-bottom: 27px;
}
.text-lets-deal{
	color: #333333;
    display: block;
    font-family: "Myriad Pro";
    font-size: 19px;
    text-align: center;
}
/* block_these_problems end */

/* capable-of-more-image */
#capable-of-more-image{
	background: url('image/Finance_0709_02.jpg') center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}
#capable-of-more-image2{
	background: url('image/Finance_0709_04.jpg') center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 390px;
	padding-top: 34px;
}
.nonphysical-physical{
	font-size: 31px;
	color: #ffffff;
	background: url('image/bg-capable-of-more.png') repeat-x;
	margin: 0 auto;
    width: 680px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 42px;
	margin-top: 223px;
	font-family: "Myriad Pro";
}
.nonphysical-world{
	float: left;
	width: 370px;
	margin-right: 180px;
	color: #fff;
	font-size: 20px;
	position: relative;
	font-family: "Myriad Pro";
	text-align: center;
}
.nonphysical-world > span{
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	font-family: "Myriad Pro";
	text-align: center;
	display: block;
}
.physical-world{
	float: left;
	width: 370px;
	color: #fff;
	font-size: 20px;
	position: relative;
	font-family: "Myriad Pro";
	text-align: center;
}
.physical-world > span{
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	font-family: "Myriad Pro";
	text-align: center;
	display: block;
}
/* capable-of-more-image end */

/* gap-between-nonphysically */
#gap-between-nonphysically{
	margin-top: 67px;
}
.text-gap-between-nonphysically{
	color: #333333;
	font-size: 30px;
	font-family: "Century Gothic";
	display: block;
	text-align: center;
}
.gap-between-nonphysically-image{
	background: url('image/gap-between-nonphysically-image.png') center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 670px;
	margin-top: 60px;
}
.gap-between-nonphysically-information{
	float: right;
    margin-top: 100px;
    width: 530px;
}
.gap-between-nonphysically-information > p{
	color: #333333;
	font-size: 25px;
	font-family: "Myriad Pro";
}
.gap-between-nonphysically-information > span{
	color: #333333;
	font-size: 35px;
	font-family: "Myriad Pro";
}
.gap-between-nonphysically-image2{
	background: url('image/gap-between-nonphysically-image2.png') center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
    margin-top: -58px;
}
.gap-between-nonphysically-information2{
	float: left;
    margin-top: 100px;
    width: 530px;
}
.gap-between-nonphysically-information2 > p{
	color: #333333;
	font-size: 25px;
	font-family: "Myriad Pro";
}
.gap-between-nonphysically-information2 > span{
	color: #333333;
	font-size: 35px;
	font-family: "Myriad Pro";
}
/* gap-between-nonphysically end */

/* impossible-build-house */
#impossible-build-house{
	height: 696px;
	margin-top: -110px;
	position: relative;
    z-index: 10;
}
#impossible-head-thinking{
	background: url('image/impossible_head_thinking.png') center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 640px;
	height: 763px;
	position: absolute;
	margin-left: -223px;
}
.text-impossible-build-house{
	float: right;
	width: 450px;
	color: #333333;
	font-size: 25px;
	font-family: "Myriad Pro";
	margin-right: 20px;
	margin-top: 120px;
}
/* impossible-build-house end */

/* finance */
#finance{
	background: url('image/finance_bg.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 888px;
	margin-top: -81px;
	position: relative;
	z-index: 1000;
}
#finance .top {
	padding-top: 120px;
}

#finance .top .heading{
	text-align: center;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	font-size: 45px;
	color: #fff;
	font-weight: 100;
} 
#finance .top .text{
	text-align: center;
	font-size: 35px;
	color: #fff;
	margin-top: 50px;
}
#finance .bottom{
	margin-top: 100px
}
#finance .bottom .img{
	background:  url('image/finance_money.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 268px;
	height: 268px;
	float: left;

}
#finance .bottom .description{
	width: 600px;
	float: right;
	font-size: 30px
}
#finance .bottom .description p{
	margin-top: 20px;
	color: #fff;
}
#finance .bottom .description p.small{
	font-size: 25px;
}
/* results */
#results{
	background: url('image/results_bg.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 1558px;
	margin-top: -115px;
}
#results .wrap{ 
	padding-top: 90px;
}
/*#results .img {
	float: right;
	margin-right: -204px;
}*/
#results .description .img
{
	position: absolute;
	top: 0px;
	right: -700px;
}
#results .img .results-circle{
	background: url('image/result_circle.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 701px;
	height: 702px;
}
.top-border{
	border-top: 5px solid #720c36;
	width: 1360px;
	margin-left: -200px;
}
#results .description{
	font-size: 30px;
	display: inline-block;
	margin-left: -50px;
	margin-top: 203px;
	position: relative;
}
#results .description ul{
	list-style-image: url('image/icon-list-arrow.png');
	margin-top: 70px;
}
#results .description ul li{
	padding-left: 10px;
}
#results .text-bottom{
	font-size: 40px;
	text-align: center;
	margin-top: 485px;
}
/* target */
#target {
	padding: 75px 0px 100px
}
#target .description {
	border: 10px solid #a4345f;
	padding: 65px;
	text-align: center;
	width: 1360px;
	margin-left: -200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#target .description .heading{
	font-size: 45px;
	font-family: 'Muli', Helvetica, Arial, sans-serif;

}
#target .description .text{
	font-size: 36px;
}
/* training_tasks */
#training_tasks{
	background: #a4345f;
	height: 528px;
}
#training_tasks .wrap{
	padding-top: 65px;
}
#training_tasks .heading{
	font-size: 45px;
	text-align: center;
	color: #fff
}
#training_tasks .row {
	margin-top: 40px
}
#training_tasks .row .column{
	width: 33.3333%;
	float:left;
}
#training_tasks .row .column .text{
	font-size: 20px;
	color:#fff;
	text-align: center;
	margin-top: 20px;
	width: 90%
}
/* false_thoughts */
#false_thoughts{
	background: url('image/false_thoughts_bg.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 524px;
}
#false_thoughts .wrap {
	padding: 90px 0px
}
#false_thoughts .description{
	font-size: 30px;
	color: #333;
	padding: 25px 70px;
	background: rgba(255,255,255,0.75);
	text-align: center;
} 
/* this_is_important */
#this_is_important{
	background: url('image/this_is_important_bg.png')  center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 1120px;
	margin-top: -2px;
	position: relative;
}
#this_is_important:after {
	background: url('image/this_is_important_guarantee.png') center center no-repeat;
	position: absolute;
	width: 249px;
	height: 252px;
	content: '';
	display: block;
	bottom: -148px;
	margin-left: -125px;
	left: 50%;
}
#this_is_important .block-top{
	text-align: center;
	padding-top:40px;
	color: #fff
}
#this_is_important .block-top .heading{
	font-size: 45px;
	font-weight: bold;
}
#this_is_important .block-top .text{
	margin-top: 30px;
	font-size: 25px;
}
#this_is_important .block-bottom{
	margin-top: 480px;
	font-size: 20px;
}
#this_is_important .block-bottom .column{
	width: 50%;
	float: left;
	padding: 0px 80px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 103px;

}
#this_is_important .gaurantee {
	text-align: center;
}
#this_is_important .gaurantee .pad{
	padding: 25px;
	border-radius: 120px;
	background: #fff;
	display: inline-block;
}
#this_is_important .gaurantee .icon{
	background: url('image/this_is_important_guarantee.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 171px;
	height: 171px;
}
#this_is_important .gaurantee .text{
	background: url('image/this_is_important_guarantee_text.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 249px;
	height: 49px;
	display: inline-block;
}
/* ask_yourself */
#ask_yourself{
	background: url('image/ask_yourself_bg.png')  center top  no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 1762px;
}
#ask_yourself .wrap{
	padding-top:260px
}
#ask_yourself .description {
	font-size: 25px;
	width: 600px
}
#ask_yourself .description .heading{
	font-size: 45px;
}
#ask_yourself .pencil .description{
	float: right;
}
#ask_yourself .pencil .img{
	background: url('image/ask_yourself_pencil.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 264px;
	height: 264px;
	float: left;
	margin-right: 50px
}

#ask_yourself .hands {
	padding-top: 140px;
	clear: both;
}
#ask_yourself .hands .img{
	background: url('image/ask_yourself_hands.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 264px;
	height: 263px;
	float: right;
	margin-left: 50px;
}
#ask_yourself .hands .description{
	float: left;
}
#ask_yourself .hands .description p{
	font-size: 30px;
}
#ask_yourself .hands .description p{
	margin-bottom: 10px;
}
#ask_yourself .man {
	padding-top: 140px;
	clear: both;
}
#ask_yourself .man .description{
	float: right;
}
#ask_yourself .man .img{
	background: url('image/ask_yourself_man.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 264px;
	height: 258px;
	float: left;
	margin-right: 50px;
}
#ask_yourself .man ul{
	list-style-image: url('image/icon-list-arrow.png');
}

#ask_yourself .man ul li{
	padding-left: 10px;
	margin-top: 30px;
}

/* who_does_not */
#who_does_not{
	background: url('image/who_does_not_bg.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 661px;
	margin-top: -70px;
}
#who_does_not .wrap{
	padding-top: 130px
}
#who_does_not .heading{
	font-size: 45px;
	width: 550px
}
#who_does_not .description{
	padding-left: 15px;
}
#who_does_not ul{
	list-style-image: url('image/icon-list-arrow.png');
	width: 400px;
	margin-top: 50px;	
}

#who_does_not ul li{
	padding-left: 10px;
	margin-top: 20px;
	font-size: 25px;
}
/* training_program */
#training_program .wrap{
	padding-top: 100px
}
#training_program .block-title{
	font-size: 60px;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	text-align: center;
}
#training_program .block-woman{
	background: url('image/training_program_woman_bg.png')  left top no-repeat;
	width: 960px;
	height: 640px;
	margin-top: 50px;
	overflow: hidden;
}

#training_program .block-woman .top{
	width: 520px;
	height: 288px;
	margin-left:440px; 
	background: #da3574;
	padding: 30px 50px;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#training_program .block-woman .top .heading{
	font-size: 30px;
}
#training_program .block-woman .top .hr{
	height: 2px;
	background: #fff;
	width: 470px;
	margin-top: 5px;
}
#training_program .block-woman .top .info{
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 10px;
}
#training_program .block-woman .top .date {
	margin-top: 70px;
}
#training_program .block-woman .top .date .text{
	font-size: 25px;
}
#training_program .block-woman .top .date .sub-text{
	font-size: 17px;
}
#training_program .block-woman .bottom{
	width: 520px;
	height: 352px;
	margin-left:440px;
	background: #ea71ad;
	padding: 30px 50px;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#training_program .block-woman .bottom p{
	font-size: 21px;
	margin: 0px;
}

#training_program .block-woman .bottom ul li{
	font-size: 20px;
	list-style-image: url('image/icon-list-arrow-white.png');
	/*list-style-image: url('image/icon-list-arrow.png');*/
}

#training_program .block-man{
	background: url('image/training_program_man_bg.png')  right top  no-repeat;
	width: 960px;
	height: 640px;
	margin-top: 20px;
}

#training_program .block-man .top{
	width: 520px;
	height: 390px;
	background: #3399cc;
	padding: 30px 50px;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
#training_program .block-man .top .heading{
	font-size: 30px;
}
#training_program .block-man .top .hr{
	height: 2px;
	background: #fff;
	width: 470px;
	margin-top: 5px;
}
#training_program .block-man .top .info-1{
	font-size: 25px;
	margin-top: 10px;
}
#training_program .block-man .top .info-2{
	font-size: 20px;
	margin-top: 15px;
}
#training_program .block-man .top .date {
	margin-top: 40px;
}
#training_program .block-man .top .date .text{
	font-size: 25px;
}
#training_program .block-man .top .date .sub-text{
	font-size: 17px;
}
#training_program .block-man .bottom{
	width: 520px;
	height: 250px;
	background: #33cc66;
	padding: 10px 50px;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#training_program .block-man .bottom p{
	font-size: 18px;
}
.icon-calendar{
	background: url('image/training_program_calendar_icon.png')  right top  no-repeat;
	width: 20px;
	height: 21px;
	float: left;
	margin-right: 10px;
	margin-bottom: 30px
}
.icon-slider{
	background: url('image/training_program_slider.png')  right top  no-repeat;
	width: 69px;
	height: 65px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px
}
#training_program  .icon-plus{
	font-size: 120px;
	color: #a4345f;
	text-align: center;
}
#training_program .bottom-title{
	font-size: 60px;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 140px;
}
/* three_options */
#three_options{
	background: url('image/three_options_bg.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 1671px;
}
#three_options .wrap{
	padding-top: 130px;
}
#three_options .row{
	clear: both
}
/*#three_options .block-payment{
	background: url('image/three_options_blocks.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 1088px;
	height: 1398px
}*/
#three_options .row > div{
	float: left;
}
/*#three_options .options > div {
	color: #11ac85;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-shadow: 0px 1px #333;
	
}*/
.options_name
{
	text-align: left;
}
.options_name span
{
	color: #11ac85;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-shadow: 0px 1px #333;
}
.options_name .number
{
	font-size: 60px;
}
#three_options .options > div .number{
	font-size: 60px;
	text-shadow: 0px 1px #333;
}
#three_options .option-1{
	width: 285px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#three_options .variants_bg_1{
	width: 265px;
	height: 699px;
	background: url(image/three_options_1.png);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#three_options .variants_bg_2{
	width: 265px;
	height: 699px;
	background: url(image/three_options_2.png);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#three_options .variants_bg_3{
	width: 423px;
	height: 751px;
	background: url(image/three_options_3.png) no-repeat;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#three_options .option-2{
	width: 290px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#three_options .option-3{
	width: 360px;
}
#three_options .option-3 .best-choice{
	position: absolute;
	color: #00c6f8;
	margin-left: 75px;
	text-shadow: 0px 1px #333;
}
#three_options .block-payment{
	color: #fff;
	font-size: 24px;
	text-align: center;
}
#three_options .block-payment .row-1{
	height: 780px;
}

#three_options .block-payment .heading{
	padding-top: 25px;
	text-transform: uppercase;
}
#three_options .block-payment .text{
	margin-top: 75px;
	height: 160px;
}
#three_options .block-payment .price{
	margin-top: 80px;;
	color: #333;
	font-size: 45px;
	font-weight: bold;
	height: 180px;
}
#three_options .block-payment .heading-1{
	padding-top: 45px;
	text-transform: uppercase;
}
#three_options .block-payment .heading-2{
	padding-top: 80px;
	text-transform: uppercase;
}

#three_options .block-payment .heading-3{
	padding-top: 70px;
	height: 35px;
	text-transform: uppercase;
}
#three_options .block-payment .new-price{
	background: url('image/three_options_195.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 201px;
	height: 80px;
	display: inline-block;
}
#three_options .block-payment .buttons > a{
	display: block;
	padding:12px 16px;
	margin-left: 15px;
	width: 240px;
	font-size: 19px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff
}

#three_options .block-payment .option-3 .buttons  a{
	margin-left: 70px;
}
#three_options .block-payment .buttons > a.registrate{
	background: #00ccff;
	border-bottom: 2px solid #0099cc
}
#three_options .block-payment .buttons > a.pay-now{
	background: #81ca03;
	border-bottom: 2px solid #659d04;
	margin-top: 8px;
}
#three_options .block-payment .row-2{
	color: #a4345f;	
	background: url(image/bonuses_bg.png);
	width: 960px;
	height: 524px;
	margin: 50px 0 0 3px;
}
#three_options .block-payment .row-2 .left{
	width: 570px;
	text-align: right;
	
}
#three_options .block-payment .row-2 .left .sub-text{
	font-size: 20px;
	margin-top: 10px;
}
#three_options .block-payment .row-2 .left > div{
	padding: 0px 35px;
	height: 162px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 14px;
}
#three_options .block-payment .row-2 .right{
	text-align: center;
	width: 386px;
	margin-top: 160px;
}
.icon-line-through{
	background: url('image/three_options_line_through.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 161px;
	height: 45px;
	display: inline-block;
	position: absolute;
	margin-left: -125px;
}
/*.smanll-icon-plus{
	background: url('image/three_options_plus_icon.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 84px;
	height: 83px;
	display: block;
	position: absolute;
	margin-left: 325px;
	margin-top: -20px;
}*/
.icon-discount{
	background: url('image/three_options_discount_icon.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 197px;
	height: 110px;
	display: block;
	position: absolute;
	margin-left: 300px;
	margin-top: -20px;
}
/* woman_computer */
#woman_computer{
	background: url('image/woman_computer_bg.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 443px;
}
/* online_trainers */
#online_trainers{
	background: #ff9200 url('image/orange_bg.png')  center bottom no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 710px;
}
#online_trainers .wrap{
	padding-top: 30px;
}
#online_trainers .wrap > .row{
	margin-top: 30px;
}
#online_trainers .heading{
	font-size: 36px;
	text-align: center;
	color: #fff;
	background: url('image/online_trainers_border.png') -2px 25px no-repeat;
	width: 920px;
}
#online_trainers .column{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#online_trainers .column-1{
	width: 240px;
}
#online_trainers .column-2{
	width: 700px;
}
#online_trainers .column-2 .row {
	clear: both
}
#online_trainers .column-2 .row .column{
	width: 350px;
	padding: 20px;
	font-size: 14px;
}
#online_trainers .column-2 .row .column .text{
	color: #fff
}
#online_trainers .column .title{
	font-size: 35px;
}

.icon-brackets-up,
.icon-brackets-down{
	width: 32px;
	height: 26px;
	margin-left: 500px;
}
.clear
{
	clear: both;
}
.icon-brackets-down{
	background: url('image/online_trainers_brackets_down.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.icon-brackets-up{
	background: url('image/online_trainers_brackets_up.png')  center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* faces */
#faces{
	background: url('image/faces_bg.png')  center top repeat-x;
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	height: 361px;
	margin-top: -2px;
}
/* reviews */
#reviews
{
	margin-bottom: 50px;
}
#reviews .block-1,
#reviews .block-2{
	padding-top: 90px;
	clear: both;
}
#reviews .heading{
	font-size: 30px;
	color: #666;
	text-align: center;
	clear: both;
	background: url('image/reviews-border.png') left 20px no-repeat;
}
#reviews  .sub-heading{
	font-size: 30px;
	color: #666;
	text-align: center;
}
#reviews .row{
	padding: 40px 0px 20px;
	clear: both;
	text-align: center;
}
#reviews .row .column{
	width: 230px;
	margin: 0 40px;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
}
#reviews .row .column .name{
	font-size: 17px;
	text-transform: uppercase;
	color: #333;
	margin-top: 20px
}
#reviews .row .column .hr{
	width: 100px;
	height: 2px;
	background: #b2b2b2;
	display: inline-block;
	margin-top: 20px
}
#reviews .row .column .description{
	font-size: 14px;
	margin-top: 20px
}
#reviews .row .column .position{
	font-size: 14px;
	color: #969696;
	margin-top: 20px
}

#vk_widget {
	clear: both;
}
footer .layout{
}
footer #copyright{
	margin-top: 30px;
	font-size: 13px;
	color: #7f7f7f;
	text-align: center;
}
footer #footer_menu{
	margin-top: 15px;
	text-align: center;
	color: #00ccff;
	font-size: 13px;
}
footer #footer_menu a{
	color: #00ccff;
	text-decoration: none;
}
footer #website{
	margin-top: 15px;
	text-align: center;
}
footer #website a{
	color: #7f7f7f;
	font-size: 13px;
	text-decoration: none;
}
footer{
	height: 130px;
}

@media only screen and (min-width: 1025px) and (max-width: 1680px) {
	#capable-of-more-image{
		height: 633px;
	}
	#capable-of-more-image2{
		height: 338px;
		padding-top: 34px;
	}
	.gap-between-nonphysically-image{
		height: 590px;
	}
	.gap-between-nonphysically-image2{
		height: 620px;
	}
	#finance{
	height: 875px;
	}
	#this_is_important{
	height: 998px;
	}
	#this_is_important .block-bottom .column{
	margin-top: 38px;
	}

}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
	.layout{
		width: 100%;
		position: relative;
	}
	body{
		max-width: 940px;
		overflow-x:hidden;
	}
	#results .img > .results-circle{
		width: 501px;
		height: 502px;
		margin-right: 250px !important;
		margin-top: 240px;
	}
	#results .description{
		width: 400px;
		margin-left: 15px;
	}
	#results .text-bottom{
		margin-top: 560px;
	}
	#impossible-build-house{
		height: 550px;
	}
	#impossible-head-thinking{
		width: 471px;
		height: 560px;
		margin-left: -26px;
	}
	#three_options .option-3 .best-choice{
		width: 100%;
		margin-left: 40px;
		font-size:20px
	}
	#target .description{
		width: 100%;
		margin-left: 0px;
		padding: 20px;
	}
	#target .description .text{
		font-size: 30px;
	}

	#three_options{
		height: 1486px;
	}
	.smanll-icon-plus{
		margin-left: 298px;
	}
	.icon-discount {	
		margin-left: 189px;
		margin-top: -108px;
	}
	#results .text-bottom {

	margin-top: 320px;
	}
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
	
}
