html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}

/*-----------------------------------------------------------------------------
 General
 -----------------------------------------------------------------------------*/
.clear {
	clear: both;
}

.border {
	display: block;
	height: 1px;
	background: #ccc;
	width: 942px;
	margin: 0 auto;
	margin-top: 20px;
}

/*-----------------------------------------------------------------------------
 Header
 -----------------------------------------------------------------------------*/
.header {
	height: 72px;
	background: #fff;
}

.topwrapper {
	width: 1000px;
	margin: 0 auto;
	height: 98px;
	padding: 1px 0 0 0;
}

.topwrapper > .inner {
	width: 1000px;
	margin-top: 8px;
}

.logo {
	float: left;
	margin: 0 0 0 55px;
}

.socicon {
	float: right;
	margin: 9px 55px 0 0;
}

.socicon a {
	float: left;
	margin: 0 0 0 7px;
}

/*-----------------------------------------------------------------------------
 Main part
 -----------------------------------------------------------------------------*/
.wrapper {
	max-width: 1566px;
	min-width: 1000px;
	margin: 0 auto;
	zoom: 1;
}

.mainpic {
	height: 1125px; 
	background: #fff url(../images/main-bg-3.jpg) no-repeat top center;
	margin-top: -14px;
}

.video {
	margin: 0 auto;
	width: 661px;
	height: 415px;
	padding: 266px 0 0 7px;
}

.buttonbg {
	height: 83px;
	width: 576px;
	margin: 0 auto;
	margin-top: 75px;
	text-align: center;
	padding: 0 0 0 10px;
}

/*-----------------------------------------------------------------------------
 Social Buttons
 -----------------------------------------------------------------------------*/
.social {
	height: 50px;
	width: 350px;
	margin: 0 auto;
	margin-top: 205px;
}

#social_button {
	display: block;
	margin: 0 auto;
	padding: 5px 0px;
	height: 30px;
	/*width: 380px;*/
}

#social_button #bt_facebookr {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 4px;
	width: 140px;
}

#social_button #bt_vk {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}

#social_button #bt_twitter {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}

#vk_like {
	display: inline;
}

/*-----------------------------------------------------------------------------
 Comments
 -----------------------------------------------------------------------------*/
.comments {
	width: 942px;
	margin: 0 auto;
	margin-top: 30px;
}

.comments .left {
	float: left;
	padding: 20px;
}

.comments .right {
	float: right;
	width: 400px;
	padding: 20px;
}

.blogcomments {
	width: 942px;
	margin: 0 auto;
	margin-top: 30px;
}

/*-----------------------------------------------------------------------------
 Footer
 -----------------------------------------------------------------------------*/
.footer {
	/*margin: 64px 0 0 0;*/
	text-align: center;
	line-height: normal;
	color: #444444;
	padding: 0 0 40px 0;
	font-size: 11px;
}

.footer .text {
	margin: 25px 0 0 0;
}

/*-----------------------------------------------------------------------------
 Password
-----------------------------------------------------------------------------*/
.pass { 
	text-align: center; 
	font-family: Verdana;
	padding-top: 450px;
	color: #bbb;
	font-size: 15px;
}

.pass p {
	margin-bottom: 10px;
}

.pass input { 
	height: 40px;
	width: 150px;
	background-color: #1A9EDA;
	color: #eee;
	border-radius: 10px;
	box-shadow: none;
	text-align: center;
	text-shadow: 1px 1px 3px #333;
	vertical-align: middle;
	font-size: 16px;
	cursor: pointer; 
}

.pass #pwbox-7330 {
	width: 200px;
	height: 35px;
	background-color: #fff;
	color: #999;
	padding-top: -2px;
	cursor: text; 
}