body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
border: none;
color: #000000;
font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
margin: 0;
padding: 0;
}
body {
text-decoration: none;
width: 100%;
height: 100%;
min-width: 940px;
}
.comments {
width: 940px;
margin: 0 auto;
margin-top: 30px;
}
.comments .left {
float: left;
padding: 20px;
}
.comments .right {
float: right;
width: 400px;
padding: 20px;
}
.social {
height: 50px;
width: 100%;
margin: 0 auto;
margin-top: 20px;
background-color: #cccccc;
}
.social2{
height: 50px;
width: 350px;
margin: 0 auto;

}
#social_button {
display: block;
margin: 0 auto;
padding: 9px 0px;
height: 30px;
width: 700px;
}
#social_button #bt_facebookr {
display: block;
float: left;
margin-top: 5px;
margin-right: 4px;
width: 140px;
}
#social_button #bt_twitter {
display: block;
float: left;
margin-top: 5px;
margin-right: 4px;
}
#social_button #bt_vk {
display: block;
float: left;
margin-top: 5px;
margin-right: 4px;
}
#bym-wrapper {
width: 100%;
height: auto;
text-align: center;
margin: 0;
padding: 0;
background: url('img/top.jpg') no-repeat top center;
height:804px;
background-color: white;
}
#bym-social #bym-logo {
width: 23%;
text-align: left;
min-width: 325px;
float: left;

padding-top: 5px;
}
#bym-buttons {
padding: 15px 10px 30px 10px;
width: 200px;
float: right;

}
#bym-header{width: 100%;
margin: 0 auto;
text-align: center;}
#bym-header h2 {color: white;
font-family: Century Gothic;
font-size: 46px;
margin: 0 auto;
margin-top: 57px;
margin-bottom: 131px;
width: 660px; }
#bym-header h2 span{color: #66ccff;}
.hero {
width: 313px;
text-align: center;
display: table-cell;
padding-top: 302px;
vertical-align: top;
}
.more{background: url('img/more.png') no-repeat top center;
width: 138px;
height: 32px;
display: inline-block;
margin: 0px 87px 0px 87px;
margin-top: 37px;}
.hero img{display: block;
margin: 0 auto;}
.hero h3 {color: #66ccff;
font-size: 26px;
font-family: Century Gothic;padding-bottom: 17px;

margin-top: 15px;}
.hero h3 span{font-weight: bold;}
.hero p {font-family: Myriad Pro;
font-size: 16px;
color: white;}
.btns{width:100%
}
.hero2{
width: 313px;
text-align: center;
display: table-cell;padding-top: 181px;
vertical-align: top;
}
.more2{background: url('img/more.png') no-repeat top center;
width: 138px;
height: 32px;
display: inline-block;
margin: 0px 87px 0px 87px;
margin-top: 37px;}
.hero2 img{display: block;
margin: 0 auto;}
.hero2 h3 {color: #66ccff;
font-size: 26px;
font-family: Century Gothic;padding-bottom: 17px;

margin-top: 15px;}
.hero2 h3 span{font-weight: bold;}
.hero2 p {font-family: Myriad Pro;
font-size: 16px;
color: black;}
.bio{width: 100%;
height: auto;
text-align: center;
margin: 0;
padding: 0;
}
.bio1{background: url('img/bio1.jpg') no-repeat top center;}
.bio2{background: url('img/bio2.jpg') no-repeat top center;}
.bio3{background: url('img/bio3.jpg') no-repeat top center;}
.bio4{background: url('img/bio4.jpg') no-repeat top center;}
.bio5{background: url('img/bio5.jpg') no-repeat top center;}
.bio6{background: url('img/bio6.jpg') no-repeat top center;}
ul  {
    list-style-image: url(img/dot.png);
   }
   .podrobnee{height: 355px; background: url('img/podrobnee.png') no-repeat center center;}
.podrobnee h1{font-family: Century Gothic;
font-size: 60px;
color: #0099cc;
padding-top: 125px;}
.podrobnee  span{color: #999999;
font-family: Myriad Pro;
font-size: 30px;
font-weight: normal;}
.bio img {float: left;
padding-top: 48px;
padding-left: 54px;
display: block;}
.bio h4{color: white;
font-family: Century Gothic;
display: block;
float: left;
font-size: 30px;
padding-top: 85px;
margin-left: 40px;}
.bio h4 span {font-weight: bold;}
.bio p{float: left;
padding-top: 15px;
padding-left: 42px;
text-align: left;
width: 620px;
font-size: 18px;}
.bio ul{list-style-image: url(img/dot.png);
display: block;
width: 628px;
margin: 0 auto;
text-align: left;
padding-left: 233px;
margin-bottom: 30px;
font-size: 18px;
padding-top: 331px;}
.bio ul li{padding-bottom: 25px;}
.info{height:300px;}
.clear {
clear: both;
}
.line60 {
width: 940px;
height: 1px;
margin: 0 auto;
margin-top: 45px;
margin-bottom: 21px;
background-color: #e8e8e8;
}
#footer {
margin: 0 auto;
margin-bottom: 30px;
width: 530px;
text-align: center;
}
.text {
font-family: Arial;
text-align: center;
}
.menu3 {
font-family: Arial;
text-align: center;
font-size: 13px;
color: #999999;
}
.menu3 a {
font-size: 13px;
color: #66ccff;
text-decoration: none;
}
#site a {
font-family: Arial;
font-size: 13px;
color: #999999;
text-decoration: none;
}
.bestyear{background: url('img/bestyear.png') no-repeat top center;
width: 349px;visibility: hidden;
height: 0px; display:block; margin:0 auto;}