html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}

/*-----------------------------------------------------------------------------
 General
 -----------------------------------------------------------------------------*/
.clear { clear: both; }

a { text-decoration: none; }
a:hover { cursor: pointer; }

p { padding-bottom: 10px; }

/*@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriadproregular-webfont.eot');
    src: url('../fonts/myriadproregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadproregular-webfont.woff') format('woff'),
         url('../fonts/myriadproregular-webfont.ttf') format('truetype'),
         url('../fonts/myriadproregular-webfont.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

.myriadreg { 
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

/*@font-face {
    font-family: 'century_gothicreg';
    src: url('gothic.eot');
    src: url('gothic.eot?#iefix') format('embedded-opentype'),
         url('gothic.woff') format('woff'),
         url('gothic.ttf') format('truetype'),
         url('gothic.svg#century_gothicreg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.centurygotreg { font-family: 'verdana'}*/

.fs11 { font-size: 11px; }
.fs13 { font-size: 13px; }
.fs15 { font-size: 15px; line-height: 21px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; line-height: 24px; }
.fs22 { font-size: 22px; }
.fs26 { font-size: 26px; line-height: 30px; }

.colorblue { color: #00ccff; }
.colorbluelight { color: #66ccff; }
.colorlight { color: #cccccc; }
.color9 { color: #999999; }
.color6 { color: #666666; }
.color3 { color: #333333; }

/*-----------------------------------------------------------------------------
 Header
 -----------------------------------------------------------------------------*/
.header {
	max-width: 1566px;
	min-width: 1280px;
	height: 582px;
	background: #fff url(../images/head-bg-3.jpg) no-repeat top center;
	margin: 0 auto;
}

.text_head {
	margin: 0 auto;
	text-align: center;
}


.wrapper {
	max-width: 1566px;
	min-width: 1000px;
	margin: 0 auto;
	zoom: 1;
}

/*-----------------------------------------------------------------------------
 Podpiska
 -----------------------------------------------------------------------------*/
.reg {
	height: 143px;
	width: 1280px;
	background: #fff url(../images/form-bg.jpg) no-repeat top center;
	margin: 0 auto;
	padding-top: 13px;
}

.regpodpiska {
	height: 82px;
	width: 792px;
	background: #F9F5ED;
	border-radius: 45px;
	margin: 0 auto;
	padding-top: 9px;
}

.regtextwidget {
	height: 72px;
	width: 773px;
	background: #fff url(../images/reg-bg-all.png) repeat top center;
	border-radius: 36px;
	margin: 0 auto;
}

.regiwrapu {
    float: left;
    margin: 10px 3px 0px 5px;
}

.placeholder {
	float: left;
    width: 182px;
    height: 47px;
    border: none;
    border-radius: 25px;
    margin-top: 2px;
	padding-left: 44px;
	padding-right: 12px;
    font-family: Arial;
    color: #aaa;
}

#oa-firstname {
	background: #fff url(../images/regname-bg.png) no-repeat 13px 13px;
	margin-left: 10px;
}

#oa-email {
	background: #fff url(../images/regpwd-bg.png) no-repeat 16px 14px;
}

.regbut {
	background: #fff url(../images/accesbut.png) no-repeat top center;
	width: 238px;
	height: 50px;
	border-radius: 25px;
	border: none;
	margin: 12px 0 0 20px;
}

.regbut:hover {
	cursor: pointer;
}

.privacy {
	float: right;
	margin: 8px 301px 0 0;
}

/*-----------------------------------------------------------------------------
 Main info
 -----------------------------------------------------------------------------*/
.maininfo {
	width: 1280px;
	height: 414px;
	margin: 0 auto;
	margin-top: 15px;
}

.cell0 {
	float: left;
	background: #fff url(../images/cell0.png) no-repeat top left;
	width: 154px;
	height: 102px;
	margin: 119px 0 0 13px;
	margin-right: 3px;
}

.cell {
	float: left;
	margin-right: 3px;
	width: 185px;
	text-align: center;
}

/*-----------------------------------------------------------------------------
 Add info
 -----------------------------------------------------------------------------*/
.addinfo {
	max-width: 1566px;
	min-width: 1280px;
	height: 509px;
	background: #fff url(../images/addinfo-bg.jpg) no-repeat top center;
	margin: 0 auto;
}

.addtxt1 {
	width: 460px;
	margin: 0 auto;
	padding-top: 159px;
	text-align: center;
}

.addtxt2 {
	width: 700px;
	margin: 0 auto;
	margin-top: 95px;
	text-align: center;
}

/*-----------------------------------------------------------------------------
 Lisa info
 -----------------------------------------------------------------------------*/
.lizainfo {
	width: 1280px; /*946px;*/
	margin: 0 auto;
	margin-top: 20px;
}

.lizaphoto {
	float: left;
	margin-left: 195px;
}

.lizatxt {
	float: left;
	margin-left: 23px;
	width: 423px;
}

.widget {
	float: left;
	margin-left: 26px;
}

/*-----------------------------------------------------------------------------
 Lisa info
 -----------------------------------------------------------------------------*/
.footer {
	width: 1280px;
	margin: 0 auto;
	margin-top: 81px;
	margin-bottom: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.menu3 {
	margin-bottom: 10px;
}

.menu3 > a {
	color: #66ccff;
}
