.form input{
	width:250px;
	padding:5px;
}
.form label{
	text-align:right;
	width:100px;
	padding:5px;
	display:inline-block;
}
.form textarea{
	width:250px;
	padding:5px;
}
.form .submit{
	width:100px;
	padding:2px;
	margin-top:10px;
}
.form label span{
	color:red;
}
.width18{
	width:18px!important;
}
.width200{
	width:200px!important;
}
.error{
	color:red;
	font-size:11px;
	margin-bottom:4px;
	display:block;
	clear:both;
	padding-left: 115px;
}