/**
 * @category	Individ
 * @copyright	2012 Individ LTD (http://individ.ru)
 */

#training-form {
	display: none;
	position: absolute;
	z-index: 120;
	left: 50%;
	top: 160px;
	margin: 0 0 0 -460px;
	background: #fff;
}
#training-form .cont {

}
#training-form .close {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	right: 0;
	top: -30px;
	background: #fff;
	padding: 0 10px 0 25px;
	color: #000;
}
#training-form .close:before {
	content: '';
	display: block;
	position: absolute;
	background: url("/bitrix/templates/radislavgandapas/images/sprite.png") 0 -150px;
	width: 13px;
	height: 14px;
	top: 5px;
	left: 5px;
}
#training-form .close span {
	border-bottom: 1px dotted #000;
}
#training-form .close:hover {
	text-decoration: none;
}


.training-buy {
	padding: 10px;
}
.training-buy article {
	position: relative;
	width: 292px;
	float: left;
	margin: 0 0 0 12px;
	background: #eee;
	
	padding-bottom: 9000px;
	margin-bottom: -9000px;
}
.training-buy article:first-child {
	margin-left: 0;
}

.training-buy .oneoffer article {width: 100%;}
.training-buy .oneoffer article .head {width: 100%;}
.training-buy .oneoffer article .head .info {width: 266px;}
.training-buy .oneoffer .price .col2{float: left;}

.training-buy article .head {
	position: relative;
	padding: 10px 13px 15px;
	line-height: 1.4;
	position: absolute;
	z-index: 80;
	width: 266px;
	color: #fff;
	min-height: 97px;
}
.training-buy article .head:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 1px;
	width: 259px;
	height: 1px;
	background: url("/bitrix/templates/radislavgandapas/images/sprite.png") 0 -180px;
}
.training-buy article.standard .head {background: #7498C0; /*eecc11; /*72C364;*/}
.training-buy article.business .head {background: #7498C0; /*d2413a; /*7BC2FF;*/}
.training-buy article.vip .head {background: #7498C0; /*7ca0c5; /*A4B2B5; /*F79F2D*/}

.training-buy article .headfix {height: 127px;}

.training-buy article h2 {
	margin: 0;
	color: #fff; /*2B5589;*/
	font-size: 20px;
	font-family: 'open_sansregular';
	margin: 0 0 13px;
	line-height: 1.2;
}
.training-buy article h2 span {
	font-family: 'open_sans_semiboldregular';
	color: #fff; /*000;*/
}

.training-buy article .detail-info {
	margin: 5px 0 0;
	font-size: 11px;
}
.training-buy article a.detaillink {
	position: relative;
	color: #2430A5;
	text-decoration: none;
	border-bottom: 1px dotted #2430A5;
	margin: 0 0 0 19px;
}
.training-buy article a.detaillink:before {
	content: '';
	display: block;
	position: absolute;
	left: -15px;
	top: 3px;
	width: 9px;
	height: 14px;
	background: url("/bitrix/templates/radislavgandapas/images/sprite.png") -40px -30px;
}
.training-buy article .cont {
	margin: 0 0 20px;
}

.training-buy .price {
	font-size: 15px;
	line-height: 1.4;
	color: #2B5589;
	font-family: 'open_sans_semiboldregular';
	padding: 19px 13px 12px;
}
.training-buy .price b {
	display: block;
	font-weight: normal;
	font-family: 'open_sansbold';
	font-size: 28px;
	color: #000;
}
.training-buy .price .col1 {
	float: left;
	width: 136px;
}
.training-buy .price .col2 {
	float: right;
	width: 125px;
}

.training-buy .discount {
	font-family: 'open_sansitalic';
	background: #D0E5FE;
	color: #000;
	padding: 5px 13px;
	font-size: 12px;
	line-height: 1.4;
	height: 38px;
}
.training-buy .discountnot {
	height: 48px;
}

.training-buy .cnt {
	color: #fff;
	background: #002238;
	font-size: 15px;
	font-family: 'open_sans_semiboldregular';
	padding: 5px 13px 6px;
}
.training-buy .cnt .inputtext {
	width: 42px;
	margin: 0 5px 0 3px;
	vertical-align: top;
	border: none;
}
.training-buy .sum {
	font-family: 'open_sansitalic';
	padding: 5px 13px;
	color: #000;
}

body .disabled .ui-spinner .ui-spinner-up, body .disabled .ui-spinner .ui-spinner-down {
	display: none;
}


.total-line {
	margin: 20px 0 0;
}
.total-line .total {
	font-family: 'open_sans_semiboldregular';
	color: #2B5589;
	font-size: 24px;
	line-height: 1.2;
}
.total-line .total b {
	font-weight: normal;
	font-family: 'open_sansbold';
	font-size: 44px;
	color: #000;
}
.total-line .col {
	width: 292px;
	float: left;
	margin: 0 0 0 12px;
}
.total-line .col:first-child {
	margin-left: 0;
}
.total-line .label {
	float: left;
	width: 148px;
	line-height: 1.2;
	margin: 18px 0 0;
	color: #2B5589;
}
.total-line .label a.info {
	display: inline-block;
	font-size: 11px;
	text-decoration: none;
	color: #2B5589;
	border-bottom: 1px dotted #2B5589;
	margin: 6px 0 0;
}
.total-line .field {
	float: right;
	margin: 10px 0 0;
}
.total-line .inputtext {
	width: 117px;
}
.total-line button.btn.lite {
	margin: 10px 0 0;
	padding: 7px 20px;
	width: 292px;
}
.total-line button.btn.lite:before {
	top: 4px;
}
.total-line .inputtext.ok {
	border: 1px solid #72C364;
}
.disabled .total-line button.btn.lite {
	cursor: default;
	opacity: 0.5;
}


#training-order {
	border-top: 1px dotted #676767;
	display: none;
}


ul.reg-nav {
	margin: 20px 11px;
	padding: 0;
}
ul.reg-nav li {
	position: relative;
	margin: 0 45px 0 0;
	padding: 0;
	background: none;
	float: left;
	font-size: 20px;
	color: #6C6C6C;
	height: 51px;
	line-height: 51px;
}
ul.reg-nav li:after {
	content: '';
	display: block;
	position: absolute;
	left: -35px;
	top: 0;
	width: 27px;
	height: 51px;
	background: url("/bitrix/templates/radislavgandapas/images/sprite.png") -70px -100px;
}
ul.reg-nav li:first-child:after {
	display: none;
}
ul.reg-nav li.active {
	font-family: 'open_sans_semiboldregular';
	color: #57B147;
}


#training-reg .grl {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 20px;
	height: 473px;
	
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
#training-reg .grr {
	position: absolute;
	z-index: 50;
	right: 0;
	top: 0;
	width: 20px;
	height: 473px;
	
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

#training-reg .list {
    height: 414px;
    margin: 0;
    overflow: hidden;
	position: relative;
}
#training-reg .list section {
    width: 9999px;
}
#training-reg article {
	position: relative;
	float: left;
	width: 396px;
	margin: 0 11px 0 0;
	padding: 10px;
	background: #fff;
	min-height: 390px;
	background: #7498C0; /*eecc11; /*72C364;*/
}
#training-reg article:first-child {
	margin-left: 11px;
}
#training-reg article.business {
	background: #7498C0; /*d2413a; /*7BC2FF;*/
}
#training-reg article.vip {
	background: #7498C0; /*7ca0c5; /*A4B2B5; /*F79F2D*/
}
#training-reg article h2 {
	margin: 0;
	color: #000;
	font-size: 20px;
	font-family: 'open_sans_semiboldregular';
	margin: 0 0 30px;
	line-height: 1.2;
}

#training-reg .scrollbar {
	margin: 20px 11px 0;
}
#training-reg .jq-scrollbar-x .jq-scrollbar-rail {
    border-top: 1px solid #555454;
    position: relative;
    top: 8px;
}
#training-reg .jq-scrollbar-x .jq-scrollbar-bar {
    background-position: -100px -30px;
    width: 87px;
	height: 24px;
    top: -13px;
}

#training-reg small {
	display: inline-block;
	font-size: 12px;
	color: #8B8B8B;
	width: 518px;
	float: left;
	margin: 0 50px 10px 11px;
}


#order_form_div b{
	font-weight: normal;
}
#order_form_div label {
	display: block;
	font-family: 'open_sans_semiboldregular';
	width: 108px;
	float: left;
	font-size: 14px;
	line-height: 1.2;
	color: #000; /*2B5589*/
	padding: 11px 0 0;
}
#order_form_div label small{
	font-family: 'open_sansregular';
}
#order_form_div label.dline {
	padding: 0;
}
#order_form_div .field {
	float: left;
	margin: 0 0 15px;
}
#order_form_div .inputtext, #order_form_div .inputtextarea {
	width: 264px;
}



/* step payment */
.payment {
	margin: 0 11px 20px;
}
.payment .payment_type {
	width: 441px;
	font-size: 11px;
}
.payment .payment_type .cont {
	background: #F1F1F1;
	color: #096AA9;
	padding: 20px;
}
.payment .person_type {
	background: #F1F1F1;
	width: 401px;
	color: #096AA9;
	font-size: 11px;
	padding: 20px;
}
.payment .payment_type a, .payment .person_type a {
	color: #096AA9;
}
.payment .payment_type {float: right;}
.payment .person_type {float: left;}
.payment h3 {
	font-family: 'open_sansregular';
	margin: 0 0 10px;
	color: #096AA9;
	font-size: 16px;
}
.payment .payment_type .col-cards {
	width: 170px;
	float: left;
}
.payment .payment_type .col-robox {
	width: 210px;
	float: right;
}
.payment .payment_type .col-robox a {
	text-align: left;
}
.payment .payment_type a {
	display: inline-block;
	text-align: center;
}
.payment .payment_type a span {
	display: block;
}
.payment .person_type_link {
	margin: 0 0 20px;
	font-size: 13px;
}
.payment .person_type_link a {
	color: #096AA9;
	text-decoration: none;
	border-bottom: dotted 1px #096AA9;
	margin: 0 20px 0 0;
}
.payment .person_type_link a.active {
	font-family: 'open_sans_semiboldregular';
	border-bottom: none;
	font-size: 15px;
}
.payment .person_type_div {
	display: none;
}
.payment .person_type_div.active {
	display: block;
}

#order_form_div .payment_type label {
	width: auto;
	float: none;
}
#order_form_div .payment_type .paysystem {
	margin: 0 0 20px;
}
#order_form_div .payment_type .paysystem input,
#order_form_div .payment_type .delivery input {
	float: left;
	margin: 2px 10px 0 0;
}
#order_form_div .payment_type .paysystem .info,
#order_form_div .payment_type .delivery .info {
	float: left;
	width: 375px;
}
#order_form_div .payment_type .paysystem label,
#order_form_div .payment_type .delivery label {
	padding: 0 0 8px;
}
#order_form_div .payment_info {
	margin: 20px 0 10px;
}



#summary {
	padding: 0 11px 20px;
}
#summary h2 {
	margin: 0 0 20px;
}
#summary a {
	text-decoration: underline;
}
#summary .coll {
	width: 368px;
	float: left;
}
#summary .colr {
	width: 448px;
	float: right;
}
#summary .info {
	background: #77B2D8;
	color: #fff;
	font-size: 15px;
	margin: 15px 0 0;
	padding: 10px;
	line-height: 1.2;
}
.pdf-big {
	background: url("/bitrix/templates/radislavgandapas/images/i-pdf-big.png") center 0 no-repeat;
	padding: 130px 0 0;
	text-align: center;
	display: inline-block;
	color: #096AA9;
	font-size: 16px;
}
#summary p {
	margin: 0;
}
#summary p.big {
	color: #000;
	font-size: 20px;
	margin: 0 0 10px;
}

#summary input {
	border: 1px solid #4E4E4E;
	color: #fff;
	font-family: 'pf_din_text_comp_pro_mediumRg';
	text-transform: uppercase;
	position: relative;
	font-size: 16px;
	line-height: 1;
	padding: 7px 20px;
	margin: 10px 0 0;
	min-width: 205px;
	background: #002238;
	display: block;
}
#summary input:before {
	content: '';
	display: block;
	position: absolute;
	left: 15px;
	top: 4px;
	width: 7px;
	height: 22px;
	background: url("../images/sprite.png") 0 -120px;
}
