/**
 * @category	Individ
 * @copyright	2012 Individ LTD (http://individ.ru)
 */

*{
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
html{
	background: #fff;
	color: #000;
}
body{
	font-family: 'open_sansregular';
	color: #0D2A48;
	font-size: 13px;
	line-height: 1.9;
}


*:focus{
	outline: none;
}

a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: inherit;
	text-decoration:underline;
}
a.fake{
	border-bottom: 1px dashed #000;
	text-decoration: none;
}
a.fake:hover{
	border-bottom-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: normal;
	margin: 10px 0;
}
h1{
	font-family: 'pf_din_text_comp_pro_mediumRg';
	font-size: 60px;
	line-height: 1;
	letter-spacing: 1.6px;
	margin: 21px 0 23px;
	color: #0D2A48;
}
h2{
	font-family: 'open_sansbold';
	font-size: 20px;
	color: #000;
	margin: 28px 0 11px;
}
h2.main{
	font-family: 'pf_din_text_comp_pro_x_thinRg';
	color: #fff;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin: 0 0 4px;
}
h2.main.black{
	color: #000;
}
h3{
	font-family: 'open_sans_semiboldregular';
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 18px;width: 549px;
}
h6{
	font-size: 14px;
}

p{
	margin: 0 0 26px;
}

nowrap{
	white-space: nowrap;
}

address{
	font-style: normal;
}

ul,
ol{
	list-style-position: outside;
	margin: 0 0 0 1.4em;
	padding: 0;
}
ul{
	list-style-type: disc;
}
ol li{
	margin: 0;
	padding: 0.3em 0;
}
ul li{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	background: url("images/m.png") no-repeat 0 11px;
	margin: 0;
	padding: 0 0 0 0px;padding-left: 10px;
}
dl{
	display: block;
}
dl dt, dl dd{
	float: left;
}
dl dt{
	clear: both;
	margin-right: 0.5em;
}
dl:after{
	clear: both;
	content: '';
	display: block;
}

fieldset,
img{
	border: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

input,
textarea{
	outline: none;
}
input:active,
textarea:active{
	outline: none;
}
button,
input[type=button],
input[type=submit],
input[type=image]{
	cursor: pointer;
}
::-webkit-input-placeholder{
	color: #777;
}
:-moz-placeholder{
	color: #777;
}
.placeholder{
	color: #777;
}

q:before{
	content: '«';
}
q:after{
	content: '»';
}

.abs{
	position: absolute;
}
.rel{
	position: relative;
}
.left{
	float: left;
}
.right{
	float: right;
}
.dnone{
	display: none;
}
.dnone-lite, .dnone_lite{
	visibility:hidden; position: absolute; top: -9999px; left: -9999px;
}
.img{
	float: left;
	margin: 0 ;
}
.imgr{
	float: right;
	margin: 0 0 20px 5px;
}
.hr{
	height:1px;
	border-top: dotted 1px #676767;
	margin: 10px 0;
}
.t_center{
	text-align: center;
}
.t_right{
	text-align:right;
}
a.notline {
	text-decoration: none;
}
.big {
	font-size: 16px;
	color: #000;
	font-family: 'open_sansbold';
	letter-spacing: -0.3px;
}
p.tight {
	line-height: 1.2;
	margin: 0 0 17px
}

.overflow {
	overflow: hidden;
}

.clear{
	height:0;
	font-size:0!important; line-height:0!important;
	overflow:hidden;
	clear:both;
}
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: '';
}
.clearfix:after {
	clear: both;
}


/* Tools */
.alllink {
	font-family: 'pt_sans_narrowregular';
	background: #002238;
	color: #fff;
	padding: 1px 8px;
	position: relative;
	text-decoration: none;
	font-size: 16px;
}
.alllink:after{
	content: '';
	position: absolute;
	display: block;
	background: url('images/sprite.png') no-repeat -15px 0px;
	width: 15px;
	height: 23px;
	top: -1px;
	right: -23px;
}
.alllink:hover{
	color: #fff;
}
.link-all{
	position: relative;
	font-family: 'pf_din_text_comp_pro_mediumRg';
	color: #fff;
	font-size: 19px;
	line-height: 1.1;
	text-transform: uppercase;
	background: #002238;
	border: 5px solid #fff;
	width: 100px;
	height: 75px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 14px 15px;
	cursor: pointer;
}
.link-all .h {display: none;}
.link-all:hover{
	color: #fff;
}
.link-all::after {
	content: '';
	display: block;
	position: absolute;
	top: 71px;
	left: 53px;
	background: url('images/sprite.png') no-repeat 0 -90px;
	width: 22px;
	height: 14px;
}
.link-all.active .s{display: none;}
.link-all.active .h{display: inline-block; margin: 12px 0 0;}
.link-all.active::after {
	top: 60px;
	width: 22px; height: 22px;
	background-position: -90px -60px;
}

.link-all.toright {
	height: 38px;
	padding: 23px 44px 23px 15px;
	width: 120px;
}
.link-all.toright::after {
	background-position: -60px -60px;
	width: 14px;
	height: 23px;
	top: 31px;
	left: 140px;
}

a.buy{
	font-family: 'open_sansbold';
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 13px;
	position: relative;
}
a.buy::after {
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	right: -12px;
	background: url('images/sprite.png') no-repeat -9px -30px;
	width: 9px;
	height: 13px;
}

a.isoc {
	display: inline-block;
	width: 50px; height: 50px;
	background: url('images/i-soc.png') no-repeat 0 0;
}
a.isoc.tw {background-position: -50px 0;}
a.isoc.in {background-position: -100px 0;}
a.isoc.rss {background-position: -150px 0;}

.blue {
	background: #1C3B59;
	color: #fff;
	padding: 11px;
	font-size: 15px;
	line-height: 1.6;
	margin: 0 0 35px;
}
.blue h2 {
	font-family: 'open_sansregular';
	font-size: 20px;
	line-height: 1;
	margin: 0;
	color: #fff;
}
.blue p {
	margin: 0 0 14px;
}
.blue .img {
	margin: 0 12px 0 0;
}

.blue-inline {
	display: inline-block;
	background: #1C3B59;
	color: #fff;
	padding: 4px 11px;
}

.blue a.fake, .blue-inline a.fake {
	border-bottom: 1px dotted #fff;
}
