.gpp {background: url(gpp.jpg) center center no-repeat; width:960px; height:582px;margin-bottom: 50px;}
.fm {background: url(fm.jpg) center center no-repeat; width:960px; height:378px;}
.az {background: url(az.jpg) center center no-repeat; width:960px; height:378px;}
.rm {background: url(rm.jpg) center center no-repeat; width:960px; height:478px;}
.ae {background: url(ae.jpg) center center no-repeat; width:960px; height:349px;}
.bc {background: url(bc.jpg) center center no-repeat; width:960px; height:400px;}
.by {background: url(best-year.jpg) center center no-repeat; width:960px; height:410px;}
.aef {background: url(aef.jpg) center center no-repeat; width:960px; height:378px;}
.gpp2 {background: url(gpp2.jpg) center center no-repeat; width:960px; height:582px;margin-bottom: 50px;}
.by2 {background: url(best-year2.jpg) center center no-repeat; width:960px; height:410px;}
#fm {display: none;}
#az {display: none;}
#rm {display: none;}
#ae {display: none;}
#bc {display: none;}
#by {display: none;}
#aef {display: none;}
.gpp-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 543px;
margin-right: 148px;
float: right; cursor: pointer;}
.aef-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 308px;
margin-right: 148px;
float: right;cursor: pointer;}
.fm-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 292px;
margin-right: 148px;
float: right;cursor: pointer;}

.az-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 308px;
margin-right: 148px;
float: right;cursor: pointer;}

.rm-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 408px;
margin-right: 148px;
float: right;cursor: pointer;}

.ae-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 272px;
margin-right: 148px;
float: right;cursor: pointer;}

.bc-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 322px;
margin-right: 148px;
float: right;cursor: pointer;}

.by-link{background: url(podrobnee.jpg) bottom center no-repeat;
width: 118px;
height: 31px;
display: block;
margin-top: 356px;
margin-right: 148px;
float: right;cursor: pointer;}

#first {
display: none;
}

.line{background: url(line.jpg) top center no-repeat;
width: 960px;

}
.get{background: url(get.png) -7% 8% no-repeat;
width: 495px;
height: 299px;
margin: 0 auto;
margin-top: 0px;
}
.get p{padding-top: 70px;width: 422px;font-size: 14px;
font-family: Arial;} 
.money{background: url(money.png) 0% 0% no-repeat;
width: 170px;
height: 100px;
float: right;
margin-top: -277px;
margin-right: 95px;
}
.money h1{font-size: 24px;
font-family: Arial;
padding-top: 50px;}
.srok{background: url(srok.png) -7% 8% no-repeat;
width: 170px;
height: 100px;
float: right;
margin-right: 95px;margin-top: -110px;
}
.srok p{margin-bottom: 0px;
line-height: 15px;
padding-top: 66px;}
.srok span{color: #999999;display: block;
width: 190px;}

#rm .format{background: url(format.png) -5% 7% no-repeat;}
.format h1{padding-top: 61px;
font-size: 24px;
font-family: arial;
width: 425px;
line-height: 30px;
}

.format h2{font-size: 24px;
font-family: arial;
width: 425px;
line-height: 27px;
padding-bottom: 4px;
padding-top: 4px;}


#clear{clear: both;
height: 25px;}

#az .money h1{font-size: 24px;
font-family: Arial;
padding-top: 0px;
margin-top: -14px;
line-height: 25px;}
p {font-family: Arial !important;
font-size: 14px !important;
}
.left2{position: absolute;
margin-top: -510px;
text-align: right;
left: 16px;
color: #999999;}
.left2 h4{color: #ff6600 !important;
margin: 0 !important;
font-size: 24px !important;
font-family: Arial;
text-align: right !important;
padding-bottom: 3px;}
h3{display: block;
margin: 0 auto;

color: #ff6600;
padding-top: 32px;}

.tooltip {
	position: relative;
	background: url(tool.jpg) bottom center no-repeat;
	display:block; 
	height:12px;
	width: 12px !important;
margin-top: -14px;
margin-left: 185px;
	}
.tooltip em {
	display: none;
	}
.tooltip:hover em {
	font-family:arial;
    font-size:12px;
	display: block;
    font-style:normal;
	position: absolute;
 	background: #000;
    width:177px;
	color: white;
	padding: 15px;
	bottom: -40px;
	left: 20px;
	box-shadow: 0 0 5px #ccc;
 	border-radius: 5px;
	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
}
.tooltip:hover em i {
	position: absolute;
	bottom: 45px;
	right: 201px;
	border-top: 11px solid #000;
	border-left: 11px solid transparent;
	display: block;
    -webkit-transform: rotate(225deg); 
-moz-transform: rotate(90deg); 
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
}
.tooltip2 {
	position: relative;
	background: url(tool.jpg) bottom center no-repeat;
	display:block; 
	height:12px;
	width: 12px !important;
margin-top: -14px;
margin-left: 185px;
	}
.tooltip2 em {
	display: none;
	}
.tooltip2:hover em {
	font-family:arial;
    font-size:12px;
	display: block;
    font-style:normal;
	position: absolute;
 	background: #000;
    width:177px;
	color: white;
	padding: 15px;
	bottom: -40px;
	left: 20px;
	box-shadow: 0 0 5px #ccc;
 	border-radius: 5px;
	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
}
.tooltip2:hover em i {
	position: absolute;
	bottom: 45px;
	right: 201px;
	border-top: 11px solid #000;
	border-left: 11px solid transparent;
	display: block;
    -webkit-transform: rotate(225deg); 
-moz-transform: rotate(90deg); 
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
}
.numbers{position: absolute;
font-family: Arial;
font-size: 18px;margin-left: -20px;}
#header {
max-width: 1680px;
width: 100%;
background: none !important;
height: 0px!important;
display: inline-block;
}
#footer {
background: url('http://elizavetababanova.com/wp-content/themes/madrom_babanova/bestyear/best-year-selling/images/about_grey.png') no-repeat bottom center;
height: 500px;
text-align: center;
}
.about {
width: 415px;
text-align: left;
float: left;
margin-top: 0;
margin-left: 30px;
padding-left: 30px;
padding-top: 20px;
}
.about_name {
font-size: 26px;
font-weight: bold;
color: #333333;
font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif !important;
}
.about_autor {
color: #999999;
font-size: 15px;
padding-bottom: 10px;
padding-top: 14px;font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif !important;

}
.menu-main-container {
margin: 21px 0px 0px 0;
font-size: 12px;
background: #fff;
float: left;
margin-left: -12px !important;
}
.about_desc p {
font-size: 15px !important;
margin-top: 10px;
color: #333333;
font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif !important;
line-height: 19px;
margin: 0 0 18px !important;
line-height: 20px;
}
.vk {
float: left;
margin-left: 40px;
}
.footer_info {
padding-top: 15px;
}
.copy {
font-family: arial;
font-size: 12px;
text-align: center;
}
.bottom_menu {
padding-top: 5px;
padding-bottom: 30px;
}
.bottom_menu a {
font-family: arial;
font-size: 12px;
text-decoration: none;
}
#footer img {
float: left;
}
.block5 {
text-align: center;
color: #333333;
line-height: 49px;
font-size: 14px;
}
.block5 img {
margin: 20px 30px;vertical-align: top;
}
.line_shadow {
background: transparent url("../image/line_shadow.png") center center no-repeat;
height: 25px !important;
width: 100%;
margin:0 !important;
padding-bottom: 10px;
padding-top: 50px;
}
#wrapper1, #wrapper2 {
min-width: 481px;
max-width: 960px;
margin: 0 auto ;
margin-bottom: 40px !important;
}