.pagenav{
	margin: 8px 0; width: auto; float: left;
	font-size:12px; font-weight:bold; color: #232323;
}
.ipad .pagenav{font-size:22px;}

.pagenav a.begin, .pagenav a.prev, .pagenav a.next, .pagenav a.end{
	display: inline-block; width:10px; height:9px;
	background: url('images/ars.png') no-repeat 0 0;
}
.pagenav a.prev{background-position:0 -18px;}
.pagenav a.next{background-position:0 -27px;}
.pagenav a.end{background-position:0 -9px;}

.pagenav a{margin:0 2px; color: #232323; text-decoration:none; vertical-align:middle;}
.ipad .pagenav a{margin:0 10px;}

.pagenav input.inp{
	width:39px; height:24px; padding:0;
	background: transparent url('images/inp.png') no-repeat 0 0;
	border:none;outline:none; text-align:center; vertical-align:middle;
	font-family: Arial, Verdana; font-weight:bold; color: #232323;
}
.ipad .pagenav input.inp{font-size:22px; width:41px; background-position:1px 0;}


.pagenav .info{font-size:15px; color:#6c6c6c; font-weight:normal; text-align:center;}
.pagenav .info span{font-size:12px;}
.ipad .pagenav .info{display:none;}