@font-face {
    font-family: 'ALSRublRegular';
    src: url('rouble-webfont.eot');
    src: local('O'), url('rouble-webfont.woff') format('woff'), url('rouble-webfont.ttf') format('truetype'), url('rouble-webfont.svg#webfontAzW9QcIF') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.rub {font-family:'ALSRublRegular',Sans-Serif;margin-left: 10px;}




@font-face {
    font-family: 'pf_din_text_comp_pro_mediumRg';
    src: url('pfdintextcomppro-medium_0-webfont.eot');
    src: url('pfdintextcomppro-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-medium_0-webfont.woff') format('woff'),
         url('pfdintextcomppro-medium_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pf_din_text_comp_proitalic';
    src: url('pfdintextcomppro-italic_0-webfont.eot');
    src: url('pfdintextcomppro-italic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-italic_0-webfont.woff') format('woff'),
         url('pfdintextcomppro-italic_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pf_din_text_comp_pro_thinIt';
    src: url('pfdintextcomppro-thinital_0-webfont.eot');
    src: url('pfdintextcomppro-thinital_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-thinital_0-webfont.woff') format('woff'),
         url('pfdintextcomppro-thinital_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pf_din_text_comp_pro_thinRg';
    src: url('pfdintextcomppro-thin_0-webfont.eot');
    src: url('pfdintextcomppro-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-thin_0-webfont.woff') format('woff'),
         url('pfdintextcomppro-thin_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pf_din_text_comp_pro_x_thinRg';
    src: url('pfdintextcomppro-xthin_0-webfont.eot');
    src: url('pfdintextcomppro-xthin_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-xthin_0-webfont.woff') format('woff'),
         url('pfdintextcomppro-xthin_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('pt_sans-narrow-web-regular-webfont.eot');
    src: url('pt_sans-narrow-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-narrow-web-regular-webfont.woff') format('woff'),
         url('pt_sans-narrow-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}