/**
 * @category	Individ
 * @copyright	2012 Individ LTD (http://individ.ru)
 */
ul.ilist li {
margin: 0 !important;
padding: 0px!important ;
width: 317px!important ;
height: 80px!important ;
background: none!important ;
display: inline-block!important ;
vertical-align: top!important ;
margin-bottom: 15px!important ;

}
.bonus p {
margin-top: 13px !important;
width: 525px !important;
margin-left: 9px !important;}
.w250{width: 233px;
display: inline-block;
float: left;
visibility: hidden;
width: 0px;}
.w250 p{font-size: 17px !important;
line-height: 25px;}
.w250 span{font-size: 14px !important;font-family: Arial;
line-height: 17px;}
ul.ilist li.active {
background-color: #1aa6e8 !important;
}
ul.ilist li.active p {
color: white !important;
}
h1 a{font-size: 42px;
color: #1aa6e8 !important;
font-family: 'avantgardegothicc-book';}
span p {
font-size: 14px !important;
-webkit-text-stroke-width: 0px !important;
color: #1aa6e8 !important;
font-family: Verdana !important;
letter-spacing: 0px!important;
text-align: right;
padding-right: 10px;
padding-top: 15px;
}
h5 {
font-size: 18px;
font-family: Arial;
}
.bonus2{background: url("http://elizavetababanova.com/wp-content/themes/madrom_babanova/files/bonus.jpg") left top no-repeat;
height: 113px;
background-color: #fff5eb;
width: 620px;margin-top: 15px;}
.bonus2 p{margin-top: 38px !important;}

.pane{background: url("http://elizavetababanova.com/wp-content/themes/madrom_babanova/files/shadow.jpg") top center no-repeat;}
.pane p{float: left !important;line-height: 19px;width: 487px;}
.pane img{float: right;
margin-top: -50px;}

ul.ilist li a img {
float: right !important;
margin: 0px!important;
display: block!important;
width: 80px!important;
height: 80px!important;
}
ul.ilist li a > span {
display: inline-block !important;
margin: 0 !important;
width: 237px !important;
float: left !important;
height: 80px !important;
}
.page_post ol, #content ul {
margin: 0px!important ;
padding: 0!important ;
margin-left: 0px!important ;
margin-right: 0px!important ;
list-style: disc!important ;
font-size: 12px!important ;
}
.course-content p {width: 596px !important;}
.format p{width: 593px !important;}
.grayblock p{width: 100%;}
.grayblock p span{padding-right: 7px;}
.course-content img{display: block !important;
float: left !important;
margin-left: -8px !important;margin-top: 0px;}
.otziv {min-height: 185px;}
.otzivleft{float: left;
width: 125px;}
.otzivfoto{float: none !important;
margin-top: 20px !important;
margin-left: 12px;}
.otzivname{text-align: center;width: 100% !important;}
.otzivright{float: left;}
.otzivtext{
width: 473px !important;
margin-left: 25px !important;
margin-top: 48px !important;}
.otzivright p span{display: block;
padding-bottom: 20px;
font-size: 18px;
}
.otzivleft{width: 125px;
float: left;}
.whatimg{float: left !important;
margin-top: 10px  !important;margin-left: -10px;}
.whattext {width: 575px;
margin-left: 5px;float: left;}
.whattext p{line-height: 17px !important;}
.store h1 {
	margin: 0 0px 0;
	position: relative;
	cursor: pointer;
}
.menu li {padding-left:0px !important;}
.store h1 a {
	border-bottom: 1px dotted #0D2A48;
	display: inline-block;
	line-height: 46px;
}
.store h1:after {
	content: '';
	display: block;
	position: absolute;
	width: 19px; height: 14px;
	background: url("/bitrix/templates/radislavgandapas/images/sprite.png") -250px 0;
	right: 20px;
	top: 24px;
}
.store h1 a:hover {text-decoration: none;}
.store.active h1 {cursor: default;}
.store.active h1 a {border: none;}
.store.active h1:after {display: none;}

.store h2 {
	font-size: 36px;
font-family: 'avantgardegothicc-book';
margin: 12px 0px;
line-height: 43px;
color: #0099ff;
padding-top: 20px;
}
.store h3 {
	margin: 0 0 3px;
color: #1aa6e8;
font-family: Arial;
font-size: 18px;
	
}
.store h3 a.active {
	text-decoration: none;
	cursor: default;
	color: #ff6600 !important;
background: url("http://elizavetababanova.com/wp-content/themes/madrom_babanova/files/active.jpg") top center no-repeat;
background-position: 50% 101%;
height: 50px;
display: inline-block;
}
.pad h3{position: absolute;margin-left: -10px;}
.store .inputselect {
	width: 100%;
}
.rightcol h3{padding-left: 10px !important;}
.store button.btn.lite {
	width: 218px;
height: 50px;
font-size: 0px;
display: block;
border: none;
background: url("http://elizavetababanova.com/wp-content/themes/madrom_babanova/files/buy.png") top center no-repeat;
}
.beforep{color: white;margin-bottom:5px;width: 216px !important;}
.oner {
color: white;
display: block;
font-size: 12px;
font-family: Arial;
margin-top: -11px;
margin-left: 29px;
}
.pad h3 a{font-family: Arial;
font-size: 18px;
color: #1aa6e8;
margin-right: 15px;cursor:poiter;}
.pad h3 a:hover{text-decoration:none;}

ul.ilist {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 1.1;
	letter-spacing: 1px;
}
ul.ilist li {
	margin: 0;
	padding: 12px 10px 7px;
	width: 150px;
	background: none;
	display: inline-block;
	vertical-align: top;
	min-height: 55px;
}
ul.ilist li.package {
	background: #ffffb4;
}
ul.ilist li.active {
	background: #dadada;
}
ul.ilist li a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}
ul.ilist li a img {
	float: left;
	margin: 0 8px 15px 0;
}
ul.ilist li a > span {
	display: block;
	margin: 0;
}
ul.ilist li a > span > span {
	border-bottom: 1px dotted #000;
	line-height: 1.3;
}

.store .pad {
	padding: 0 10px;
}
.store .pad .img {
	margin: 5px 24px 10px 0;
}

.store .leftcol {
	float: left;
	width: 721px;
}
.store .rightcol {
	float: right;
	
}
.store .hidebuy .leftcol {
	float: none;
	width: 100%;
}
.store .prevideo {
	margin: 6px 0 30px;
}

.store .grayblock {
	background: #FFFFFF;
	padding: 0px;
	min-height: 175px;
	border-top: 1px solid #dadada;
	margin-top: 69px;
}
.store.TRAININGS .grayblock {
	padding: 20px 10px;
	min-height: 99px;
}
.store .grayblock section {
	display: none;
}
.store .grayblock section.active {
	display: block;
}
.store .grayblock .w50 {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0;
}

.store .reviews article {
	position: relative;
	padding: 0 0 20px;
	margin: 0 0 20px;
}
.store .reviews article:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: 50%;
	margin-left: -202px;
	background: url("/bitrix/templates/radislavgandapas/images/sprite.png") 0 -185px;
	width: 403px; height: 1px;
}
.store .reviews .name {
	font-family: 'open_sans_semiboldregular';
}
.grayblock p {margin: 0 0 15px ;}
.store .buyblock {
	background: #1aa6e8;
	width: 239px;
}
.ired{width: 218px;
height: 50px;
font-size: 0px;
display: block;
border: none;
background: url("http://elizavetababanova.com/wp-content/themes/madrom_babanova/files/buy.png") top center no-repeat;
margin-left: 11px;
margin-top: -25px;
margin-bottom: 16px;}
.store .buyblock .pad {
	padding: 10px;
}
.by-buy{margin-top: 0px !important;
margin-left: -10px;
margin-top: 8px!important;
float: none !important;margin-bottom: 5px;}
.store .price {
	font-family: Arial;
	font-size: 30px;
	color: #fff;
	float: left;
    line-height: 34px;	margin-bottom: 20px;
}
.store .price .all {display: none;}
.store .buyall .price .one {display: none;}
.store .buyall .price .all {display: inline;}

.store.TRAININGS .price {
	float: none;
	font-size: 22px;
}
.store .price .type-price {
	float: left;
	margin: 0 15px 0 0;
}
.store .price .type-price:nth-child(3n) {
	margin-right: 0;
}
.store .price .type {
	font-size: 12px;
	line-height: 1.2;
}

.store .paylogos {
	height: 105px; 
	background: #fff url('http://elizavetababanova.com/wp-content/themes/madrom_babanova/files/buylogos.jpg') no-repeat center center;
	margin: 0 0 8px;
}
.store .downloadinfo {
	color: #fff;
	font-size: 13px;
	line-height: 1.4;
	padding: 1px 28px 14px 78px;
	background: url('../../images/i-download.png') no-repeat 29px 0;
	text-transform: uppercase;
}
.store .buy-item {
	margin-bottom:10px;
}
.store  .cont {
	margin-top:18px;
}