 @import "style/style.css" screen; /* Стиль для вывода результата на монитор */
  @import "style/flexslider.css" screen; /* Стиль для вывода слайдера */
   @import "style/skeleton.css" screen; /* Стиль для вывода результата на монитор */
    @import "font/font.css" screen; /* Стиль для вывода шрифтов */
      @import "style/otzivi.css" screen;
	   @import "style/calendar.css" screen; /* Стиль для страницы календаря */

li.widget {
display: block;
list-style-type: none;
font-family: 'avantgardegothicc-book';
color: #1AA6E8;
font-size: 1.5em;
}

h2.widgettitle {
margin-bottom: 15px;
margin-top: 5px;font-size: 18px;
}
#menu-item-104{margin-left: 10px;}
#menu-item-104 a{background-color: rgb(136, 183, 255);}
.ayur td {border: 1px solid black; background-color: #eee; padding: 4px;}
.q-block a{width: 100px;
height: 50px;
display: block;}
form#login{
    display: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 200px;
    padding: 40px 25px 25px 25px;
    width: 350px;
    z-index: 999;
    left: 50%;
    margin-left: -200px;
    color: #878787;
    font-size: 11px;
}

form#login h1{
    color: #333333;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin: 0 0 30px 0;
}

form#login input#username,
form#login input#password{
    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    width: 325px;
    margin: 7px 0 30px 0;
    background-color: #F9F9F9;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

form#login input#username:focus,
form#login input#password:focus{
    background-color: #FFF;
}


form#login input.submit_button{
    font-size: 13px;
    color: #FFF;
    border: 1px solid #b34336;
    background-color: #e25c4c;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ba3f31;
    padding: 9px 31px 9px 31px;
    background: -moz-linear-gradient(top, #ea6656, #df5949);
    border-top: 1px solid #bb483a;
    border-bottom: 1px solid #a63b2e;
    float: right;
    box-shadow: 0 1px 0 #E87A6E inset;
}

form#login a{
    text-decoration: none;
}

form#login a.close{
    color: #DCDCDC;
    position: absolute;
    right: 15px;
    top: 15px;
}

form#login a.lost{
    color: #B4B2B2;
    float: left;
    margin: 10px 0 0 0;
}

form#login p.status{
    text-align: center;
    margin: -25px 0 20px 0;
    display: none;
}

a.login_button{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #FFF;
    border-radius: 3px;
    
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

.login_oveerlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}