body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    min-width: 990px;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p {
	margin-top: 10px;
}

#wrapper {
	#max-width: 1680px;
	width:100%;
	height: auto;
	text-align: center;
	margin:0;
	padding:0;

}

#header {
	max-width: 1680px;
	width:100%;
	background: #fff url("images/space2.jpg") no-repeat center top;
	height:990px;
	display: inline-block;
}

#social {
	#background: #fff url("images/social_line.gif") no-repeat center top;
}

#social #logo {
	width:23%;
	text-align: left;
	min-width: 325px;
	float: left;
	padding-left: 20%;
	padding-top: 20px;
}

#social #logo .name {
	color:#ffffff;
	padding-left: 20px;
	font-size: 24px;
}

#social #logo .title {
	color:#ee9005;
	padding-left: 20px;
	font-size: 13px;
}

#buttons {
	padding: 30px 10px 30px 10px;
	#width:100%;
	width: 200px;
	float: right;
	padding-right:20%;
}
#buttons img {
	padding: 0px 6px 0px 0px;
}

#header .year_program {
	color:#66ccff;
	font-size: 24px;
	/*margin-top: 23px;*/
}
#header .best_year {
	color:#ffffff;
	font-size: 72px;
	font-family: CenturyGothic-Regular, 'Century Gothic Regular', CenturyGothic, 'Century Gothic', Helvetica, Arial, sans-serif;
}

#header .your_life {
	color:#ffffff;
	font-size: 76px;
	font-weight: bold;
	line-height: 63px;
    font-family: CenturyGothic-Regular, 'Century Gothic Regular', CenturyGothic, 'Century Gothic', Helvetica, Arial, sans-serif;
}

#header .results {
	color:#ffcc00;
	font-size: 21px;
	margin-top: 14px;
}

#content, #content2 {
	max-width:1090px;
	width:100%;
	text-align: center;
	display: inline-block;
}

.line {
	margin-top: -14px;
}

.line_comm {
	margin: 0 auto;
	margin-top: -12px;
}

#content .banner1 {
	padding-left: 10px;
	padding-top: 30px;
	width: 810px;
	#width: 52%;
	height: 240px;
	display: inline-block;
	
}

#content .banner1 img {
	padding-right: 40px;
}

#content .banner1 p {
	padding-top: 30px;
	text-align: left;
	font-size: 23px;
	line-height: 28px;
}

#content .banner2 {
	padding-right: 10px;
	padding-top: 30px;
	width: 900px;
	height: 260px;
	background: #fff url('images/banner_grey.png') no-repeat top center;
	display: inline-block;
}

#content .banner2 img {
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 30px;
}

#content .banner2 p {
	padding-top: 30px;
	text-align: right;
	font-size: 23px;
	line-height: 28px;
}

.how {
	font-size: 60px;
	color: #9933cc;
	margin-top: 40px;
}

.modules12 {
	margin-top: 30px;
	font-size: 30px;
	line-height: 32px;
}

.modules {
	background: #fff url('images/modules12.png') no-repeat top center;
	height:970px;
	font-size: 19px;
}

.modules .master {
	float: left;
	left: 780px;
    position: relative;
    text-align: left;
    top: 245px;
    width: 300px;
}

.modules .magenta {
	color:#9933cc;
	font-size: 39px;
	font-weight: bold;
}

.modules .grey {
	color:#cccccc;
	font-size: 39px;
}

.modules .regular {
	color:#000000;
	font-size: 19px;
}

.modules .webinar {
	float: left;
    left: -50px; /*250px;*/
    position: relative;
    text-align: left;
    top: 600px; /*425px;*/
    width: 320px;
}

.enstein {
	width: 100%;
	background: url('images/formuls.png') no-repeat top center;
	height: 200px;
	margin-top: -10px;
}

.ens_inner {
	width: 550px;
	margin: 0 auto;
}

.enstein .citate {
	text-align: center;
	font-size: 28px;
	padding-top: 40px;
	font-style: italic;
	line-height: 30px;
}
.enstein .autor {
	text-align: right;
	font-size: 18px;
	padding-top: 20px;
	padding-right: 30px;
	font-style: italic;
}

.question {
	height: 350px;
	text-align: center;
}

.question p {
	font-size: 32px;
	padding-top: 60px;
	line-height: 34px;
}

.question .blue {
	color:#33ccff;
	font-size: 65px;
	padding-top: 10px;
}

.all_year {
	height: 360px;
	text-align: center;
	border: solid  1px #cccccc;
	border-radius: 10px;
	padding: 10px;
	margin-top:10px;
	margin-bottom: 10px;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 4px  #cccccc;
	-moz-box-shadow: 0px 0px 4px #cccccc;
	box-shadow: 0px 0px 4px #cccccc;
}


.all_year .mounth {
	float: left;

}
.all_year .mounth .name {
	/*margin-top: 60px;*/
	color: #c4f0ff;
	font-size: 26px;
}

.all_year .digit {
	font-size: 162px;
	color: #c4f0ff;
	display: block;
	margin-top: 20px; /*80px;*/ 	
}

.all_year .description .title {
	color: #33ccff;
	font-size: 32px;
	font-weight: 500;
	line-height: 34px;
}

.all_year .description {
	width: 450px;
	padding-left: 30px;
	float: left;
	text-align: left;
}

.all_year .description .text {
	font-size: 17px;
	padding-top: 10px;
}

.all_year .img_but {
	float: right;
	width: 350px;
}

.all_year .img_but img {
	float: left;
	margin-top: 15px;
}

.all_year .but_link {
	float: right;
	margin: 20px 92px 0 0;
}

.all_year a {
	text-decoration: none;
}

.all_year .but_more {
	width: 200px;
	height: 34px;
	background-color: #33CCFF;
	color: #fff;
	border-radius: 10px;
	font-size: 20px;
	vertical-align: middle;
	padding: 10px 0 0 0;
	box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
}

.whatineed {
	padding-top: 70px;
}

.whatsay  {
	padding-top: 55px;
	text-align:center;
	display:inline-block;
}

.whatsay div {
	font-size: 32px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px; 
}

.ws_expert {
	width: 550px; /*950px;*/
}

.ws_comment {
	width: 800px; /*950px;*/
}

.quo1 {
	width: 90px;
}

.quo2 {
	width: 80px; /*75px;*/
}

.comment {
	background: url('images/formuls.png') no-repeat bottom center;
	margin-top: 40px;
}
.comment div {
	float: left;
}

.comment div img {
	float: left;
	padding-left: 130px;
}
.comment_text {
	text-align: left;
	width: 620px;
	padding-left: 20px;
}

.comment_text .comment_title {
	color: #1EAAD9; /*#33CCFF;*/
	font-size: 22px;
	padding-bottom: 20px;
}

.comment_text p {
	font-size: 15px;
}

.comment_text .autor {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 7px;
	padding-bottom: 28px;
	color: #666;
}

.expert {
	margin-top: 40px;
}

.expert_text {
	float: left;
	padding-left: 100px;
	text-align: right;
	width: 620px;
}

.expert_title {
	color: #9900cc;
	font-size: 22px;
	padding-bottom: 20px;
}

.expert_say, a {
	font-size: 15px;
}

.expert div img {
	float: left;
	padding: 0 0 28px 20px;
}

.expert_autor {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 7px;
	color: #A55F55; /*#666;*/
}

.expert_who {
	font-size: 15px;
	color: #666;
	padding-bottom: 28px;
}

.expert_who a {
	color: #666;
}

#but_mr {
	margin: 10px 0 20px 0;
}

.price_table_header .variants {
	font-size: 65px;
	padding-top: 90px;
}

.price_table_header {
	background: url('images/table_back.png') no-repeat bottom center;
	height:300px;
}

.price_table_header .th-row {
    height: 100px;
    margin-left: 80px;
}

.price_table_header .th {
	font-size: 32px;
	float: left;
	padding-top: 87px;
	width: 310px;
	text-align: center;
}

.col1, .col2, .col3  {
	float: left;
	height: 1200px;
}

.col1 {
	padding-left: 55px;
	width:320px;
}
.col2 {
	background: url('images/premium.png') no-repeat top center;
	width:344px;
}

.col3 {
	padding-left: 55px;
}

.col1 .row1 {
	height:240px;
	padding-top: 85px;
}
.col2 .row1 {
	height: 295px; /*260px;*/
	padding-top: 30px; /*65px;*/
}
.col3 .row1 {
	height: 295px; /*260px;*/
	padding-top: 30px; /*65px;*/
}

.greyline1 {
	position: relative;
	z-index: 1000;
	bottom: 1540px;
}
.greyline2 {
	position: relative;
	z-index: 1000;
	bottom: 1466px;
}
.greyline3 {
	position: relative;
	z-index: 1000;
	bottom: 1395px;
}
.greyline4 {
	position: relative;
	z-index: 1000;
	bottom: 1035px;
}


.price {
	font-size: 43px;
	color: #33ccff;

}

.col2price {
	color: #ffcc33;
	font-size: 76px;
}

.col2period {
	font-size: 43px;
	color: #ffffff;	
}

.oldprice {
	font-size: 32px;
	position: relative;
	/*top: -35px;*/
}

.oldpriceimg {
	position: relative;
	z-index: 1000;
	top: 25px; /*-12px;*/
}

.eko {
	background: url('images/eko.png') no-repeat top center;
	height: 33px;
	padding-top: 5px;

}

.eko span {
	font-size: 17px;
	color: #ffffff;
}

.eko .sale{
	font-size: 19px;
	color: #ffffff;
}

.col2 .eko {
	margin-top: 60px;
}

.col3 .eko {
	margin-top: 99px; /*71px;*/
}

.period {
	font-size: 43px;
	color: #cccccc;	
}

.price_descr {
	font-size: 16px; /*15px;*/
	font-weight: bold;
	font-family: arial;
	height: 75px;
	margin-top: 14px;
}

.price_descr  p {
	font-size: 16px; /*15px;*/
	font-weight: normal;
	font-family: arial;
	margin-left: 10px;
	margin-right: 10px;
}

.minus {
	font-size: 50px;
	color:#cccccc;
	/*margin-top: 10px;*/
	margin-bottom: 28px;
}

.minus1 {
	font-size: 50px;
	color:#cccccc;
	/*margin-top: 20px;*/
	margin-bottom: 314px; /*400px;*/
}

.minus2 {
	font-size: 50px;
	color:#cccccc;
	margin-top: 30px;
	/*margin-bottom: 400px;*/
}

.price_table_footer {
	background: url('images/price_bottom.jpg') no-repeat top right;
	height: 639px;
	padding-left: 50px;
	width: 998px;
	text-align: center;

}

.footer_button {
	display: inline-block;
	float: left;
	padding-left: 70px;
	padding-right: 50px;
	padding-top: 20px;
}

.downtime_title {
	font-size: 15px;
	padding-top: 35px;
}
	
.downtime {
	font-size: 19px;
	padding-top: 10px;
}

.downtime .days{
	font-size: 32px;
	font-weight:bold;
}

.reg {
	padding-top: 30px;
}

.garantia {
	max-width: 580px;
	width: 100%;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: :;3px;
}

.garantia .img {
	float: left;
}

.garantia .gtext {
	float: left;
	color: #333333;
	text-align: left;
	font-size: 18px;
	vertical-align: middle;
	width: 310px;
	margin-left: 7px;
	margin-top: 27px;
}

#footer {
	background: url('images/about_grey.png') no-repeat bottom center;
	height: 500px;
	text-align: center;

}

#footer img {
	float:left;
}

.about {
	width:415px;
	text-align: left;
	float: left;
	margin-top: 0;
	margin-left: 30px;
	padding-left: 30px;
	padding-top: 20px;
}


.about_name {
	font-size: 26px;
	font-weight: bold;
	color: #333333;
}
.about_autor {
	color: #999999;
	font-size: 15px;
	padding-bottom: 10px;
}

.about_desc p {
	font-size: 15px;
	margin-top: 10px;
	color: #333333;
}

.vk {
	float: left;
	margin-left: 40px;
}

.copy {
	font-family: arial;
	font-size: 12px;
	text-align: center;
}

.bottom_menu  {
	padding-top: 5px;
	padding-bottom: 30px;
}

.bottom_menu a {
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}

#first {
	display: none;
}

.footer_info {
	padding-top: 15px;
}
