

@font-face {
    font-family: 'avantgardegothicc-book';
    src: url('avantgardegothicc-book.eot');
    src: url('avantgardegothicc-book.eot?#iefix') format('embedded-opentype'),         
         url('avantgardegothicc-book.otf') format('truetype'),
         url('avantgardegothicc-book.svg#avantgardegothicc-book') format('svg');
    font-weight: normal;
    font-style: normal;

}