/**
 *	Content
 *	
 *	Normalize
 *	Font-face
 *	Main
 *	Header
 *	Content
 *	Footer
 */


/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 *	Font Face
 */
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/asd.otf'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/myriad.woff'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/MyriadPro-Regular.eot'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/MyriadPro-Regular.svg'); 
	font-weight:normal; 
	font-style: normal;
}
@font-face{
	font-family: 'Myriad Pro'; 
	src: url('http://elizavetababanova.com/7izobilie/MyriadPro-Regular.ttf'); 
	font-weight:normal; 
	font-style: normal;
}

/*
*/
html, body {height: 100%;
font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;}

#wrapper {
	min-height: 100%;
}

#content {
	overflow:auto;
	padding-bottom: 100px;
}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

header{
	height: 100px;
	background: #fff;
}

footer{
	height: 100px;
}
.layout{
	width:1000px;
	margin:0 auto;
}
.wrap{
	padding: 0 30px;
}
#logo{
	float: left;
	margin: 20px 0px;
}
#social_links {
	float: right;
}
#social_links ul{
	margin: 0px;
	padding: 0px;
}
#social_links ul li{
	list-style: none;
	display: block;
	float: left;
	margin:30px 5px;
}
#social_links ul li a{
	display: block;
	width: 38px;
	height: 38px;
	background: #fff

}
#social_links .social-vkontakte{
	background: url('image/social_vkontakte.png')
}
#social_links .social-facebook{
	background: url('image/social_facebook.png')
}
#social_links .social-twitter{
	background: url('image/social_twitter.png')
}
#social_links .social-youtube{
	background: url('image/social_youtube.png')
}
#social_links .social-google{
	background: url('image/social_google.png')
}

#main_banner{
	background: url('image/header_bg.png') center;
	height: 715px;
}
#menu{
	margin:0 auto;
	width: 760px;
	height: 40px;
}
#menu ul{
	margin: 0px;
}
#menu ul li{
	list-style: none;
	width: 215px;
	height: 40px;
	padding: 12px;
	margin: 0 10px;
	box-sizing: border-box;
	display: block;
	float: left;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	background: #ececec;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#menu ul li a{
	text-decoration: none;
	color: #111
}
#menu ul li.active a,
#menu ul li.active{
	background: #cf005c;
	color:#fff;
}
#main_banner .heading{
	clear: both;

}
#main_banner .heading .text-1{
	color: #fb8055;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	margin: 20px 0px 0px 0px ;
	text-align: center;
	clear: both;	
}
#main_banner .heading .text-2{
	color: #cf005c;
	font-size: 52px;
	text-align: center;
	margin-top: 10px;
	font-family: 'Myriad Pro'
}
#main_banner .heading .text-3{
	color: #cf005c;
	margin-top: 5px;
	font-size: 21px;
	text-align: center;
	font-family: 'Myriad Pro';
	letter-spacing: 1;
}
#header_computer{
	background: url('image/header_computer.png');
	width: 880px;
	height: 530px;
	margin: 0 auto
}
#header_computer .button-play{
	background: url('image/button_play_blue.png');
	width: 137px;
	height: 137px;
	margin: 180px 0px;
	margin-left: -68px;
	left: 50%;
	position: absolute;
}
#block_registration .block{
	width: 920px;
	height: 100px;
	background: #cf005c;
	margin-top: 60px;
}
#block_registration .description{
	color: #fff;
	width: 360px;
	text-align: right;
	padding-top:20px; 
	font-size: 30px;
	font-family: 'Myriad Pro';
	float: left;
}
#block_registration .description .small{
	font-size: 24px;
}

#block_registration .button{
	background: url('image/button_registration_green.png') no-repeat;
	width: 451px;
	height: 56px;
	display: block;
	float: right;
	margin-top: 24px;
	margin-right: 68px;
	text-decoration: none;
	text-align: center;
}
#block_registration .button .text{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	display: inline-block;
	margin-top: 12px;
	font-weight: 100;
}
#block_social_likes{
	margin-top: 35px;
	height: 130px;
}
#block_social_likes .social-buttons{
	text-align: center;
}
#block_social_likes .social-arrow{
	background: url('image/arrow_social_blue.png');
	width: 201px;
	height: 103px;
	position: absolute;
	margin-top: -15px;
	margin-left: 70px;
}

#block_social_comments .column{
	float: left;
	width: 400px;
}

#block_social_comments .column.right{
	float: right;
}
footer .layout{
	border-top: 1px solid #e5e5e5
}
footer #copyright{
	margin-top: 30px;
	font-size: 13px;
	color: #7f7f7f;
	text-align: center;
}
footer #footer_menu{
	margin-top: 15px;
	text-align: center;
	color: #00ccff;
	font-size: 13px;
}
footer #footer_menu a{
	color: #00ccff;
	text-decoration: none;
}
footer #website{
	margin-top: 15px;
	text-align: center;
}
footer #website a{
	color: #7f7f7f;
	font-size: 13px;
	text-decoration: none;
}
footer{
	height: 130px;
}
.video{
	left: 117px;
    position: relative;
    top: 55px;
}