body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
border: none;
color: #000000;
font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
margin: 0;
padding: 0;
}
body {
text-decoration: none;
width: 100%;
height: 100%;
min-width: 940px;
-webkit-text-stroke-width: 0.36px !important;
}
#bym-wrapper {
width: 100%;
height: auto;
text-align: center;
margin: 0;
padding: 0;margin-top: -17px;
background: url('img/top.jpg') no-repeat top center;
height: 1349px;
}
.reg{display: block;
height: 125px;
width: 744px;
margin: 0 auto;
background: url('img/reg.jpg') no-repeat top center;
margin-top: 50px;
margin-bottom: 50px;
cursor: pointer;}
#bym-social #bym-logo {
width: 23%;
text-align: left;
min-width: 325px;
float: left;margin-left: -10px;

padding-top: 10px;
}
#bym-buttons {
padding: 15px 10px 30px 10px;
width: 200px;
float: right;

}
#bym-header{width: 920px;
margin: 0 auto;
text-align: center;}
#bym-header h2 {
padding-top: 50px;
font-size: 24px;
}
#bym-header h2 span {
color: #cc3366;
display: block;
padding-top: 25px;
padding-bottom: 25px;font-size: 30px;
}
.absolute{position: absolute;
width: 624px;
margin-left: 147px;
margin-top: 646px;}
.grey{background-color: #e5e5e5;height:560px;}
.absolute h1{font-size: 48px;}
.absolute p{font-size: 24px;
padding-top: 25px;
padding-bottom: 5px;}
.absolute span{font-size: 48px;
color: #cc3366;
font-weight: bold;}
.hero {
width: 313px;
text-align: left;
display: table-cell;
padding-top: 749px;

}
.more{background: url('img/more.png') no-repeat top center;
width: 138px;
height: 32px;
display: inline-block;
margin: 0px 87px 0px 87px;
margin-top: 37px;}
.hero img{display: block;
margin: 0 auto;}
.hero h3 {color: #66ccff;
font-size: 26px;
font-family: Century Gothic;padding-bottom: 17px;

margin-top: 15px;}
.hero h3 span{font-weight: bold;}
.hero p {font-family: Myriad Pro;
font-size: 18px;
color: white;
padding-left: 45px;}
.btns{width:100%
}
ul li{padding-left: 15px;}
.hero2{
width: 313px;
text-align: left;
display: table-cell;
padding-top: 55px;
}
.more2{background: url('img/more.png') no-repeat top center;
width: 138px;
height: 32px;
display: inline-block;
margin: 0px 87px 0px 87px;
margin-top: 37px;}
.hero2 img{display: block;
margin: 0 auto;}
.hero2 h3 {color: #66ccff;
font-size: 26px;
font-family: Century Gothic;padding-bottom: 17px;

margin-top: 15px;}
.hero2 h3 span{font-weight: bold;}
.hero2 p {font-family: Myriad Pro;
font-size: 18px;
color: black;
padding-left: 28px;
padding-top: 30px;}
.bio{width: 100%;
height: auto;
text-align: center;
margin: 0;
padding: 0;
}
.people{background: url('img/people.jpg') no-repeat top center; height:494px;}
.people h4{font-size: 36px;
color: #cc3366;
padding-top: 50px;}
.people p{font-size: 18px;
padding-top: 20px;}
.idea{background: url('img/idea.jpg') no-repeat top center;height:460px;margin-top: 70px;}
.like{background: url('img/like.jpg') no-repeat top center;height:1032px;}
.like h3{font-size: 30px;
color: white;
padding-top: 50px;}
.like p{text-align: left;
font-size: 18px;
color: white;
width: 600px;
margin-left: 300px;
padding-top: 31px;}
.like p span{color: #ffcc00;
display: block;
font-size: 30px;
padding-bottom: 31px;}
.like ul{text-align: left;

margin-left: 277px;}
.like ul li{padding-bottom: 15px;
}
ul  {
   color: white;
font-size: 18px;
list-style-type: disc;
   }
   h3{color: #cc3366;
font-size: 36px;margin-bottom: 65px;}
.textimg p {display: inline-block;
vertical-align: top;
text-align: left;
font-size: 24px;
padding-right: 54px;
padding-top: 36px;}
.textimg{margin-top: 75px;}
.textimg p span {font-size: 18px;
margin-top: 17px;
display: block;}
   .podrobnee{height: 355px;}
.podrobnee h1{font-family: Century Gothic;
font-size: 60px;
color: #0099cc;
padding-top: 125px;}
.podrobnee  span{color: #999999;
font-family: Myriad Pro;
font-size: 30px;
font-weight: normal;}
.bio img {float: left;
padding-top: 48px;
padding-left: 54px;
display: block;}
.bio h4{color: white;
font-family: Century Gothic;
display: block;
float: left;
font-size: 30px;
padding-top: 85px;
margin-left: 40px;}
.bio h4 span {font-weight: bold;}
.bio p{float: left;
padding-top: 15px;
padding-left: 42px;
text-align: left;
width: 500px;
font-size: 18px;}
.bio ul{list-style-image: url(img/dot.png);
display: block;
width: 518px;
margin: 0 auto;
margin-top: 36px;
text-align: left;

padding-left: 165px;
margin-bottom: 30px;
font-size: 18px;}
.bio ul li{padding-bottom: 25px;}
.info{height:300px;}
.clear {
clear: both;
}
.line60 {
width: 940px;
height: 1px;
margin: 0 auto;
margin-top: 60px;
margin-bottom: 21px;
background-color: #e8e8e8;
}
#footer {
margin: 0 auto;
margin-bottom: 30px;
width: 530px;
text-align: center;
}
.text {
font-family: Arial;
text-align: center;
}
.menu3 {
font-family: Arial;
text-align: center;
font-size: 13px;
color: #999999;
}
.menu3 a {
font-size: 13px;
color: #66ccff;
text-decoration: none;
}
#site a {
font-family: Arial;
font-size: 13px;
color: #999999;
text-decoration: none;
}
.bestyear{background: url('img/bestyear.png') no-repeat top center;
width:280px; height:60px; display:block; margin:0 auto;}

#bym-footer {
text-align: center;
display: block;
width: 970px;
margin: 0 auto;
}
#bym-footer img {
float: left;
padding-top: 40px;margin-left: -7px;
}
.bym-about {
width: 495px;
text-align: left;
float: left;
padding-left: 28px;
padding-top: 40px;
}
.bym-vk {
float: left;
padding-top: 30px;
margin-left: 5px;
}
.bym-about_name {
font-size: 24px;

color: #cc3366;
}
.bym-about_autor {
color: #999999;
font-size: 16px;
padding-bottom: 35px;
}
.bym-about_desc p {
font-size: 16px;
padding-top: 10px;
}

#bym-wrapper{transform: scale(0.9, 0.9);margin-top: -73px;}
.mid{transform: scale(0.9, 0.9);margin-top: -73px;}
.idea{transform: scale(0.9, 0.9);margin-top: -50px;}
.like{transform: scale(0.9, 0.9);margin-top: -74px;}
.price{transform: scale(0.9, 0.9);margin-top: -73px;}
.grey{margin-top: -130px;}
.people{margin-top: -73px;}
.foot{transform: scale(0.9, 0.9);margin-top: -73px;}
#footer{transform: scale(0.9, 0.9);margin-top: -73px;}
.whatsay {
width: 850px;
padding-top: 55px;
text-align: center;
display: inline-block;
}
.whatsay div {
font-size: 32px;
float: left;
padding-left: 9px;
padding-right: 9px;
line-height: 36px;
}
.comment {
background: url('images/formuls.png') no-repeat bottom center;
margin-top: 40px;
}
.comment div {
float: left;
}
.comment_text {
text-align: left;
width: 620px;
padding-left: 20px;
line-height: 20px;
}
.comment_text .comment_title {
color: #1EAAD9;
font-size: 22px;
padding-bottom: 20px;
line-height: 26px;
}
.comment_text p {
font-size: 15px;
margin-top: 10px;
}
.comment_text .autor {
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
padding-top: 7px;
padding-bottom: 28px;
color: #666;
}
.comment div img {
float: left;
padding-left: 130px;
}