body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
border: none;
color: #000000;
font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
margin: 0;
padding: 0;
}
body {
text-decoration: none;
width: 100%;
height: 100%;
min-width: 945px;

}
#menu{
	margin:0 auto;
	width: 760px;
	height: 40px;
}
#menu ul{
	margin: 0px;
}
#menu ul li{
	list-style: none;
	width: 215px;
	height: 40px;
	padding: 12px;
	margin: 0 10px;
	box-sizing: border-box;
	display: block;
	float: left;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	background: #ececec;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#menu ul li a{
	text-decoration: none;
}
#menu ul li.active ,
#menu ul li.active a {
	background: #cf005c;
	color:#fff;
}
#bym-wrapper {
width: 100%;


min-width: 945px;
}
.green{width: 920px;
margin: 0 auto;}
.kontakt{width: 920px;
margin: 0 auto;
padding-top: 50px;}
.greytext{height: 493px;
width: 920px;
margin: 0 auto;padding-top: 27px;}
.greytext h1{width: 395px;
text-align: left;
padding-left: 515px;
font-size: 30px;
color: #333333;}
.greytext h1 span{font-size: 23px;}
.greytext p{width: 395px;
text-align: left;
padding-left: 515px;
line-height: 29px;
font-size: 20px;
color: #333333;
margin-top: 18px;}
.whitetext h1{font-size: 38px;
color: #333333;
margin-top: 23px;}
.whitetext h1 span{font-size: 23px;
margin-top: -4px;
display: block;}
.whitetext p{width: 33%;
font-size: 20px;
line-height: 21px;
margin-top: 240px;
display: inline-block;
float: left;}
.whitetext{height: 478px;width: 920px;
margin: 0 auto;}
.purpletext{width: 920px;
margin: 0 auto;height: 438px;}
.purpletext p{color: white;
text-align: left;
margin-left: 210px;
font-size: 25px;
padding-top: 46px;}
.orangetext{height: 696px;
width: 920px;
margin: 0 auto;}
.orangetext h1{color: white;
font-size: 36px;padding-top: 31px;}
.orangetext h2{font-size: 14px;
text-align: left;
margin-left: 274px;
padding-top: 183px;
width: 231px;
float: left;
color: white;}
.left{float: left;
margin-top: 66px;
text-align: left;
width: 288px;
margin-left: 275px;
color: #333333;}
.quote{float: right;
text-align: left;
color: white;
margin-top: -133px;
font-size: 16px;
width: 300px;
display: block;
margin-right: 40px;
line-height: 19px;}
.right{float: right;
text-align: left;
margin-right: 10px;
margin-top: 66px;
color: #333333;}
.whitetext2{height: 988px;
width: 920px;
margin: 0 auto;}
.whitetext2 h1{font-size: 36px;
padding-top: 31px;}
.whitetext2 h1 span{font-size: 23px;
display: block;
margin-top: -6px;}
.textotziv{float: left;
width: 300px;
margin-top: 151px;}


.reg{display: block;
height: 125px;
width: 744px;
margin: 0 auto;
background: url('http://elizavetababanova.com/7izobilie/img/reg.jpg') no-repeat top center;
margin-top: 50px;
margin-bottom: 50px;
cursor: pointer;}
#bym-social #bym-logo {
width: 23%;
text-align: left;
min-width: 325px;
float: left;margin-left: -10px;

padding-top: 10px;
}
#bym-buttons {
padding: 15px 10px 30px 10px;
width: 200px;
float: right;

}
#bym-header{width: 920px;
margin: 0 auto;
text-align: center;}

.absolute{position: absolute;
width: 624px;
margin-left: 147px;
margin-top: 625px;}
.grey{background-color: #e5e5e5;height:560px;}
.absolute h1{font-size: 48px;}
.absolute p{font-size: 24px;
padding-top: 25px;
padding-bottom: 5px;}
.absolute span{font-size: 48px;
color: #cc3366;
font-weight: bold;}
.hero {
width: 313px;
text-align: left;
display: table-cell;
padding-top: 749px;

}
.more{background: url('http://elizavetababanova.com/7izobilie/img/more.png') no-repeat top center;
width: 138px;
height: 32px;
display: inline-block;
margin: 0px 87px 0px 87px;
margin-top: 37px;}
.hero img{display: block;
margin: 0 auto;}
.hero h3 {color: #66ccff;
font-size: 26px;
font-family: Century Gothic;padding-bottom: 17px;

margin-top: 15px;}
.hero h3 span{font-weight: bold;}
.hero p {font-family: Myriad Pro;
font-size: 18px;
color: white;
padding-left: 45px;}
.btns{width:100%
}
ul li{padding-left: 15px;}
.hero2{
width: 313px;
text-align: left;
display: table-cell;
padding-top: 55px;
}
.more2{background: url('http://elizavetababanova.com/7izobilie/img/more.png') no-repeat top center;
width: 138px;
height: 32px;
display: inline-block;
margin: 0px 87px 0px 87px;
margin-top: 37px;}
.hero2 img{display: block;
margin: 0 auto;}
.hero2 h3 {color: #66ccff;
font-size: 26px;
font-family: Century Gothic;padding-bottom: 17px;

margin-top: 15px;}
.hero2 h3 span{font-weight: bold;}
.hero2 p {font-family: Myriad Pro;
font-size: 18px;
color: black;
padding-left: 28px;
padding-top: 30px;}
.bio{width: 100%;
height: auto;
text-align: center;
margin: 0;
padding: 0;
}
.people{background: url('http://elizavetababanova.com/7izobilie/img/people.jpg') no-repeat top center; height:494px;}
.people h4{font-size: 36px;
color: #cc3366;
padding-top: 50px;}
.people p{font-size: 18px;
padding-top: 20px;}
.idea{background: url('http://elizavetababanova.com/7izobilie/img/idea.jpg') no-repeat top center;height:460px;margin-top: 70px;}
.like{background: url('http://elizavetababanova.com/7izobilie/img/like.jpg') no-repeat top center;height:1032px;}
.like h3{font-size: 30px;
color: white;
padding-top: 50px;}
.like p{text-align: left;
font-size: 18px;
color: white;
width: 600px;
margin-left: 300px;
padding-top: 31px;}
.like p span{color: #ffcc00;
display: block;
font-size: 30px;
padding-bottom: 31px;}
.like ul{text-align: left;

margin-left: 277px;}
.like ul li{padding-bottom: 15px;
}
ul  {
   color: white;
font-size: 18px;
list-style-type: disc;
   }
   h3{color: #cc3366;
font-size: 36px;margin-bottom: 65px;}
.textimg p {display: inline-block;
vertical-align: top;
text-align: left;
font-size: 24px;
padding-right: 54px;
padding-top: 36px;}
.textimg{margin-top: 75px;}
.textimg p span {font-size: 18px;
margin-top: 17px;
display: block;}
   .podrobnee{height: 355px;}
.podrobnee h1{font-family: Century Gothic;
font-size: 60px;
color: #0099cc;
padding-top: 125px;}
.podrobnee  span{color: #999999;
font-family: Myriad Pro;
font-size: 30px;
font-weight: normal;}
.bio img {float: left;
padding-top: 48px;
padding-left: 54px;
display: block;}
.bio h4{color: white;
font-family: Century Gothic;
display: block;
float: left;
font-size: 30px;
padding-top: 85px;
margin-left: 40px;}
.bio h4 span {font-weight: bold;}
.bio p{float: left;
padding-top: 15px;
padding-left: 42px;
text-align: left;
width: 500px;
font-size: 18px;}
.bio ul{list-style-image: url(http://elizavetababanova.com/7izobilie/img/dot.png);
display: block;
width: 518px;
margin: 0 auto;
margin-top: 36px;
text-align: left;

padding-left: 165px;
margin-bottom: 30px;
font-size: 18px;}
.bio ul li{padding-bottom: 25px;}
.info{height:300px;}
.clear {
clear: both;
}
.line60 {
width: 940px;
height: 1px;
margin: 0 auto;
margin-top: 15px;
margin-bottom: 21px;
background-color: #e8e8e8;
}
#footer {
margin: 0 auto;
margin-bottom: 30px;
width: 530px;
text-align: center;
}
.text {
font-family: Arial;
text-align: center;
}
.menu3 {
font-family: Arial;
text-align: center;
font-size: 13px;
color: #999999;
}
.menu3 a {
font-size: 13px;
color: #66ccff;
text-decoration: none;
}
#site a {
font-family: Arial;
font-size: 13px;
color: #999999;
text-decoration: none;
}
.bestyear{background: url('http://elizavetababanova.com/7izobilie/img/bestyear.png') no-repeat top center;
width:280px; height:60px; display:block; margin:0 auto;}

#bym-footer {
text-align: center;
display: block;
width: 970px;
margin: 0 auto;
}
#bym-footer img {
float: left;
margin-left: -7px;
}
.bym-about {
width: 495px;
text-align: left;
float: left;
padding-left: 28px;
padding-top: 40px;
}
.bym-vk {
float: left;
padding-top: 30px;
margin-left: 5px;
}
.bym-about_name {
font-size: 24px;

color: #cc3366;
}
.bym-about_autor {
color: #999999;
font-size: 16px;
padding-bottom: 35px;
}
.bym-about_desc p {
font-size: 16px;
padding-top: 10px;
}
.whatsay {
width: 850px;
padding-top: 55px;
text-align: center;
display: inline-block;
}
.whatsay div {
font-size: 28px;
float: left;
padding-left: 9px;
padding-right: 9px;
line-height: 36px;
}
.comment {
background: url('http://elizavetababanova.com/7izobilie/images/formuls.png') no-repeat bottom center;
margin-top: 40px;
}
.comment div {
float: left;
}
.comment_text {
text-align: left;
width: 620px;
padding-left: 20px;
line-height: 20px;
}
.comment_text .comment_title {
color: #1EAAD9;
font-size: 22px;
padding-bottom: 20px;
line-height: 26px;
}
.comment_text p {
font-size: 15px;
margin-top: 10px;
}
.comment_text .autor {
font-size: 13px;
text-transform: uppercase;
letter-spacing: 1px;
padding-top: 7px;
padding-bottom: 28px;
color: #666;
}
.comment div img {
float: left;
padding-left: 130px;
}