.caltab {
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-family: arial;
}

.calrow {
	border-color: #e1e1e1;
	border-bottom-width: 1px;
	border-bottom-style: solid;	
}

.calhead {
	font-size: 24px;
	color: #333333;
	letter-spacing: 5px;
	padding: 26px 0 26px 18px;
	border-color: #e1e1e1;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.calcell {
	padding: 26px 9px 26px 9px;
	line-height: 17px;
	border-color: #e1e1e1;
}

.calcell_br {
	border-right-style: solid;
	border-right-width: 1px;
	width: 84px;
}

.calcell p {
	margin: 0;
}

.calcell_info {
	width: 250px;
}

.calcell_img {
	padding: 26px 10px 26px 10px;
	border-color: #e1e1e1;
	vertical-align: top;
	width: 72px;
}

.calcell_img img {
	height: 72px;
}

.calcell_pr {
	padding: 26px 18px 26px 18px;
}

.caldate {
	font-size: 14px;
	color: #333333;
}

.calday {
	font-size: 14px;
	color: #999999;
}

.caldescr {
	font-size: 14px;
	color: #333333;
}

.calname {
	font-size: 19px;
	line-height: 22px;
}

.calname a {
	text-decoration: none;
	color: #3399ff;
	margin: 0;
}

.calprice {
	color: #999999;
	font-size: 25px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.calprice_text {
	font-size: 16px;
	text-align: center;
}

.calplan {
	font-size: 14px;
	color: #ff6600;
}

.bold {
	font-weight: bold;
}
