.custom.praise .post_box {
	background: #fff url(../image/otzivi/praise_map.png) 15px 20px no-repeat;
}
.praise .headline_area {
	border: 0;
	margin: 0 12px 0 16px;
	padding: 12px 35px 0;
	height: 99px;
	overflow: hidden;
}
.praise .headline_area span {
	color: #666
}

.praise .praise_content_area {
	margin: 0 auto;
	width: 720px
}

.praise .format_text h3 {
	border-bottom: 1px solid #aaa;
	color: #a71865;
	font-size: 35px;
	font-weight: bold;
	line-height: 48px;
	margin: 0 0 40px;
	padding: 0 0 40px 30px;
}

.info {
	font-size: 18px;
}
.praise .format_text h3 span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 17px
}

.praise .format_text h3 strong {
	text-transform: uppercase
}

.praise_box {
	margin-bottom: 30px;
	padding: 0;
	overflow: hidden
}
.praise_box.feat {
	border: 1px solid #b7b6b6;
	border-width: 1px 0;
	padding: 30px 0 40px;
	margin-bottom: 70px;
}
.praise_box span {
	font-size: 11px;
	font-weight: 500;
	margin-top: 5px;
	display: block;
	text-transform: uppercase
}

.praise_box .left {
	float: left;
	margin-right: 40px;
	width: 119px
}
.praise_box .right {
	float: right;
	margin-left: 40px;
	width: 119px
}

.format_text .praise_content h3 {
	color: #0091D5;
	border: 0;
	font-size: 25px;
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: justify;
	font-family: arial;
}

.format_text .praise_content h3 span {
	font-size: 11px;
	line-height: 16px;
	font-weight: 500;
	margin-top: 5px;
	display: block;
	text-transform: uppercase;
}

.praise_content {
	float: left;
	width: 561px
}
.custom .format_text p.praise_end {
	padding-left: 159px;
}
.praise_content2 {
	float: left;
	width: 720px;
	border: 1px solid #B7B6B6;
	border-width: 0 0 1px 0;
	margin-bottom: 15px;
	padding-bottom: 35px;
}

body.praise {
	-webkit-touch-callout: none;
}

.praise area {
	cursor: pointer;
}

#first {
	display: none;
}

.map-locations {
	height: 600px;
}

#otzivi-map #social_button {
	width: 700px;
	margin: 0 auto;
	text-align: right;
	display: block;
}

#otzivi-map #social_button #bt_twitter, 
#otzivi-map #social_button #bt_facebookr, 
#otzivi-map #social_button #bt_mail, 
#otzivi-map #social_button #bt_vk, 
#otzivi-map #social_button #google_1 {
	float: left;
}

#otzivi-map #social_button #bt_facebookr {
	margin-right: 10px;
	padding-left: 75px;
}
#otzivi-map #social_button #bt_twitter {
	width: 115px;
}
/*
#otzivi-map #social_button #bt_mail {
	width: 101px;
	margin-right: 0px;
}
#otzivi-map #social_button #bt_vk {
	margin-right: -11px;
}
#otzivi-map #social_button #google_1 {
	width: 63px;
	margin-right: 0px;
}
*/

a.post-edit-link {
	z-index: 100;
	position: absolute;
}

#otzivi-map {
	background: #fff url(http://elizavetababanova.com/wp-content/themes/madrom_babanova/image/otzivi/map/praise_map.png) 15px 20px no-repeat;
	position: relative;
	height: 600px;
	width: 910px;
	margin-bottom: 30px;
	margin-top: -35px;
}

.read97 {
	position: absolute;
	margin: 299px 0px 0px -37px;
	height: 110px;
	width: 110px;
	display: block;
	background: url(../image/otzivi/map/97cantr.png) 0 0 no-repeat;
}

.dots {
	height: 600px;
}

#otzivi-map a {
	position: absolute;
	height: 15px;
	width: 15px;
	display: block;
	text-indent: -9999px;
}

#otzivi-map a.dot {
	background: url(http://elizavetababanova.com/wp-content/themes/madrom_babanova/image/otzivi/map/dot.png) 50% 50% no-repeat;
}

#otzivi-map a.usa {
	left: 273px;
	top: 301px;
}

#otzivi-map a.cheliabinsk {
	left: 564px;
	top: 270px;
}

#otzivi-map a.moscov {
	left: 525px;
	top: 264px;
}
#otzivi-map a.mtishi {
	left: 529px;
	top: 260px;
}
#otzivi-map a.irkutsk {
	left: 663px;
	top: 270px;
}
#otzivi-map a.tambov {
	left: 532px;
	top: 279px;
}
#otzivi-map a.lipetsk {
	left: 529px;
	top: 280px;
}

#otzivi-map a.kirgiztan {
	left: 584px;
	top: 303px;
}

#otzivi-map a.novorosiisk {
	left: 515px;
	top: 295px;
}

#otzivi-map a.kiev {
	left: 501px;
	top: 295px;
}
#otzivi-map a.kiev2 {
	left: 504px;
	top: 291px;
}

#otzivi-map a.sochi {
	left: 524px;
	top: 303px;
}

#otzivi-map a.leipcig {
	left: 454px;
	top: 282px;
}

#otzivi-map a.latvia {
	left: 481px;
	top: 269px;
}

#otzivi-map a.moldova {
	left: 483px;
	top: 300px;
}

#otzivi-map a.uzbekistan {
	left: 561px;
	top: 307px;
}

#otzivi-map a.india {
	top: 347px;
	left: 594px;
}

#otzivi-map a.sumi {
	left: 517px;
	top: 285px;
}

#otzivi-map a.belarus {
	left: 488px;
	top: 279px;
}
#otzivi-map a.volkovisk {
	left: 494px;
	top: 286px;
}

#otzivi-map a.orenburg {
	left: 550px;
	top: 288px;
}

#otzivi-map a.perm {
	left: 558px;
	top: 262px;
}
#otzivi-map a.kirov {
	left: 545px;
	top: 252px;
}

#otzivi-map a.kirgizstan2 {
	left: 587px;
	top: 301px;
}

#otzivi-map a.surgut {
	left: 601px;
	top: 240px;
}

#otzivi-map a.tayland {
	left: 654px;
	top: 375px;
}
#otzivi-map a.jakarta {
	left: 665px;
	top: 429px;
}
#otzivi-map a.omsk {
	left: 600px;
	top: 270px;
}
#otzivi-map a.novosibirsk {
	left: 620px;
	top: 290px;
}
#otzivi-map a.mongolia {
	left: 665px;
	top: 300px;
}
#otzivi-map a.novosibirsk2 {
	left: 624px;
	top: 286px;
}
#otzivi-map a.florida {
	left: 235px;
	top: 337px;
}
#otzivi-map a.chili {
	left: 260px;
	top: 507px;
}
#otzivi-map a.australia {
	left: 755px;
	top: 495px;
}
#otzivi-map a.canada {
	left: 175px;
	top: 265px;
}
#otzivi-map a.china {
	left: 685px;
	top: 345px;
}
#otzivi-map a.vladivostok {
	left: 725px;
	top: 300px;
}
#otzivi-map a.vladivostok_2 {
	left: 730px;
	top: 295px;
}
#otzivi-map a.sahalin {
	left: 743px;
	top: 319px;
}
#otzivi-map a.ulyanovka {
	left: 495px;
	top: 251px;
}
#otzivi-map a.sweden {
	left: 458px;
	top: 250px;
}
#otzivi-map a.canada2 {
	left: 117px;
	top: 256px;
}
#otzivi-map a.kaliningrad {
	left: 685px;
	top: 345px;
}
#otzivi-map a.kipr {
	left: 498px;
	top: 331px;
}
#otzivi-map a.seul {
	left: 714px;
	top: 329px;
}
#otzivi-map a.defrance {
	left: 429px;
	top: 311px;
}
#otzivi-map a.rome {
	left: 454px;
	top: 322px;
}
#otzivi-map a.arhangelsk {
	left: 488px;
	top: 237px;
}
#otzivi-map a.newzeland {
	left: 817px;
	top: 513px;
}

#otzivi-map span.newzeland.bubble {
	background: url(../image/otzivi/map/new-zeland.png) no-repeat;
}
#otzivi-map span.kirov.bubble {
	background: url(../image/otzivi/map/41_kirov.png) no-repeat;
}
#otzivi-map span.tayland.bubble {
	background: url(../image/otzivi/map/11_tayland.png) no-repeat;
}
#otzivi-map span.omsk.bubble {
	background: url(../image/otzivi/map/12_omsk.png) no-repeat;
}
#otzivi-map span.novosibirsk.bubble {
	background: url(../image/otzivi/map/13_novosibirsk.png) no-repeat;
}
#otzivi-map span.novosibirsk2.bubble {
	background: url(../image/otzivi/map/44_novosibirsk.png) no-repeat;
}
#otzivi-map span.mongolia.bubble {
	background: url(../image/otzivi/map/14_mongolia.png) no-repeat;
}
#otzivi-map span.perm.bubble {
	background: url(../image/otzivi/map/35_perm.png) no-repeat;
}
#otzivi-map span.florida.bubble {
	background: url(../image/otzivi/map/15_florida.png) no-repeat;
}
#otzivi-map span.australia.bubble {
	background: url(../image/otzivi/map/16_australia.png) no-repeat;
}
#otzivi-map span.canada.bubble {
	background: url(../image/otzivi/map/17_canada.png) no-repeat;
}
#otzivi-map span.china.bubble {
	background: url(../image/otzivi/map/18_china.png) no-repeat;
}
#otzivi-map span.moscov.bubble {
	background: url(../image/otzivi/map/33_moscov.png) no-repeat;
}
#otzivi-map span.irkutsk.bubble {
	background: url(../image/otzivi/map/34_irkutsk.png) no-repeat;
}
#otzivi-map span.vladivostok.bubble {
	background: url(../image/otzivi/map/19_vladivostok.png) no-repeat;
}
#otzivi-map span.vladivostok_2.bubble {
	background: url(../image/otzivi/map/42_vladivostok2.png) no-repeat;
}
#otzivi-map span.india.bubble {
	background: url(../image/otzivi/map/india.png) no-repeat;
}
#otzivi-map span.sahalin.bubble {
	background: url(../image/otzivi/map/36_sahalin.png) no-repeat;
}
#otzivi-map span.usa.bubble {
	background: url(../image/otzivi/map/1_usa.png) no-repeat;
}
#otzivi-map span.tambov.bubble {
	background: url(../image/otzivi/map/37_tambov.png) no-repeat;
}
#otzivi-map span.lipetsk.bubble {
	background: url(../image/otzivi/map/47_lipetsk.png) no-repeat;
}
#otzivi-map span.cheliabinsk.bubble {
	background: url(../image/otzivi/map/2_cheliabinsk.png) no-repeat;
}
#otzivi-map span.volkovisk.bubble {
	background: url(../image/otzivi/map/40_volkovisk.png) no-repeat;
}
#otzivi-map span.kirgiztan.bubble {
	background: url(../image/otzivi/map/3_kirgiztan.png) no-repeat;
}
#otzivi-map span.arhangelsk.bubble {
	background: url(../image/otzivi/map/38_arhangelsk.png) no-repeat;
}
#otzivi-map span.mtishi.bubble {
	background: url(../image/otzivi/map/39_mtishi.png) no-repeat;
}
#otzivi-map span.chili.bubble {
	background: url(../image/otzivi/map/43_chili.png) no-repeat;
}
#otzivi-map span.novorosiisk.bubble {
	background: url(../image/otzivi/map/4_novorosiisk.png) no-repeat;
}
#otzivi-map span.jakarta.bubble {
	background: url(../image/otzivi/map/45_jakarta.png) no-repeat;
}
#otzivi-map span.kiev.bubble {
	background: url(../image/otzivi/map/5_kiev.png) no-repeat;
}
#otzivi-map span.kiev2.bubble {
	background: url(../image/otzivi/map/46_kiev.png) no-repeat;
}
#otzivi-map span.sochi.bubble {
	background: url(../image/otzivi/map/6_sochi.png) no-repeat;
}

#otzivi-map span.leipcig.bubble {
	background: url(../image/otzivi/map/7_leipcig.png) no-repeat;
}

#otzivi-map span.latvia.bubble {
	background: url(../image/otzivi/map/8_latvia.png) no-repeat;
}

#otzivi-map span.moldova.bubble {
	background: url(../image/otzivi/map/9_moldova.png) no-repeat;
}

#otzivi-map span.uzbekistan.bubble {
	background: url(../image/otzivi/map/10_uzbekistan.png) no-repeat;
}

#otzivi-map span.sumi.bubble {
	background: url(../image/otzivi/map/20_sumi.png) no-repeat;
}
#otzivi-map span.belarus.bubble {
	background: url(../image/otzivi/map/21_belarus.png) no-repeat;
}
#otzivi-map span.orenburg.bubble {
	background: url(../image/otzivi/map/22_orenburg.png) no-repeat;
}
#otzivi-map span.kirgizstan2.bubble {
	background: url(../image/otzivi/map/23_kirgizstan.png) no-repeat;
}
#otzivi-map span.surgut.bubble {
	background: url(../image/otzivi/map/24_surgut.png) no-repeat;
}

#otzivi-map span.ulyanovka.bubble {
	background: url(../image/otzivi/map/25_ulyanovka.png) no-repeat;
}
#otzivi-map span.sweden.bubble {
	background: url(../image/otzivi/map/26_sweden.png) no-repeat;
}
#otzivi-map span.kaliningrad.bubble {
	background: url(../image/otzivi/map/27_kaliningrad.png) no-repeat;
}
#otzivi-map span.canada2.bubble {
	background: url(../image/otzivi/map/28_canada.png) no-repeat;
}
#otzivi-map span.seul.bubble {
	background: url(../image/otzivi/map/29_seul.png) no-repeat;
}
#otzivi-map span.kipr.bubble {
	background: url(../image/otzivi/map/30_kipr.png) no-repeat;
}
#otzivi-map span.defrance.bubble {
	background: url(../image/otzivi/map/31_defrance.png) no-repeat;
}
#otzivi-map span.rome.bubble {
	background: url(../image/otzivi/map/32_rome.png) no-repeat;
}

#otzivi-map span.bubble {
	visibility: hidden;
}
#otzivi-map a:hover span.bubble {
	visibility: visible;
}
#otzivi-map a.active span.bubble {
	visibility: visible;
}
#otzivi-map:hover a.active span.bubble {
	visibility: hidden;
}
#otzivi-map:hover a.active:hover span.bubble {
	visibility: visible;
}

#otzivi-map span.bubble {

	width: 283px;
	height: 133px;
	display: block;
	outline: none;
	display: block;
	top: -127px;
	left: -50px;
	position: absolute;
	z-index: 100;
}

.otzivi_tt {
	margin-top: 28px;
	padding-bottom: 40px;
}

.socseti_absol {
	position: absolute;
	margin: 43px 0px 0px 644px;
	text-align: center;
	width: 231px;
	z-index: 15;
	display: block;
}

#otzivi-map .socseti a.ss1, #otzivi-map .socseti a.ss2, #otzivi-map .socseti a.ss3 {
	display: block;
	width: 50px;
	height: 51px;
	float: left;
	margin-right: 10px;
	position: relative;
}
.socseti a.ss1 {
	background: url(../image/ss1.png);
}
.socseti a.ss2 {
	background: url(../image/ss2.png);
}
.socseti a.ss3 {
	background: url(../image/ss3.png);
}
#otzivi-map .socseti a.ss4 {
	background: url(../image/ss4.png);
	display: block;
	width: 50px;
	height: 51px;
	float: left;
	position: relative;
}

.socseti span {
	display: block;
	text-align: center;
	margin: 16px 0;
	font-size: 1.7em;
	color: #1aa6e8;
	text-transform: uppercase;
}

