/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.breadcrumb                                 { position: relative; width: 960px; margin: 0 auto; padding: 0; top:-10px; left:10px;}
    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }




.one_half { width: 47.7%; }
.one_third { width: 30.66%; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 67.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

 .one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 3%;
	margin-bottom: 20px;
	float: left;
}




/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 748px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 8px; }
        .container .two.columns                     { width: 56px; }
        .container .three.columns                   { width: 104px; }
        .container .four.columns                    { width: 152px; }
        .container .five.columns                    { width: 200px; }
        .container .six.columns                     { width: 248px; }
        .container .seven.columns                   { width: 296px; }
        .container .eight.columns                   { width: 344px; }
        .container .nine.columns                    { width: 392px; }
        .container .ten.columns                     { width: 440px; }
        .container .eleven.columns                  { width: 488px; }
        .container .twelve.columns                  { width: 536px; }
        .container .thirteen.columns                { width: 584px; }
        .container .fourteen.columns                { width: 632px; }
        .container .fifteen.columns                 { width: 680px; }
        .container .sixteen.columns                 { width: 728px; }

        .container .one-third.column                { width: 229px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
        
       	.thumbnail .details { min-height: 50%; }
		.no-opacity .thumbnail .details { min-height: 50%; }
		
		form input { width: 160px; }
		form textarea { width: 400px; }


    .full-width,
	.one_half,
	.one_third,
	.two_thirds,
	.three_fourths,
	.one_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {width: 100%;}
	
	
 	.slider_mem2{   
padding: 24.5% 0px 0px;
}
        
    }





/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */


    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
       .container .one-third.column  { width: 420px; }




    .full-width,
	.one_half,
	.one_third,
	.two_thirds,
	.three_fourths,
	.one_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {width: 100%;}





        .hire { opacity: 0; }
		.thumbnail .details { min-height: 30%; }
		.no-opacity .thumbnail .details { min-height: 30%; }

		form input { width: 380px; }
		form textarea { width: 380px; }

		.home { margin: 10px 0 20px; }

	.slider_mem2{   
padding: 3.5% 0px 0px;
}




    }



/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

 .last {margin-right:0 !important;}

 
 	.praise .headline_area { border: 0; margin: 0 12px 0 16px; padding: 12px 35px 0; height: 99px; overflow: hidden; }
		.praise .headline_area span { color: #666 }

.praise .praise_content_area { margin: 0 auto; width: 720px }

.praise .format_text h3 {
	border-bottom: 1px solid #aaa;
	color: #a71865;
	font-size: 35px;
	font-weight: bold;
	line-height: 48px;
	margin: 0 0 40px;
	padding: 0 0 40px 30px;
}
	.praise .format_text h3 span { display: block; font-size: 11px; font-weight: normal; line-height: 17px }
	.praise .format_text h3 strong { text-transform: uppercase }

.praise_box { margin-bottom: 30px; padding: 0; overflow: hidden }
	.praise_box.feat { border: 1px solid #b7b6b6; border-width: 1px 0; padding: 30px 0 40px; margin-bottom: 70px; }
	.praise_box span { font-size: 11px; font-weight: 500; margin-top: 5px; display: block; text-transform: uppercase }

.praise_box .left { float: left; margin-right: 40px; width: 119px }
	.praise_box .left img { margin-bottom: 2.2em; }
.praise_box .right { float: right; margin-left: 40px; width: 119px }

.format_text .praise_content h3 {color: #004484; border: 0; font-size: 14px; margin: 0; padding: 0; text-align: left }
	.format_text .praise_content h3 span { font-size: 11px;
font-weight: 500;
margin-top: 5px;
display: block;
text-transform: uppercase; }

.praise_content { float: left; width: 561px }
.custom .format_text p.praise_end { padding-left: 159px; }