﻿* {
	margin: 0;
	padding: 0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}


strong{
font-weight: 700;
}

em{
font-style: italic;
}

b {
	font-weight:bold;
}

body {
	font: 12px/18px Verdana, sans-serif;
    background: transparent url("../image/top_bg.png")  top center no-repeat;
    /*background: transparent url("../image/newyear.jpg")  top center no-repeat;*/
    color: #333
}
a {
	color: #0091d5;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	
}

p {
	margin: 0 0 18px 	
}


.page_post p {
	margin: 0 0 10px; 
  text-indent: 0px;	
}


.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
 
.alignleft {
   float: left;
   margin-right: 25px;
}
 
.alignright {
   float: right;
   margin-left: 25px;
}

img {
	border: none;
}
input {
	vertical-align: middle;
}


.clr {
    clear: both;
    height: 0;
    overflow: hidden;
    }




.entry ul li {
	margin-bottom:10px;
	list-style: disc;
}


#wrapper1,
#wrapper2 {
    min-width: 481px;
	max-width: 960px;
	margin: 0 auto;

}


#wrapper3 {
    min-width: 481px;
	max-width: 960px;
	margin: 0 auto;
    padding-top: 25px;
}




.line_shadow{
background: transparent url("../image/line_shadow.png") center center no-repeat;
height: 25px;
width: 100%;
margin: 40px 0 20px 0;
}


.pie{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/PIE.htc);
}

.pie_main{
	behavior: url(/PIE.htc);
}

.avant_book{
  font-family: 'avantgardegothicc-book';
}


.gothic{
  font-family: 'Didact Gothic', sans-serif;
}





/* Header
-----------------------------------------------------------------------------*/
#header {
  padding-top: 45px;

}

#header #logo_top {
  height: 76px;
  width: 300px;
  background: transparent url(../image/logo_top3.png) no-repeat top left;
  float: left;
  margin: 0px 0px 0px 0;
}


#header #menu_top
{
margin: 21px 0px 0px 0;
padding: 0px 10px;
background: #fff;
}


#menu_top, #menu_top ul
{
  	font-size: 1.1em;
	list-style: none;
	margin: 0;
	padding:0;
    float: left;
}

#menu_top li
{
	float: left;
	position: relative;
}

#menu_top li a {
    font-size: 1em;
	color: #333;
	line-height: 11px;
	padding: 10px 10px;
	display: block;
	text-align: center;
	text-decoration: none;
}

	#nav li :hover{
	z-index:100;
	color: #fff;
    text-shadow: 0px 0px 1px #1586bb;
    background: #1aa6e8;
	}




.menu-main-container{
margin: 21px 0px 0px 0;

background: #fff;  
float: left; 
}     

.menu li {
list-style: none;
float: left;
}



 

.menu li a{
    font-size: 1.1em;
	color: #333;
	line-height: 11px;
	padding: 10px 10px;
	display: block;
	text-align: left;
	text-decoration: none;
}   


.menu li.fir a{
padding-left: 15px;
-webkit-border-radius: 8px 0px 0px 8px; 
-moz-border-radius: 8px 0px 0px 8px; 
border-radius: 8px 0px 0px 8px;  
}

.menu li.las a{
padding-right: 15px;
-webkit-border-radius: 0px 8px 8px 0px; 
-moz-border-radius: 0px 8px 8px 0px; 
border-radius: 0px 8px 8px 0px;   
}




.menu li a:hover {
	z-index:100;
	color: #fff;
    text-shadow: 0px 0px 1px #1586bb;
    background: #1aa6e8;
}
     
 

.menu li ul li {
float: none;

}




.menu ul{
background: #fff; 
display: none;
border: 1px solid #EAEAEA;
box-shadow: #E1E1E1 1px 2px 2px;
margin: 0;
padding: 0;
position: absolute;
z-index: 10;
}






ul.sub-menu{
padding: 0px 0px 0px 0px;
z-index: 9999;

}

.menu ul li a{  
padding: 10px 20px;
}



.menu ul li a:hover{
	color: #fff;
    text-shadow: 0px 0px 1px #1586bb;
    background: #1aa6e8; 
}




/*
.menu ul li{
list-style-position: inside;
background-image:url('../image/arrow2.jpg');
          background-repeat:no-repeat;
          background-position: center left; 
padding-left:14px;  
}


.menu ul li:hover{    
background-image:url('../image/arrow.jpg');
          background-repeat:no-repeat;
          background-position: center left; 
padding-left:14px;  
}




.menu ul li a{    
border-bottom: #fff 1px dashed;  
}



.menu ul li a:hover{
color: #333;
background: #fff;
text-shadow: 0px 0px 0px;
border-bottom: #f8812c 1px dashed;  
}

*/

















.block_spec{

}

 .blocker_wr{

 }


.blocker{
background: #f6f6f6;
padding: 10px 10px 10px 10px;
word-wrap: break-word;
}


.blocker .title{
color: #1AA6E8;
    font-size: 21px;
    letter-spacing: -1px;
    text-align: center;
    height: 36px;
}



.lit_line{
background: transparent url("../image/lit_line.png") center center no-repeat;
height: 11px;
width: 100%;
margin: 10px 0;
}



.block_shadow{
background: transparent url("../image/block_shadow.png") center center no-repeat;
height: 11px;
width: 100%;
margin: 0px 0 10px;
}


img.zakaz{
  margin-right: 10px;
  float: left;
  height: auto;
  width: 125px;
}


a.zakazat{
  float: left;
margin-top: 15px;
margin-left: 60px;
}









/* Middle
-----------------------------------------------------------------------------*/

#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	float: left;
}


.stat_block{
 background: #f6f6f6;
padding: 10px 10px 10px 10px ;
margin-bottom: 27px;
}

.mir{
  float: left;
  margin-right: 10px;
}


.stat_block .title_stat{      
   color: #1AA6E8;
    font-size: 1.9em;
    line-height: 30px;
    text-transform: uppercase;        
}


.stat_text img{
  float: left;
  margin-right: 10px;
}

.stat_shadow{
background: transparent url("../image/stat_shadow.png")  left center no-repeat;
height: 9px;
width: 100%;
margin: 10px 0;
margin-left: -10px;
}



 .news4_block{
 border: 1px solid #eaeaea;
 -webkit-box-shadow: #f6f6f6 0px 2px 3px;
-moz-box-shadow: #f6f6f6 0px 2px 3px;
box-shadow: #e1e1e1 1px 2px 2px;
}

.news4_block > div{
padding: 10px;
}



.title_news4{
   height: 50px;
   color: #1aa6e8;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 7px;
     overflow: hidden;
    
}

.title_news4 a{  
  color: #1aa6e8; 
}


.title_news4 a.post-edit-link{  
 text-transform: lowercase;
 position: relative;
}


.title_news4.other{
 color: #f66d0e;
 text-transform: uppercase;  
}


.title_news4.other a{  
   color: #f66d0e;
}


 .news4_text { 
   line-height: 19px;
   min-height: 237px;
}



.news4_text img{
 margin-top: 3px;
  margin-right: 5px;
  float: left;
  width: 116px;
  height: auto;     

}




.news4_block a.dalee{
color: #1aa6e8;
    float: right;
    font-size: 15px;
    margin: 10px 5px;
}


.news4_block a.more-link{
font-family: "avantgardegothicc-book";
  font-size: 1.3em;
  float: right;
  margin: 10px 0px 15px;
  color: #1aa6e8;
}

.news4_block a.dalee:hover{
  color: #009c00;
  text-decoration: underline;
}




 /* Категории новости */
 

.category_news_block{
 border: 1px solid #dcdbdb;
 -webkit-box-shadow: #f6f6f6 0px 2px 3px;
-moz-box-shadow: #f6f6f6 0px 2px 3px;
box-shadow: #f6f6f6 0px 2px 3px;
padding: 10px 25px 10px 10px;
background: #f7f7f7;   
}




.title_category_news_block{ 
color: #1AA6E8;
font-size: 1.9em;
line-height: 25px;
text-transform: uppercase; 
}





.title_category_news_block a{  
  color: #1AA6E8;
  text-decoration: none;
}


 .category_news_block_text{
 text-align: justify; 
}




iframe,  
object,  
embed {  
    width: 100%;    
}





.category_news_block_text img{
  margin-right: 5px; 
   float: left; 
    border: 2px solid #92BFD3; 
}


.dalee_coment{
   font-size: 1.2em;
 margin: 10px 0px 35px; 
 display: block;
}
  

.dalee_coment .dalee{ 
  float: right;  
background: #0091D5;
color: #FFFFFF;   
padding: 8px 10px;
text-align: center;
 display: block;
}

.dalee_coment .dalee a{ 
color: #FFFFFF;  
}


.category_news_block a.more-link{
font-family: "avantgardegothicc-book";
  font-size: 1.3em;
  float: right;
  margin: 20px 0px 15px;
  color: #1aa6e8;
}

.dalee_coment .dalee a:hover{ 
  text-decoration: none;
}


.dalee_coment .coment{ 
  float: left;  
background: #0091D5;
color: #FFFFFF;   
padding: 8px 10px;
text-align: center;
 display: block;
}

.dalee_coment .coment a{ 
color: #FFFFFF;  
}

.com { 
float: left;
margin-right: 10px;
vertical-align: middle;
}



/* Sidebar Right
-----------------------------------------------------------------------------*/
#sidebar {
   float: right;
}


#sidebar .socseti{
  margin: 0 auto;
  width: 256px;
  z-index: 15;
  text-align: center;
}

#sidebar .socseti .soc3{
  margin: 0 auto;
  width: 250px;
  z-index: 15;
}







 a.ss1, a.ss2, a.ss3{display: block;  width: 55px; height: 53px; float: left; margin-right: 10px;}
 a.ss1 { background: url(../image/ss1.png);}
 a.ss2 {  background: url(../image/ss2.png);}
 a.ss3 {  background: url(../image/ss3.png);}
 a.ss4 {  background: url(../image/ss4.png); display: block;  width: 55px; height: 53px; float: left;}

.socseti span{
 display: block;
 text-align: center;
 margin: 16px 0;
 font-size: 1.7em;
 color: #1aa6e8;
 text-transform: uppercase;
}


.baner{
	display: block;
	width: 256px;
	margin: 0px auto;
	margin-bottom: 16px;
}

.baner img{
	width: 256px;  
}

.baner_bottom {
	display: block;
	width: 256px;
	margin: 0px auto;
	margin-top: 20px;
}

.baner_bottom img{
	width: 256px;
}


.q-block{
f loat: right;
margin: 17px 0px 0 765px;
color: white;
padding: 0px; 10px 10px 10px;
text-align: center;
display:  block;
position: absolute;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
font-size: 16px;
behavior: url(/PIE.htc);
 
}

.podpiska_single{
  margin: -10px auto 15px;
  width: 620px;
  height:70px;
  background-color: #0091d5;
  border-radius:5px;
  padding: 5px 15px 5px;
  }
.podpiska_single p{
  color:white;
  font-size:17px;
  text-align:center;
  font-family: 'avantgardegothicc-book';
  margin:5px 0px 10px;
  }
.podpiska{
  margin: 0px auto;
  width: 238px;
  color: #fff;
   background: #0091d5;
    padding: 19px 10px 0px;
    text-align: center;
}








.podpiska h3{
color: #ffffff;
font-size: 1.7em;
margin: 0 0 10px;
text-align: center;
text-transform: uppercase;
}



input {
  outline: none;
}



.podpiska ul.bull{
margin: 14px 5px 14px 10px;
padding: 0px;
}


.podpiska ul.bull li{ 
text-align: left;
background: url(../image/pod_bulll.png) 0px 4px no-repeat; 
  padding-left: 25px;  
  overflow-x: visible;
  overflow-y: hidden;
  margin-bottom: 7px; 
}



.podpiska button{
  background: url(../image/podpisat.png) center center no-repeat;
  height: 47px;
  width: 230px;
  cursor: pointer;
border: none;
padding: 0;
margin: 20px 0 30px 0;
  }
  
 
.podpiska input{
background: url(../image/input_bg.jpg) center center no-repeat;
height: 33px;
width: 230px;
cursor: pointer;
padding: 0 0 0 10px; 
margin: 5px 0;  
border: none;  
  } 
  
  
.podpiska .free{
  font-size: 21px;
  line-height: 22px;
  margin: 0 0 14px 0;  
  text-shadow: 0px 0px 1px #0078b0;
}  
  

.podpiska p{
 text-align: left;
}  
  
  
.singl{
 margin: 20px 0 0px 0;
}  
  
.singl .entry{
 text-align: justify;
 margin-top:30px;
}  
  
 
 
 
.singl h2.title{
color: #1AA6E8;
font-size: 3.5em;
line-height: 0.9em;
}
.singl h1.title{
color: #1AA6E8;
font-size: 3.5em;
line-height: 0.9em;
}


.singl .postdate{
color: #969595;
font-size: 1.2em;
margin: 10px 0;
}
  
  
.postmeta{
  border-top: 2px solid #e4e4e4;
  font-size: 1.2em;   
  padding: 25px 0;
  margin-top: 55px;
} 

.postmeta i{
font-style: italic; 
color: #515151;  
} 

.say{ 
  color: #515151;   
  margin-bottom: 3px;
}

.say .says{ 
 font-style: italic; 
}


.say_date{
margin-bottom: 10px;
}

.say_date a{
color: #888888; 
text-decoration: none;    
}



h3#comments{
  font-size: 2.5em;
line-height: 1.2em;
margin: 0 0 25px;
}


.comment-body{
 margin: 15px 0 10px;
 border-bottom: 2px solid #e4e4e4;
 padding-bottom: 18px;
}

.avatar{ 
margin-right: 5px;   
background: #FFFFFF;
border: 1px solid #e4e4e4;  
padding: 5px;
}
  
 
 /* commentlist */
.commentlisted {
	margin: 0;
	padding: 0;
}
.commentlisted li {      
	margin: 0 0 0px;
	list-style: none;    
}  


.commentlisted li.avvv {
   float: left; 
}

.commentlisted li.commm {
 background: #F6F6F6; 
margin: 0px 0px 0px 101px; 
padding: 5px;
text-align: justify;
}


.commentlisted li.commm p{
margin: 13px 16px 18px;
}

.commentlisted ul {
	padding: 0;     
}
  


#respond{
  background: #F6F6F6;   
}  


#respond .stat_shadow{
  margin: 10px 0px 10px -19px;   
} 


#respond .otst{    
  padding: 20px 90px 20px 20px;  
}


#respond input, 
#respond textarea#comment{
 font-size: 1em;
 font-style: italic;
}


#respond input {
color: #999999;
    border: 3px solid #E8E8E8;
    box-shadow: 2px 2px 2px #C9C9C9 inset;
  
    display: block;
    height: 33px;
    margin: 5px 0;
    padding: 0 0 0 10px;
    width: 230px;
    border-radius: 6px 6px 6px 6px;
}

#respond textarea#comment{
color: #000;
width: 97%;   
    border: 3px solid #E8E8E8;
    box-shadow: 2px 2px 2px #C9C9C9 inset;
  
    padding: 5px 0 0 10px;   
    border-radius: 6px 6px 6px 6px;  
}

#respond h3{   
font-size: 1.7em;
margin: 0px 0px 10px;  
}


#respond #submit{
  font-size: 0em;
  background: url(../image/sendd.png) center center no-repeat;
  height: 37px;
  width: 181px;
  cursor: pointer;
border: none;
padding: 0;
margin: 20px 0 30px 0;
float: right;
  }




  

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	
}

#logo_foot {
	height: 58px;
	width: 345px;
	background: transparent url(../image/logo_foot2.png) no-repeat left top;
	float: left;  
	margin-left: 30px;
	margin-top: -20px;
}

#but_foot {
	height: 30px;
	width: 200px;
	float: left;
	background-color: #1A9EDA;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	text-shadow: 1px 1px 3px #001122;
	vertical-align: middle;
	padding: 10px 0 0 0;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 107px;
}

#link_contract {
	text-decoration: none;
	display: block;
	color: #fff;
}

#but_contract {
	height: auto;
	width: auto;
	float: left;
	background-color: #1A9EDA;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	text-shadow: 1px 1px 3px #001122;
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
}

#coll1{
width: 346px;  
float: left;               
margin-right: 10px;
}

#coll1 a #logo_foot{


}



#coll2
{
padding-left: 33px;
float: left;
height: 76px;
}

#footer span{
display: block;
width: 25px;
float: left;
margin-right: 10px;
 }

.skipe img, .mail img, .tel img{  
vertical-align: middle; 
height: 20px;
width: auto;
}

#coll2 a
{
color: #141414; 
}



#coll3{    
float: left;
width: 335px;
margin: 0 auto; 
}

 .mail{ 
  margin-bottom: 5px; 
 }


 
.skipe{
   margin-bottom: 5px;
} 
 
 .tel{  
  
 } 

.schedule {
    margin-left: 34px;
    display: block;
}

.menu-foter_menu-container{

}





          
#menu-foter_menu {  
  list-style: none;  
  font-size: 1em;   
  float: right;
 margin-left: 29px;
 width:280px;
  }  
  
#menu-foter_menu li {
float: left;
margin-right: 0px;
 }

#menu-foter_menu li a {
color: #000;
text-decoration: none;
padding: 2px 5px 3px;
 }

#menu-foter_menu li a:hover{
  background-color:#f0f0f0;
  text-decoration: underline;
  text-shadow: 0px 0px 0px #fff;
      
  }




	/*---search---*/
	.searchbar { 
float: left;  
height: 21px;   
background: #fff;      
border: 2px solid #E4E4E4;
display: block; 
height: 27px;
margin: 5px 0px 20px 59px;
padding: 0px 0px 0px 10px;
width: 160px; 
box-shadow: #E1E1E1 1px 2px 2px; 
    }

.searchbar li { float: left; height: 21px; }

.searchbar .lfield {
width: 82%;
 padding-left: 1px; 
 height: 23px; 
 overflow: hidden; }

.searchbar .lfield input {
      color: #555555;
      float: left;
      height: 23px;   
      width: 95%;
      border: 0 none;
      background: #fff;
      margin-top: 3px; }
    
      

.searchbar .lbtn input { 
width: 22px;
height: 17px; 
margin-top: 5px;
background: url("../image/search.png") no-repeat 0 0px; 
border: 0 none;
 }


.none{
 display: none;
}



/* social_button */

#social_button {
	display:block;
	margin: 5px 5px 10px;
	padding: 5px 0px;
	height: 30px;
	width: 700px;
}

#social_button #bt_vk {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 3px;
}

#social_button #bt_twitter  {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 3px;

}

#social_button #bt_twitter  {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 3px;

}

#social_button #bt_twitter  {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 3px;

}

#bt_facebookr, #bt_mail, #bt_buzz {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 3px;

}

#bt_mail{
	width: 115px;
}

#vk_like {

	display: inline;
}

#social_button #google_1  {
	display: block;
	float: left;
	margin-top: 4px;
	margin-right: 0px;

}

/* social_button */

.flexslider { /*   ~~ чтоб слайдер не спрыгивал*/
 position: relative; 
 height: 390px;    /*   ~~ Height of slides + 10px */
 width: 900px;
}

.flexslider .slides li{
 position: relative; 
}








.slides li .podpiska{  
position: absolute;
right: 0; 
bottom: 0; 
background: url("../image/mig_dostup_2.png") no-repeat 0 0px; 
padding: 0px;     
margin-right: 25px; 
margin-bottom: 35px; 
z-index: 9999;  
  height: 0px;
	width: 234px; 
	overflow: hidden; 
	cursor: pointer;
	-webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;  
 padding: 61px 0 0 0px;
}



 .slides li .podpiska input {
  outline: none;
}

  
 
.slides li .podpiska input{
background: url(../image/hd_input.png) center center no-repeat;
height: 24px;
width: 212px;
cursor: pointer;
padding: 0 0 0 10px; 
margin: 5px 0 0 0;  
border: none;  
  } 
  
  .slides li .podpiska  button{
  background: url(../image/hd_bottom.png) center center no-repeat;
  height: 25px;
  width: 107px;
  cursor: pointer;
border: none;
padding: 0;
margin: 5px 0 0px 0;   
  }




.hochu_business{ 
background: url("../image/slide4but.jpg") no-repeat 0 0px;  
height: 63px;
width:284px; 
float: left;
margin-left: 120px;
margin-top:30px;    
padding: 0px;   
z-index: 999;	
right: 0;     
cursor: pointer; 
}


 
 
.hochu_git{ 
background: url("../image/hochu_git.png") no-repeat 0 0px;  
height: 66px;
width:234px; 
float: right;
margin-right: 50px;    
padding: 0px;   
z-index: 999;	
right: 0;     
cursor: pointer; 
}

.slide5but{ 
background: url("../image/slide5but.jpg") no-repeat 0 0px;  
height: 213px;
width:379px; 
float: right;
margin-right: 165px;
margin-top: -55px;  
padding: 0px;   
z-index: 999;	
right: 0;     
cursor: pointer; 
}

.slide6but{ 
height:270px;
width:473px;
float: right;
margin-right: 148px;
margin-top: -130px;  
padding: 0px;   
z-index: 999;	
right: 0;     
cursor: pointer; 
}

.slide7but{ 
	height: 43px;
	width: 220px; 
	float: right;
	margin-right: 340px;
	margin-top: 111px;
	padding: 0px;   
	z-index: 999;	
	right: 0;     
	cursor: pointer; 
}

.slide-upgrade-but{ 
height: 60px;
width: 269px;
float: right;
margin-right: 35px;
margin-top: 7px;
padding: 0px;
z-index: 999;
right: 0;
cursor: pointer;
}

.slide-fm2-but {
    height: 49px;
    width: 310px;
    float: right;
    margin-right: 61px;
    margin-top: 15px;
    padding: 0px;
    z-index: 999;
    right: 0;
    cursor: pointer;
}

.slide-aef-but {
    height: 56px;
    width: 269px;
    float: right;
    margin-right: 49px;
    margin-top: 52px;
    padding: 0px;
    z-index: 999;
    right: 0;
    cursor: pointer;
}

.slide-by-but {
    height: 56px;
    width: 269px;
    float: right;
    margin-right: 308px;
    margin-top: 52px;
    padding: 0px;
    z-index: 999;
    right: 0;
    cursor: pointer;
}

.slide-2sezon-but {
    height: 53px;
    width: 77px;
    float: right;
    margin-right: 463px;
    margin-top: -74px;
    padding: 0px;
    z-index: 999;
    right: 0;
    cursor: pointer;
}

.slider_mem2{ 
position: absolute;
height: 100%;
width: 100%;  
display: block; 
padding: 24.5% 0px 0px; 
}
      


.slider_mem{ 
position: absolute;
height: 100%;
width: 100%;  
display: block;   
}


.slider_mem .block1{
width: 45%;

height: 100%; 
float: left; 

}


.slider_mem .block1 a, .slider_mem .block2 a{
display: block;
height: 16%;
margin-bottom: 2%;
width: 100%;

}   



.slider_mem .block2{
width: 45%;
height: 100%; 
float: right;   
}



 /* Отзывы */

.block_otz{
width: 288px;
margin: 25px auto;  
}


.block_otz .title{
color: #1AA6E8;
font-size: 1.9em; 
margin-bottom: 15px;  
}



.otzivi{
width: 280px
}


.title_otzivi{  
    font-size: 15px;    
    margin-bottom: 7px;
    float: right;   
    
}



.title_otzivi a{  
  color: #a1a1a1; 
  text-decoration: none;
  font-style: italic;
}


 .otzivi_text { 
   line-height: 19px; 
}



.otzivi_text img{
 margin-top: 3px;
  margin-right: 5px;
  float: left;
  width: 116px;
  height: auto;     
border: 3px solid #fff;
box-shadow: #ccc 0px 2px 3px;
}

 
.otzivi a.dalee{
color: #1AA6E8;
    float: right;
    font-size: 15px;  
}


.otzivi a.dalee:hover{
  color: #009c00;
  text-decoration: underline;
}


a.all_otz {
 
}



.str_otziv{
margin-bottom: 25px;
}





.alignright img, img.alignright { 
margin: 1em 12px 1em 2em;
}

#content h4{ 
font-size: 20px;
margin: 22px 0px;
line-height: 24px;
text-transform: uppercase;
text-align: left;
color: #1AA6E8;
}




.page_post ol, #content ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
    margin-left: 20px;
    margin-right: 20px;
	list-style:disc;
}



.page_post li
{
  font-size: 13px;
  text-align: left;
  color: #121617; 
  margin: 0 0 0 12px;
  padding: 0 0 0 13px;
}

.page_post li ol, .page_post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.page_post ol>li
{
  background: none;
  padding-left: 0;    
  overflow: visible;
}

.page_post ul>li
{
  background-repeat: no-repeat;
  padding-left: 13px;   
  overflow-x: visible;
}




.postspermonth{
 margin: 0 0 20px 0px;
}


 #vk_groups{
 margin: 0px auto;
 }


  img.weig100{
    width: 100%;
  height: auto;  
  }


   img.weig150px{
    width: 125px; 
  }




.stat_text ol {
    counter-reset: li; /* Устанавливаем счетчик */ 
    list-style: decimal;      
    *list-style: decimal; /* Оставляем стандартную нумерацию для IE 6-7 */    
    padding: 0;
    margin-bottom: 20px;    
}  

.stat_text ol li {list-style-position: inside}


.stat_text b { 
font-weight: 700;
 }


.aligncenter,                   
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}



.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
 
.alignleft {
   float: left;
   margin-right: 10px;
}
 
.alignright {
   float: right;
   margin-left: 10px;
}
 
.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}
 
.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}
 
.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}
 
.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
 
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}
 
.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}
 
.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}



 ul.jast{ list-style-type:disc; }

   ul.jast li{margin-left: 10px;}



p.cent{
   text-align: center;
   margin: 10px 0px 10px;
   line-height: 23px;
   }
   
p.cent a{
color: #141414;
}
   

 .lint{
   position: absolute;
   display: none;
 }




ul.jast2{
margin-left: 10px;   
}

ul.jast2 li.perviu{
list-style: none;
padding: 0px 0px 0px 0px;
}



ul.jast2 li {
overflow: visible;
list-style: square;
list-style-position: inside;
padding-left: 13px;
color: #121617;
font-size: 13px;
margin: 0px 0px 0px 12px;
padding: 0px 0px 0px 13px;
text-align: left;
background-image: none;
}

ol{
margin: 0 0 18px;
}

ol li{
list-style-position: inside;
padding-bottom: 2px;
padding-left: 20px;
}



.bolrr{
 font-size: 15px;
}


.bolrr2{
 font-size: 20px;
}


.bord_none{
border: none;
}



img.h200{
max-height: 200px;
max-width: 615px;
}


#related-posts-via-categories-title {
border-top: 2px solid #e4e4e4;
padding-top: 20px;
}

.related-posts-via-categories-list li{
list-style: none !important;
background: url(http://elizavetababanova.com/wp-content/themes/madrom_babanova/image/arrow-same.png) 0 2px no-repeat;
padding-left: 20px;
}

.box-most-content li{
padding-bottom: 8px;
border-bottom: 1px dashed #ccc;
padding-top: 8px;
}

ul.archive-list li{
list-style:none;
}

.iwrapu {
	float:left;
	width:203px;
	margin:0px 5px 0px 5px;
	}
	
.left {
	float:left;
	}

@media (max-width: 825px) and (min-width: 480px)
{
#menu_top, #menu_top ul
{ font-size: 1.05em;}





.none{
 display: block;
}



.button_foot button{
	height: 49px;
	width: 156px;
	cursor: pointer;
	border: none;
	padding: 0;
}

