.juiz_last_tweet_inside{color:#666;width: 256px;margin: 0 auto;padding-top: 25px;}
.juiz_last_tweet_inside ul{position:relative;padding:15px;margin:0;background-color:#e5e5e5;background-image: -webkit-linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));background-image: -moz-linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));background-image: -ms-linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));background-image: -o-linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));-webkit-border-radius:6px;-moz-border-radius:6px; border-radius:6px;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.05);-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.05);box-shadow:1px 1px 3px rgba(0,0,0,0.05);border:1px solid #ddd;}
.juiz_last_tweet_inside ul:after {position:absolute;content:" ";bottom:-12px;left:30px;border-top:12px solid #e5e5e5;border-left:6px solid transparent;border-right:6px solid transparent}
.juiz_last_tweet_inside li{display:block;list-style:none;background:none}
.juiz_last_tweet_inside li+li{margin-top:12px;padding-top:12px;border-top:1px solid #fff;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1) inset;-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1) inset;box-shadow:0 1px 0 rgba(0,0,0,0.1) inset}
.juiz_last_tweet_inside .user_avatar{float:right;height:48px;width:48px;position:relative;margin-right:-10px; z-index:2}
.juiz_last_tweet_inside .user_avatar a{position:absolute;height:48px;width:48px;border:2px solid #fff;top:-23px; right:-13px;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;overflow: hidden;-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.25);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.25);box-shadow:0 0 2px rgba(0, 0, 0, 0.25)}
.juiz_last_tweet_inside .user_avatar a img{border:0 none;max-width:100%;-webkit-border-radius:12px; -moz-border-radius:12px;border-radius:12px}
.juiz_last_tweet_inside .juiz_lt_content{display:block;padding-bottom:5px;line-height:1.5em;border-bottom:1px dashed #ccc;border-color:rgba(0,0,0,0.1);word-wrap:break-word}
.juiz_last_tweet_inside .juiz_lt_content a{padding:0;background:transparent}
.juiz_last_tweet_inside .juiz_action_links {display:block;font-size:.7em; text-align:left;opacity: .5;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-ms-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s;}
.juiz_last_tweet_inside .juiz_action_links:hover {opacity:1;}
.juiz_last_tweet_inside .juiz_action_links a{display:inline-block;text-indent:-9999px;width:22px;height:16px;margin-right:5px;background:transparent url(../img/sprite.png) 2px 0 scroll no-repeat;-webkit-transition:background .25s;-moz-transition:background .25s;-ms-transition:background .25s;-o-transition:background .25s;transition:background .25s;}
.juiz_last_tweet_inside .juiz_action_links .juiz_al_retweet{background-position: 0 -17px}
.juiz_last_tweet_inside .juiz_action_links .juiz_al_fav{width:18px;background-position: 0 -37px}
.juiz_last_tweet_inside .juiz_action_links a:hover,.juiz_last_tweet_inside .juiz_action_links a:focus {background-position: -21px 0;}
.juiz_last_tweet_inside .juiz_action_links .juiz_al_retweet:hover,.juiz_last_tweet_inside .juiz_action_links .juiz_al_retweet:focus{background-position: -27px -17px}
.juiz_last_tweet_inside .juiz_action_links .juiz_al_fav:hover,.juiz_last_tweet_inside .juiz_action_links .juiz_al_fav:focus{background-position: -21px -37px}
.juiz_last_tweet_inside .juiz_ltw_sep {display:none;}
.juiz_last_tweet_inside .juiz_last_tweet_metadata{font-size: 10px}
.juiz_last_tweet_follow_us{min-height:22px;margin:0;padding:7px 0 10px 48px;background:url(../img/twitter.png) 6px 11px no-repeat;font-size:10px}
.juiz_last_tweet_widget .hasjs li+li,.juiz_ltw_autoslide.hasjs li+li{margin-top:0;padding-top:0;border-top:0; -webkit-box-shadow:0 0 0;-moz-box-shadow:0 0 0;box-shadow:0 0 0}
.juiz_ltw_autoslide.hasjs .user_avatar{margin-right:0}
.juiz_ltw_autoslide.hasjs .user_avatar a{top:-10px} 
#juiz_last_tweet_widget-3 {list-style:none;}
#juiz_last_tweet_widget-5 {list-style:none;}