div.wpcf7 {
	margin: 0;
	padding: 40px;
	background: #f7f7f7;
	width: 720px;
	border-radius: 15px;
	font-size:14px;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}

.wpcf7 input {
padding: 10px 15px;
background: #f7f7f7;
color: #484848;
border: 1px solid #ccc;
font-size: 14px;
font-family: Helvetica, Arial;
line-height: 1.5em;
}

.wpcf7 textarea {
padding: 10px 15px;
background: #f7f7f7;
color: #484848;
border: 1px solid #ccc;
font-size: 13px;
font-family: Helvetica, Arial;
line-height: 1.5em;
width:690px;
}

.wpcf7 input:focus,
.wpcf7 textarea:focus{
	background: #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(234,76,136,.4);
	-moz-box-shadow: 0px 0px 3px rgba(234,76,136,.4);
	-o-box-shadow: 0px 0px 3px rgba(234,76,136,.4);
	box-shadow: 0px 0px 3px rgba(234,76,136,.4);
}

.wpcf7 p {
line-height: 2em;
}

.wpcf7 input.wpcf7-file{
border:none;
padding:0;
margin-top:-20px;
}

.wpcf7 input.wpcf7-submit{
padding:10px 15px;
}
