* { 
	border: 0; 
	margin: 0; 
	padding: 0; 
	list-style: none;
	line-height: 1;
} 

body { background: url(../img/bodybg.jpg) no-repeat top #fff; font-family: arial; font-size: 14px; color: #333; min-height:1500px;}

a {
color: #333;
}

input {
	border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #b7b6b6;
    padding: 2px;
}

.header { width:966px; margin:0 auto; }

.logo {float:left;padding-top: 20px;}

.social {float:right;padding-top: 33px;}

.social img {padding-left:5px;}

.pass {
	clear:both;
    margin-left: 400px;
    padding-top: 400px;
}

.video {width:660px; margin:0 auto;text-align: center;padding-top: 312px;padding-left: 44px;}

.header2 { width: 966px;margin: 40px auto;padding-top: 20px;background: #fff;min-height: 350px;}

.left {float:left;padding:20px;}

.right {float:right;background:#fff;width:400px;padding:20px;}


.cent {
text-align: center;
font:14px Verdana, sans-serif;
color:#333;
padding: 30px;
line-height: 26px;
}

.cent a {
color:#333;
}

.block5 { text-align: center; color: #333333; line-height: 49px; font-size: 14px; }

.block6 {padding: 1px 0 1px 0;zoom: 1;height: 50px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;width: 940px;margin: 0 auto; }

.block6 .i { float: left; width: 390px; line-height: 46px; padding: 0 0 0 70px; }

.block6 .i1 { background: url(../img/a1.png) no-repeat 37px center; }

.block6 .i2 { width: 389px; border-left: 1px solid #ccc; background: url(../img/a2.png) no-repeat 27px center; }

.block7 { padding: 1px 0 0 0; height: 115px;border-bottom: 1px solid #ccc;width: 940px;margin: 0 auto;}

.block7 .img { float: left; width: 539px; }

.block7 .facebook { float: left; width: 325px; margin: 53px 0 0 14px; }

.border3 { display: block; height: 1px; background: #ccc; }

.block8 {width: 880px;margin: 0 auto;}
