.jcarousel-skin-tango .jcarousel-container {   
clear: both;    
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}




.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  100%;       
}



.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
  margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {  
 margin-right: 25px;
float: left;    
    width: 23px;
    height: 23px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

   
.jcarousel-skin-tango .jcarousel-prev-horizontal {  
 margin-right: 10px;
float: left;   
    width: 23px;
    height: 23px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

