* {
	margin: 0;
	padding: 0;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}




body {
	font: 12px/18px Verdana, sans-serif;
    background: transparent url("../image/top_bg.png")  top center no-repeat;
}
a {
	color: #0091d5;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}


.clr {
    clear: both;
    height: 0;
    overflow: hidden;
    }



    .alignleft { 
float: left;
margin-right: 5px;
}



#wrapper1,
#wrapper2,
#wrapper3 {
    min-width: 481px;
	max-width: 960px;
	margin: 0 auto;

}





.line_shadow{
background: transparent url("../image/line_shadow.png") center center no-repeat;
height: 25px;
width: 100%;
margin: 10px 0;
}


.pie{
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
behavior: url(/PIE.htc);
}

.avant_book{
  font-family: 'avantgardegothicc-book';
}


.gothic{
  font-family: 'Didact Gothic', sans-serif;
}





/* Header
-----------------------------------------------------------------------------*/
#header {
  padding-top: 45px;

}

#header #logo_top {
  height: 52px;
  width: 337px;
  background: transparent url(../image/logo_top.png) no-repeat top center;
  float: left;
  margin: 0px 26px 0px 0;
}


#header #menu_top
{
margin: 21px 0px 0px 0;
padding: 0px 10px;
background: #f9f8f8;
}


#menu_top, #menu_top ul
{
  	font-size: 1.1em;
	list-style: none;
	margin: 0;
	padding:0;
    float: left;
}

#menu_top li
{
	float: left;
	position: relative;
}

#menu_top li a {
    font-size: 1em;
	color: #000000;
	line-height: 11px;
	padding: 10px 7px;
	display: block;
	text-align: center;
	text-decoration: none;
}

	#nav li :hover{
	z-index:100;
	color: #fff;
    text-shadow: 0px 0px 1px #1586bb;
    background: #1aa6e8;
	}





.block_spec{

}

 .blocker_wr{

 }


.blocker{
background: #f6f6f6;
padding: 10px 10px 10px 10px ;
}


.blocker .title{
  text-align: center;
  font-size: 1.7em;
  color: #1aa6e8;
}



.lit_line{
background: transparent url("../image/lit_line.png") center center no-repeat;
height: 11px;
width: 100%;
margin: 10px 0;
}



.block_shadow{
background: transparent url("../image/block_shadow.png") center center no-repeat;
height: 11px;
width: 100%;
margin: 0px 0 10px;
}


img.zakaz{
  margin-right: 5px;
  float: left;
}


a.zakazat{
  float: right;
  margin-top: 5px;
}









/* Middle
-----------------------------------------------------------------------------*/

#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	float: left;
}


.stat_block{
 background: #f6f6f6;
padding: 10px 10px 10px 10px ;
margin-bottom: 27px;
}

.mir{
  float: left;
  margin-right: 10px;
}


.stat_block .title_stat{
  font-size: 1.7em;
  color: #1aa6e8;
  text-transform: uppercase;
  line-height: 25px;
}


.stat_text img{
  float: left;
  margin-right: 10px;
}

.stat_shadow{
background: transparent url("../image/stat_shadow.png")  left center no-repeat;
height: 9px;
width: 100%;
margin: 10px 0;
margin-left: -10px;
}



 .news4_block{
 border: 1px solid #eaeaea;
 -webkit-box-shadow: #f6f6f6 0px 2px 3px;
-moz-box-shadow: #f6f6f6 0px 2px 3px;
box-shadow: #e1e1e1 1px 2px 2px;
}

.news4_block > div{
padding: 10px;
}



.title_news4{
  font-size: 1.3em;
  color: #f66d0e;
  line-height: 25px;
}

.title_news4 a{  
  color: #f66d0e; 
}



.title_news4.other{
 color: #1aa6e8;
 text-transform: uppercase;  
}


.title_news4.other a{  
   color: #1aa6e8;
}


 .news4_text { 
  min-height: 270px;
}



.news4_text img{
 margin-top: 3px;
  margin-right: 5px;
  float: left;
  width: 116px;
  height: auto;     
border: 3px solid #fff;
box-shadow: #ccc 0px 2px 3px;
}




.news4_block a.dalee{
  font-size: 1.3em;
  float: right;
  margin: 10px 0px 15px;
  color: #1aa6e8;
}


.news4_block a.more-link{
font-family: "avantgardegothicc-book";
  font-size: 1.3em;
  float: right;
  margin: 10px 0px 15px;
  color: #1aa6e8;
}

.news4_block a.dalee:hover{
  color: #009c00;
  text-decoration: underline;
}




 /* Категории новости */
 

.category_news_block{
 border: 1px solid #dcdbdb;
 -webkit-box-shadow: #f6f6f6 0px 2px 3px;
-moz-box-shadow: #f6f6f6 0px 2px 3px;
box-shadow: #f6f6f6 0px 2px 3px;
padding: 10px 25px 10px 10px;
background: #f7f7f7;   
}




.title_category_news_block{ 
color: #1AA6E8;
font-size: 1.9em;
line-height: 25px;
text-transform: uppercase; 
}





.title_category_news_block a{  
  color: #1AA6E8;
  text-decoration: none;
}


 .category_news_block_text{
 text-align: justify; 
}


.category_news_block_text img{
  margin-right: 5px; 
   float: left; 
    border: 1px solid #dcdbdb; 
}


.dalee_coment{
   font-size: 1.2em;
 margin: 10px 0px 35px; 
 display: block;
}
  

.dalee_coment .dalee{ 
  float: right;  
background: #0091D5;
color: #FFFFFF;   
padding: 8px 10px;
text-align: center;
 display: block;
}

.dalee_coment .dalee a{ 
color: #FFFFFF;  
}


.category_news_block a.more-link{
font-family: "avantgardegothicc-book";
  font-size: 1.3em;
  float: right;
  margin: 20px 0px 15px;
  color: #1aa6e8;
}

.dalee_coment .dalee a:hover{ 
  text-decoration: none;
}


.dalee_coment .coment{ 
  float: left;  
background: #0091D5;
color: #FFFFFF;   
padding: 8px 10px;
text-align: center;
 display: block;
}

.dalee_coment .coment a{ 
color: #FFFFFF;  
}

.com { 
float: left;
margin-right: 10px;
vertical-align: middle;
}



/* Sidebar Right
-----------------------------------------------------------------------------*/
#sidebar {
   float: right;
}


#sidebar .socseti{
  margin: 0 auto;
  width: 170px;
  z-index: 15;
}






 a.ss1 { background: url(../image/ss1.png); display: block;  width: 50px; height: 51px; float: left; margin-right: 10px;}
 a.ss2 {  background: url(../image/ss2.png); display: block;  width: 50px; height: 51px; float: left; margin-right: 10px;}
 a.ss3 {  background: url(../image/ss3.png); display: block;  width: 50px; height: 51px; float: left;}

.socseti span{
 display: block;
 text-align: center;
 margin: 16px 0;
 font-size: 1.7em;
 color: #1aa6e8;
 text-transform: uppercase;
}


.baner{
  display: block;
  width: 256px;
  height: 200px;
   background: #f6f6f6;
   margin: 0px auto;
   margin-bottom: 16px;
}


.podpiska{
  margin: 0px auto;
  width: 238px;
  color: #fff;
   background: #0091d5;
    padding: 19px 10px 10px;
    text-align: center;
}

.podpiska h3{
color: #ffffff;
font-size: 1.7em;
margin: 0 0 10px;
text-align: center;
text-transform: uppercase;
}



input {
  outline: none;
}




.podpiska button{
  background: url(../image/podpisat.png) center center no-repeat;
  height: 47px;
  width: 230px;
  cursor: pointer;
border: none;
padding: 0;
margin: 20px 0 30px 0;
  }
  
 
.podpiska input{
background: url(../image/input_bg.jpg) center center no-repeat;
height: 33px;
width: 230px;
cursor: pointer;
padding: 0 0 0 10px; 
margin: 5px 0;  
border: none;  
  } 
  
  
.podpiska .free{
  font-size: 1.6em;
  margin: 0 0 10px 0;
  text-decoration: underline;
  text-shadow: 0px 0px 1px #0078b0;
}  
  

.podpiska p{
 text-align: left;
}  
  
  
.singl{
 margin: 20px 0 0px 0;
}  
  
.singl .entry{
 text-align: justify;
}  
  
 
 
 
.singl h2.title{
color: #1AA6E8;
font-size: 5em;
line-height: 0.9em;
}


.singl .postdate{
color: #969595;
font-size: 1.2em;
margin: 20px 0;
}
  
  
.postmeta{
  border-top: 2px solid #e4e4e4;
  font-size: 1.2em;   
  padding: 25px 0;
  margin-top: 25px;
} 

.postmeta i{
font-style: italic; 
color: #515151;  
} 

.say{ 
  color: #515151;   
  margin-bottom: 3px;
}

.say .says{ 
 font-style: italic; 
}


.say_date{
margin-bottom: 10px;
}

.say_date a{
color: #888888; 
text-decoration: none;    
}



h3#comments{
  font-size: 2.5em;
line-height: 1.2em;
margin: 0 0 25px;
}


.comment-body{
 margin: 15px 0 10px;
 border-bottom: 2px solid #e4e4e4;
 padding-bottom: 18px;
}

.avatar{ 
margin-right: 5px;   
background: #FFFFFF;
border: 1px solid #e4e4e4;  
padding: 5px;
}
  
 
 /* commentlist */
.commentlisted {
	margin: 0;
	padding: 0;
}
.commentlisted li {      
	margin: 0 0 0px;
	list-style: none;    
}  


.commentlisted li.avvv {
   float: left; 
}

.commentlisted li.commm {
 background: #F6F6F6; 
margin: 0px 0px 0px 101px; 
padding: 5px;
text-align: justify;
}

.commentlisted ul {
	padding: 0;     
}

.commentlisted img {
	float: left;
	margin: 0 20px 20px 0;
} 
  


#respond{
  background: #F6F6F6;   
}  


#respond .stat_shadow{
  margin: 10px 0px 10px -19px;   
} 


#respond .otst{    
  padding: 20px 90px 20px 20px;  
}


#respond input, 
#respond textarea#comment{
 font-size: 1em;
 font-style: italic;
}


#respond input{   
border: 2px solid #E4E4E4;
display: block;
cursor: pointer;
height: 33px;
margin: 5px 0px;
padding: 0px 0px 0px 10px;
width: 230px;
box-shadow: #E1E1E1 1px 2px 2px;
}

#respond textarea#comment{
width: 97%;
border: 2px solid #E4E4E4;
box-shadow: #E1E1E1 1px 2px 2px;
padding: 1%;
}

#respond h3{   
font-size: 1.7em;
margin: 0px 0px 10px;  
}


#respond #submit{
  font-size: 0em;
  background: url(../image/sendd.png) center center no-repeat;
  height: 37px;
  width: 181px;
  cursor: pointer;
border: none;
padding: 0;
margin: 20px 0 30px 0;
float: right;
  }




  

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 96px;
}

#logo_foot {
  height: 41px;
  width: 259px;
  background: transparent url(../image/logo_foot.jpg) no-repeat top center;
  float: left;
  margin: 0px 26px 0px 0;
}


#coll2
{
float: left;               
margin-right: 10px;
}

#coll2 span{
 display: block;
width: 35px;
float: left;
margin-right: 10px;
 }

.skipe img, .mail img{
vertical-align: middle;  
}

#coll2 a
{
color: #141414; 
}



          
.foot_menu {  
  list-style: none;  
  font-size: 1em;   
  }  
  
.foot_menu li {
float: left;
margin-right: 10px;
 }

.foot_menu li a {
color: #000;
text-decoration: none;
padding: 2px 5px 3px;
 }

.foot_menu li a:hover{
  color: #1aa6e8;
  text-decoration: underline;    
  }




	/*---search---*/
	.searchbar { 
float: left;   
width: 100%;
height: 21px;   
background: #fff;      
border: 2px solid #E4E4E4;
display: block; 
height: 27px;
margin: 5px 0px 25px 78px;
padding: 0px 0px 0px 10px;
width: 305px; 
box-shadow: #E1E1E1 1px 2px 2px; 
    }

.searchbar li { float: left; height: 21px; }

.searchbar .lfield {
width: 91%;
 padding-left: 1px; 
 height: 23px; 
 overflow: hidden; }

.searchbar .lfield input {
      color: #555555;
      float: left;
      height: 23px;   
      width: 95%;
      border: 0 none;
      background: #fff;
      margin-top: 3px; }
    
      

.searchbar .lbtn input { 
width: 22px;
height: 17px; 
margin-top: 5px;
background: url("../image/search.png") no-repeat 0 0px; 
border: 0 none;
 }


.none{
 display: none;
}



/* social_button */

#social_button {
	display:block;
	margin: 5px;
	padding: 5px 0px;
	height: 30px;
	width: 700px;
}

#social_button #bt_vk {
	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 4px;
}

#social_button #bt_twitter  {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 4px;

}

#social_button #bt_twitter  {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 6px;

}

#social_button #bt_twitter  {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 6px;

}

#bt_facebookr, #bt_mail, #bt_buzz {

	display: block;
	float: left;
	margin-top: 5px;
	margin-right: 6px;

}

#bt_mail{
	width: 115px;
}

#vk_like {

	display: inline;
}

#social_button #google_1  {
	display: block;
	float: left;
	margin-top: 4px;
	margin-right: 6px;

}

/* social_button */









@media (max-width: 825px) and (min-width: 480px)
{
#menu_top, #menu_top ul
{ font-size: 1.05em;}


.foot_menu {  
width: 100%;
  } 

	.searchbar { 
margin: 5px 0px 25px 0px;  
    }

.none{
 display: block;
}

 }




