body { 
	font-family: arial; 
	min-width: 1000px; 
	font-size: 14px; 
	color: #333; 
	background: none;
}

.main {
    width: 960px;
    margin: 0 auto;
}

#div-social {
	width: 700px;
	padding-top: 30px;
	margin: 0 auto;
}

.block8 {
    margin: 10px 0 0 0;
}

.block8 .left {
    float: left;
    width: 400px;
    min-height: 100px;
}

.block8 .right {
    float: right;
    width: 400px;
    min-height: 100px;
}

.footer {
    margin: 64px 0 0 0;
    text-align: center;
    line-height: normal;
    color: #444444;
    padding: 0 0 40px 0;
    font-size: 11px;
}

.footer .text1 {
    margin: 25px 0 0 0;
}

.border6 {
    display: block;
    height: 1px;
    background: #ccc;
}

.menu3 {
    margin: 10px 0 0 0;
}

.menu3 a {
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
}

.menu3 a:hover {
    text-decoration: underline;
}

.clr {
	clear: both;
}

/*
.image {
    margin: 0 auto;
}
*/


/*
-html5 tags like header, footer is working in ie8 and lower
-float: left and right clears automatically
-inline-block is working in internet explorer 7
-internet explorer body class:
.ie7 .class { color: red; }
.ie8lte .class { color: red; }
.ie8 .class { color: red; }
*/

/* start reset css */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; } textarea { overflow: auto; } body { line-height: 1; } ol,ul { list-style: none; } blockquote,q { quotes: none; } blockquote:before,blockquote:after,q:before,q:after { content: none; } table{ border-collapse: collapse; border-spacing: 0; } img { vertical-align: top; } :focus { outline: none; } h1,h2,h3,h4,h5,h6 { font-weight: normal; line-height: normal; } ::-moz-focus-inner { border: 0; }
.clear_auto { clear: both; display: block; height: 0; line-height: 0; font-size: 0; margin: 0; padding: 0; border: 0; } ::-ms-clear { display: none; }
/* end reset css */

/*

a { color: #333; }

p {line-height: 19px;}

a:hover { text-decoration: none; }


.image {
    width: 1000px;
}

.logo {
    width: 217px;
    height: 53px;
    border-style: solid;
}

.apply {
    position: absolute;
    margin-top: -77px;
    margin-left: 351px;
}

.apply_btn {
    width: 300px;
}

.block6 {
    padding: 1px 0 1px 0;
    zoom: 1;
    margin-left: 150px;
}

.block6 .i {
    float: left;
    width: 300px;
    line-height: 46px;
    padding: 0 0 0 50px;
}

.block6 .i1 {
    background: url(../img/a1.png) no-repeat 17px center;
}

.block6 .i2 {
    width: 389px;
    border-left: 1px solid #ccc;
    background: url(../img/a2.png) no-repeat 17px center;
}

.border3 {
    display: block;
    height: 1px;
    background: #ccc;
}

.block7 {
    padding: 1px 0 0 0;
}

.block7 .img {
    float: left;
    width: 539px;
}

.block7 .facebook {
    float: left;
    width: 325px;
    margin: 53px 0 0 14px;
}



*/



